Repository DSpace/DSpace, pull requests merged in 2018-11, with the labels that each got.

#2207 DS-4074: Only use X-Forwarded-For value from known proxies
  dspace-api/src/main/java/org/dspace/authenticate/IPAuthentication.java
  dspace-api/src/main/java/org/dspace/core/factory/CoreServiceFactory.java
  dspace-api/src/main/java/org/dspace/core/factory/CoreServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/google/GoogleRecorderEventListener.java
  dspace-api/src/main/java/org/dspace/service/ClientInfoService.java
  dspace-api/src/main/java/org/dspace/service/impl/ClientInfoServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/util/SpiderDetectorServiceImpl.java
  dspace-api/src/test/java/org/dspace/service/impl/ClientInfoServiceImplTest.java
  dspace-api/src/test/java/org/dspace/statistics/MockSolrLoggerServiceImpl.java
  dspace-api/src/test/java/org/dspace/statistics/util/DummyHttpServletRequest.java
  dspace-api/src/test/java/org/dspace/statistics/util/SpiderDetectorServiceImplTest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenHandler.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/security/jwt/JWTTokenHandlerTest.java
  dspace-spring-rest/src/test/java/org/dspace/statistics/MockSolrLoggerServiceImpl.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
Labels: REST API v7

#1810 [DS-3602] Incremental Update of Legacy Id fields in Solr Statistics
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
  dspace/config/launcher.xml
Labels: backend: Solr, bug, component: statistics, high priority, port to 6.x

#2256 [DS-3602] 6x Port: Incremental Update of Legacy Id fields in Solr Statistics
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
  dspace/config/launcher.xml
Labels: backend: Solr, bug, component: statistics, high priority

#2259 [DS-4075] correct command line usage for solr-upgrade-statistics-6x
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
Labels: quick win

#2260 [DS-4075] (6x) correct command line usage for solr-upgrade-statistics-6x
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
Labels: quick win

#2261 DS-4078
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
Labels: bug, component: versioning, port to master, quick win

#2258 Make the REST URL configurable instead of relying on the request.getUrl
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RootRestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/RootConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/RootRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RootRestResourceControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/converter/RootConverterTest.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/AbstractControllerIntegrationTest.java
  dspace/config/dspace.cfg
Labels: REST API v7

#2262 DS-4078: Bitstreams should keep their formats when being versioned. (Master port)
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
Labels: bug, component: versioning, quick win

#2267 DS-4083 Move all Schema constants to a new MetadataSchemaEnum class
  dspace-api/src/main/java/org/dspace/administer/MetadataImporter.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/DSpaceCSV.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/itemupdate/MetadataUtilities.java
  dspace-api/src/main/java/org/dspace/app/statistics/ReportGenerator.java
  dspace-api/src/main/java/org/dspace/app/util/DCInput.java
  dspace-api/src/main/java/org/dspace/app/util/DCInputsReader.java
  dspace-api/src/main/java/org/dspace/content/Bitstream.java
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Bundle.java
  dspace-api/src/main/java/org/dspace/content/Collection.java
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Community.java
  dspace-api/src/main/java/org/dspace/content/CommunityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/InstallItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Item.java
  dspace-api/src/main/java/org/dspace/content/ItemComparator.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/MetadataSchema.java
  dspace-api/src/main/java/org/dspace/content/MetadataSchemaEnum.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/OAIDCIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/OREDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/QDCCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/SimpleDCDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/packager/PDFPackager.java
  dspace-api/src/main/java/org/dspace/content/packager/PackageUtils.java
  dspace-api/src/main/java/org/dspace/embargo/EmbargoServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/SubscribeCLITool.java
  dspace-api/src/main/java/org/dspace/identifier/HandleIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProviderWithCanonicalHandles.java
  dspace-api/src/main/java/org/dspace/rdf/conversion/MetadataConverterPlugin.java
  dspace-api/src/main/java/org/dspace/workflowbasic/BasicWorkflowServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/AcceptEditRejectAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/FinalEditAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/ReviewAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/ScoreEvaluationAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/SingleUserReviewAction.java
  dspace-api/src/test/java/org/dspace/content/CollectionTest.java
  dspace-api/src/test/java/org/dspace/content/CommunityTest.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-api/src/test/java/org/dspace/content/MetadataFieldTest.java
  dspace-api/src/test/java/org/dspace/content/MetadataSchemaTest.java
  dspace-api/src/test/java/org/dspace/content/MetadataValueTest.java
  dspace-api/src/test/java/org/dspace/content/packager/ITDSpaceAIP.java
  dspace-api/src/test/java/org/dspace/content/packager/PackageUtilsTest.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/CollectionBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/CommunityBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/ItemBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/WorkspaceItemBuilder.java
Labels: component: configurable items

#2274 DS-3455: Delete elasticsearch-statistics-mapping.json (ElasticSearch was removed)
  dspace-api/src/main/resources/org/dspace/statistics/elasticsearch-statistics-mapping.json
Labels: code task, high priority, quick win

#2181 [DS-3990] Curation task runs need per-run parameters.
  dspace-api/src/main/java/org/dspace/ctask/testing/PropertyParameterTestingTask.java
  dspace-api/src/main/java/org/dspace/curate/AbstractCurationTask.java
  dspace-api/src/main/java/org/dspace/curate/CurationCli.java
  dspace-api/src/main/java/org/dspace/curate/Curator.java
  dspace-api/src/test/java/org/dspace/curate/CuratorTest.java
  dspace-api/src/test/java/org/dspace/curate/DummyTask.java
Labels: new feature, tools: curation-tasks

#2168 [DS-3980] Defend against bad MIME type in Email.addAttachment
  dspace-api/src/main/java/org/dspace/core/Email.java
Labels: backend: email-system, bug
