Repository DSpace/DSpace, pull requests merged in 2018-09, with the labels that each got.

#2197 DS-4000: REST API (v5.9) does not run
  dspace-rest/pom.xml
  dspace/modules/rest/pom.xml
Labels: REST API v4-6, bug

#2111 DS-3741 hibernate deprecation fix applied feedback
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/app/requestitem/dao/impl/RequestItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/authorize/dao/impl/ResourcePolicyDAOImpl.java
  dspace-api/src/main/java/org/dspace/checker/dao/impl/ChecksumHistoryDAOImpl.java
  dspace-api/src/main/java/org/dspace/checker/dao/impl/ChecksumResultDAOImpl.java
  dspace-api/src/main/java/org/dspace/checker/dao/impl/MostRecentChecksumDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamFormatDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/CollectionDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/CommunityDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/MetadataFieldDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/MetadataSchemaDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/MetadataValueDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/SiteDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/WorkspaceItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDAO.java
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDSODAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/EPersonDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/Group2GroupCacheDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/GroupDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/RegistrationDataDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/SubscriptionDAOImpl.java
  dspace-api/src/main/java/org/dspace/handle/dao/impl/HandleDAOImpl.java
  dspace-api/src/main/java/org/dspace/harvest/dao/impl/HarvestedCollectionDAOImpl.java
  dspace-api/src/main/java/org/dspace/harvest/dao/impl/HarvestedItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/identifier/dao/impl/DOIDAOImpl.java
  dspace-api/src/main/java/org/dspace/versioning/dao/impl/VersionDAOImpl.java
  dspace-api/src/main/java/org/dspace/versioning/dao/impl/VersionHistoryDAOImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/dao/impl/BasicWorkflowItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/dao/impl/TaskListItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/ClaimedTaskDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/CollectionRoleDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/InProgressUserDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/PoolTaskDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/WorkflowItemRoleDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/XmlWorkflowItemDAOImpl.java
  dspace-api/src/test/java/org/dspace/checker/dao/impl/ChecksumHistoryDAOImplTest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/DiscoverResultConverter.java
  dspace/config/modules/rest.cfg
  dspace/pom.xml
  pom.xml
Labels: backend: Hibernate, code task

#2201 [DS-3664] ImageMagick: Only execute "identify" on first page
  dspace-api/src/main/java/org/dspace/app/mediafilter/ImageMagickThumbnailFilter.java
Labels: interface: command-line, port to master, quick win, tools: media-filters

#2205 [DS-3664] ImageMagick: Only execute "identify" on first page
  dspace-api/src/main/java/org/dspace/app/mediafilter/ImageMagickThumbnailFilter.java
Labels: interface: command-line, quick win, tools: media-filters
