Repository DSpace/DSpace, pull requests merged in 2018-10, with the labels that each got.

#2220 [DS-4020] fix statistics logging issue in DSpace 5.9
  dspace-api/src/main/java/org/dspace/statistics/SolrLogger.java
Labels: bug, component: statistics, quick win

#2188 [DS-3991] made sure that the halbrowser now correctly downloads files
  dspace-spring-rest/src/main/java/org/dspace/app/rest/BitstreamContentRestController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/MultipartFileSender.java
  dspace-spring-rest/src/main/webapp/js/hal/http/client.js
  dspace/config/dspace.cfg
Labels: REST API v7, bug, quick win

#2221 [DS-2948] Port to 5x
  dspace/solr/search/conf/solrconfig.xml
Labels: component: Discovery, quick win

#2230 5.10 Update License
  LICENSES_THIRD_PARTY
  pom.xml
Labels: code task

#2238 /api/config/submissiondefinitions/traditional/collections should return empty list rather than 204 [was#2189]
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/hateoas/DSpaceResource.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
Labels: REST API v7, community-sprint

#2232 Add the ability to create EPerson Group via REST.
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/GroupRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/GroupRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
Labels: REST API v7, community-sprint

#2214 [DS-4012] Support Multiple Dockerfiles in one branch
  Dockerfile.jdk8
  Dockerfile.jdk8-test
  README.md
  dspace/src/main/docker/test/rest_web.xml
  dspace/src/main/docker/test/solr_web.xml
Labels: backend: Docker, code task, port to 6.x, quick win

#2218 [DS-4012] port of 4012 to 6x
  Dockerfile.jdk8
  Dockerfile.jdk8-test
  dspace/src/main/docker/test/rest_web.xml
  dspace/src/main/docker/test/solr_web.xml
Labels: backend: Docker, code task

#2219 [DS-4012] Port DS-4012 to 4x
  Dockerfile.jdk7
  Dockerfile.jdk7-test
  dspace/src/main/docker/test/solr_web.xml
Labels: backend: Docker, code task

#2217 [DS-4012] port to 5x for Jdk7 and 8
  Dockerfile.jdk7
  Dockerfile.jdk7-test
  Dockerfile.jdk8
  Dockerfile.jdk8-test
  dspace/src/main/docker/test/rest_web.xml
  dspace/src/main/docker/test/solr_web.xml
Labels: backend: Docker, code task

#2233 [DS-4031] Updated link to DRIVER guidelines.
  dspace/config/crosswalks/oai/xoai.xml
Labels: bug, interface: OAI-PMH, quick win

#2242 [DS-4031] Updated link to DRIVER guidelines -- 6_x.
  dspace/config/crosswalks/oai/xoai.xml
Labels: bug, interface: OAI-PMH, quick win

#2243 [DS-4031] Updated link to DRIVER guidelines -- 7_x.
  dspace/config/crosswalks/oai/xoai.xml
Labels: bug, interface: OAI-PMH, quick win

#2239 DS-3937 Add support for styling and rows in the submission-forms.xml
  dspace-api/src/main/java/org/dspace/app/util/DCInput.java
  dspace-api/src/main/java/org/dspace/app/util/DCInputSet.java
  dspace-api/src/main/java/org/dspace/app/util/DCInputsReader.java
  dspace-api/src/main/java/org/dspace/app/util/Util.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/MetadataAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/ctask/general/RequiredMetadata.java
  dspace-api/src/main/java/org/dspace/submit/lookup/DSpaceWorkspaceItemOutputGenerator.java
  dspace-api/src/main/java/org/dspace/submit/model/LanguageFormField.java
  dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/SubmissionFormConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/ScopeEnum.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/SubmissionFormFieldRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/SubmissionFormInputTypeRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/SubmissionFormRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/SubmissionFormRowRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/SubmissionVisibilityRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/VisibilityEnum.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/submit/step/DescribeStep.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/submit/step/validation/MetadataValidation.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/MetadataFieldMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/SubmissionFormFieldMatcher.java
  dspace/config/submission-forms.dtd
  dspace/config/submission-forms.xml
Labels: REST API v7, community-sprint

#2167 [DS-3970] Unused, nonexistent configuration property referenced in confusing startup message
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
Labels: backend: configuration, bug, quick win

#2235 DS-4041: Update to Servlet Spec version 3.1.0 in all dependencies
  dspace-api/pom.xml
  dspace-api/src/test/java/org/dspace/statistics/util/DummyHttpServletRequest.java
  dspace-oai/pom.xml
  dspace-oai/src/main/webapp/WEB-INF/web.xml
  dspace-rdf/pom.xml
  dspace-rdf/src/main/webapp/WEB-INF/web.xml
  dspace-rest/pom.xml
  dspace-rest/src/main/webapp/WEB-INF/web.xml
  dspace-services/pom.xml
  dspace-solr/pom.xml
  dspace-sword/pom.xml
  dspace-sword/src/main/webapp/WEB-INF/web.xml
  dspace-swordv2/pom.xml
  dspace-swordv2/src/main/webapp/WEB-INF/web.xml
  dspace/modules/additions/pom.xml
  dspace/modules/oai/pom.xml
  dspace/modules/rdf/pom.xml
  dspace/modules/rest/pom.xml
  dspace/modules/sword/pom.xml
  dspace/modules/swordv2/pom.xml
  dspace/pom.xml
  pom.xml
Labels: code task, quick win

#2247 [DS-3433] Don't scare the admin. when an email Session is not found in JNDI
  dspace-services/src/main/java/org/dspace/services/email/EmailServiceImpl.java
Labels: backend: email-system, improvement, quick win

#2249 Fix DS-4066 by update all IDs to string type in Solr Statistics schema
  dspace/solr/statistics/conf/schema.xml
Labels: backend: Solr, bug, component: statistics, high priority, port to 6.x

#2206 [DS-4010] Removed the escaping on the query parameter for the discove…
  dspace-spring-rest/src/main/java/org/dspace/app/rest/DiscoveryRestController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DiscoveryRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/DiscoverQueryBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/utils/DiscoverQueryBuilderTest.java
Labels: REST API v7, bug, quick win
