Repository DSpace/DSpace, pull requests merged in 2018-12, with the labels that each got.

#2213 DS-4019 Added a check for null when the group of a policy is obtained…
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
Labels: bug, interface: OAI-PMH, port to master, quick win

#2279 [DS-4094] DiscoveryRestController and DiscoveryRestRepository log as ScopeResolver
  dspace-spring-rest/src/main/java/org/dspace/app/rest/DiscoveryRestController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DiscoveryRestRepository.java
Labels: REST API v7, bug

#2284 DS-3914: Fix community defiliation (master)
  dspace-api/src/main/java/org/dspace/administer/CommunityFiliator.java
  dspace-api/src/main/java/org/dspace/content/Community.java
Labels: bug, interface: command-line

#2173 DS-3904 - Add support for startsWith parameters in the browse endpoint
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/BrowseEntryLinkRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/BrowseItemLinkRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
Labels: REST API v7

#2128 Dspace7 opensearch
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/util/service/OpenSearchService.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-spring-rest/src/main/java/org/dspace/app/rest/OpenSearchController.java
  dspace-spring-rest/src/test/java/org/dspace/app/opensearch/OpenSearchControllerDisabledTest.java
  dspace-spring-rest/src/test/java/org/dspace/app/opensearch/OpenSearchControllerTest.java
  dspace/config/dspace.cfg
Labels: REST API v7, community-sprint

#2253 DS-4050 Search method returns 204 NoContent or 200 for empty page if no result.
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
Labels: REST API v7, bug, quick win

#2299 Remove obsolete XMLUI spring configs (from master)
  dspace/config/spring/xmlui/workflow-actions-xmlui.xml
Labels: code task, high priority, quick win

#2288 [DS-4084] - Relationships should link to Items via REST API
  dspace-spring-rest/src/main/java/org/dspace/app/rest/link/relation/RelationshipHalLinkFactory.java
Labels: component: configurable items

#2269 Entities csv import fixes for creating relations
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipTypeServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/RelationshipTypeDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/RelationshipTypeDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipService.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipTypeService.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/ItemConverter.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/csv/CsvImportIT.java
Labels: component: configurable items

#2293 Super Speedy REST API v7 Integration Tests
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerUsageEventListener.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-spring-rest/src/main/java/org/dspace/app/rest/Application.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/DSpaceKernelInitializer.java
  dspace-spring-rest/src/test/java/org/dspace/app/opensearch/OpenSearchControllerDisabledIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/opensearch/OpenSearchControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/BitstreamContentRestControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/AbstractControllerIntegrationTest.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/AbstractDSpaceIntegrationTest.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/AbstractIntegrationTestWithDatabase.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/DSpaceKernelContextCustomizerFactory.java
  dspace-spring-rest/src/test/java/org/dspace/statistics/MockSolrLoggerServiceImpl.java
  dspace-spring-rest/src/test/resources/META-INF/spring.factories
  pom.xml
Labels: REST API v7, bug, code task
