Repository DSpace/DSpace, pull requests merged in 2019-04, with the labels that each got.

#2388 DS-4121: Refactor Entities ITs
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EntityTypeRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipTypeRestControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipTypeRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/AbstractBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/EntityTypeBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/MetadataFieldBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/MetadataSchemaBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/RelationshipTypeBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/csv/CsvImportIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/AbstractEntityIntegrationTest.java
  dspace-spring-rest/src/test/java/org/dspace/core/HibernateTestUtil.java
  dspace-spring-rest/test.csv
Labels: REST API v7, component: configurable items

#2216 DS-4006: Embed membership groups on EPerson REST object
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/EPersonRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/GroupRest.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/EPersonMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/GroupMatcher.java
Labels: REST API v7

#2404 DS-4218 - Support for second "initialize-entities"
  dspace-api/src/main/java/org/dspace/app/util/InitializeEntities.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.0_2018.04.16__dspace-entities.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2018.04.16__dspace-entities.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.0_2018.04.16__dspace-entities.sql
  dspace-api/src/test/data/dspaceFolder/config/entities/relationship-types-update.xml
  dspace-spring-rest/src/test/java/org/dspace/app/rest/InitializeEntitiesIT.java
Labels: REST API v7, component: configurable entities

#2409 Rename virtual bean virtual metadata configuration
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/virtual/Collected.java
  dspace-api/src/main/java/org/dspace/content/virtual/Concatenate.java
  dspace-api/src/main/java/org/dspace/content/virtual/Related.java
  dspace-api/src/main/java/org/dspace/content/virtual/UUIDValue.java
  dspace-api/src/main/java/org/dspace/content/virtual/VirtualMetadataConfiguration.java
  dspace-api/src/main/java/org/dspace/content/virtual/VirtualMetadataPopulator.java
  dspace/config/spring/api/virtual-metadata.xml
Labels: REST API v7, component: configurable entities

#2411 Small improvements to configurable entities
  dspace-api/src/main/java/org/dspace/content/RelationshipMetadataValue.java
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/EntityTypeDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentServiceFactory.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/ItemConverter.java
Labels: REST API v7, component: configurable entities
