Repository DSpace/DSpace, pull requests merged in 2019-10, with the labels that each got.

#2488 Rename properties and support for name variants
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/app/util/InitializeEntities.java
  dspace-api/src/main/java/org/dspace/content/EntityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Relationship.java
  dspace-api/src/main/java/org/dspace/content/RelationshipMetadataService.java
  dspace-api/src/main/java/org/dspace/content/RelationshipMetadataServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipType.java
  dspace-api/src/main/java/org/dspace/content/RelationshipTypeServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/RelationshipTypeDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/RelationshipTypeDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentServiceFactory.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/content/service/EntityService.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipService.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipTypeService.java
  dspace-api/src/main/java/org/dspace/content/virtual/Collected.java
  dspace-api/src/main/java/org/dspace/content/virtual/Concatenate.java
  dspace-api/src/main/java/org/dspace/content/virtual/Related.java
  dspace-api/src/main/java/org/dspace/content/virtual/UUIDValue.java
  dspace-api/src/main/java/org/dspace/content/virtual/VirtualMetadataConfiguration.java
  dspace-api/src/main/java/org/dspace/content/virtual/VirtualMetadataPopulator.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.0_2019.07.31__Retrieval_of_name_variant.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2019.07.31__Retrieval_of_name_variant.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.0_2019.07.31__Retrieval_of_name_variant.sql
  dspace-api/src/test/data/dspaceFolder/config/entities/relationship-types-update.xml
  dspace-api/src/test/data/dspaceFolder/config/entities/relationship-types.dtd
  dspace-api/src/test/data/dspaceFolder/config/entities/relationship-types.xml
  dspace-api/src/test/java/org/dspace/content/EntityServiceImplTest.java
  dspace-api/src/test/java/org/dspace/content/RelationshipMetadataServiceTest.java
  dspace-api/src/test/java/org/dspace/content/RelationshipServiceImplTest.java
  dspace-api/src/test/java/org/dspace/content/RelationshipTypeTest.java
  dspace-api/src/test/java/org/dspace/content/virtual/RelatedTest.java
  dspace-api/src/test/java/org/dspace/content/virtual/VirtualMetadataPopulatorTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RelationshipConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RelationshipTypeConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RelationshipRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RelationshipTypeRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipTypeRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/RelationshipBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/RelationshipTypeBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/MetadataMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/RelationshipTypeMatcher.java
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/api/virtual-metadata.xml
Labels: REST API v7, component: configurable entities

#2523 [DS-4346] 6x: Add default docker-compose file to code base
  .dockerignore
  README.md
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/cli.ingest.yml
  dspace/src/main/docker-compose/local.cfg
  dspace/src/main/docker-compose/xmlui.xconf
Labels: backend: Docker

#2533 [DS-4349] 7x: Migrate Postgres Dockerfiles into code base
  .dockerignore
  dspace/src/main/docker/README.md
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/install-pgcrypto.sh
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto/install-pgcrypto.sh
Labels: backend: Docker

#2534 [DS-4349] 6x: Add Postgres Dockerfiles to code base
  .dockerignore
  dspace/src/main/docker/README.md
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/install-pgcrypto.sh
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto/install-pgcrypto.sh
Labels: backend: Docker

#2540 [DS-4355] 6x: Re-scope .dockerignore excludes
  .dockerignore
Labels: backend: Docker

#2539 [DS-4355] 7x: Re-scope .dockerignore file
  .dockerignore
Labels: backend: Docker

#2541 [DS-4356] Document Dockerfile Manual Build Steps (README change)
  dspace/src/main/docker/README.md
Labels: backend: Docker

#2491 Oai harvesting setup
  dspace-api/src/main/java/org/dspace/app/harvest/Harvest.java
  dspace-api/src/main/java/org/dspace/harvest/HarvestedCollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/harvest/OAIHarvester.java
  dspace-api/src/main/java/org/dspace/harvest/service/HarvestedCollectionService.java
  dspace-api/src/test/java/org/dspace/harvest/MockHarvestedCollectionServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CollectionHarvestSettingsController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/HarvesterMetadataController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/HarvestedCollectionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/harvest/HarvestedCollectionHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/harvest/HarvestedCollectionRestHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/CollectionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/HarvestStatusEnum.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/HarvestTypeEnum.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/HarvestedCollectionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/HarvesterMetadataRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/CollectionResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/HarvestedCollectionResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/HarvesterMetadataResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/HarvestedCollectionRestRepository.java
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/api/core-services-mock.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionHarvestSettingsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/HarvesterMetadataControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/MetadataConfigsMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/harvest/MockHarvestedCollectionServiceImpl.java
Labels: REST API v7

#2542 docker build instructions
  dspace/src/main/docker/README.md
Labels: backend: Docker

#2527 Discovery indexing: Ensuring discovery configuration is used during indexing
  dspace-api/src/main/java/org/dspace/discovery/SearchUtils.java
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfiguration.java
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfigurationService.java
  dspace/config/spring/api/discovery.xml
Labels: component: configurable entities

#2528 Authority control bugfixes
  dspace-api/src/main/java/org/dspace/authority/AuthoritySolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/DSpaceControlledVocabulary.java
  dspace-api/src/main/java/org/dspace/content/authority/InputFormSelfRegisterWrapperAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/SolrAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/service/ChoiceAuthorityService.java
  dspace-api/src/main/java/org/dspace/core/LegacyPluginServiceImpl.java
  dspace-api/src/main/java/org/dspace/core/service/PluginService.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/solr-services.xml
  dspace-api/src/test/java/org/dspace/authority/MockAuthoritySolrServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/AuthorityEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorityEntryValueLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/AuthorityEntryMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/authority/MockAuthoritySolrServiceImpl.java
  dspace/solr/authority/conf/schema.xml
  dspace/solr/authority/conf/solrconfig.xml
Labels: REST API v7

#2517 DS-4342
  dspace-rest/src/main/java/org/dspace/rest/CollectionsResource.java
Labels: REST API v4-6, bug, quick win

#2516 DS-4342
  dspace-rest/src/main/java/org/dspace/rest/CollectionsResource.java
Labels: REST API v4-6, bug, port to master, quick win
