Repository DSpace/DSpace, pull requests merged in 2019-08, with the labels that each got.

#2282 Implemented the Item Mapper functionality
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/ItemDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/MappedCollectionRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/MappedItemRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/MethodNotAllowedException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/MappedCollectionResourceWrapperHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/MappedCollectionRestHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/MappedItemResourceWrapperHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/MappedItemRestHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/MappedCollectionRestWrapper.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/MappedItemRestWrapper.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/CollectionResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/EmbeddedPageHeader.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ItemResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/MappedCollectionResourceWrapper.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/MappedItemResourceWrapper.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MappedCollectionRestRepositoryIT.java
Labels: REST API v7

#2292 DS-4110: fix issue in legacy id cleanup of stats records
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
Labels: backend: Solr, bug, port to master, quick win

#2479 [DS-4110] fix issue in legacy id cleanup of stats records
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
Labels: backend: Solr, bug, quick win

#2481 Travis CI: Continue to use Ubuntu Trusty 14.04
  .travis.yml
Labels: high priority, quick win

#2483 Travis CI: Continue to use Ubuntu Trusty
  .travis.yml
Labels: high priority, quick win

#2482 Travis CI: Continue to use Ubuntu Trusty 14.04
  .travis.yml
Labels: high priority, quick win

#2485 [DS-3422] Remove XMLUI and JSPUI from the official distribution
  dspace/config/news-xmlui.xml
  dspace/config/xmlui.dtd
  dspace/config/xmlui.xconf
Labels: code task, interface: XMLUI, quick win

#2473 implement upload bitstream to archived item
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemUploadController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/BitstreamConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/BitstreamRest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemUploadControllerIT.java
Labels: REST API v7

#2492 Clarify purpose of Bitstream's Sequence ID
  dspace-api/src/main/java/org/dspace/content/Bitstream.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/BitstreamRest.java
Labels: quick win
