Repository DSpace/DSpace, pull requests merged in 2019-02, with the labels that each got.

#2277 Added support for the CRUD operations on the Collection and Community…
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/CollectionConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/CollectionRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/CollectionRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/CommunityRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/CollectionRestEqualityUtils.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/CommunityRestEqualityUtils.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/DSpaceObjectRestEqualityUtils.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/DSpaceObjectUtils.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/CollectionMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/CommunityMatcher.java
Labels: REST API v7

#2307 [DS-4126] Optimize docker builds
  .dockerignore
  Dockerfile.dependencies
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker, port to master, quick win

#2271 [DS-4085] Update abdera-client dependency to 1.1.3
  dspace-swordv2/pom.xml
Labels: bug, high priority, interface: SWORD

#2343 [DS-4164] fixed the bug in the error handling
  dspace-spring-rest/src/main/java/org/dspace/app/rest/OpenSearchController.java
Labels: REST API v7, bug

#2290 Added support for the CRUD operations on the Item rest endpoint
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/exception/UnprocessableEntityException.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/ItemRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/DSpaceObjectRestEqualityUtils.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
Labels: REST API v7

#2333 [DS-4136] Master port: Improve OAI import performance for a large install
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
  dspace/config/modules/oai.cfg
Labels: backend: Hibernate, interface: OAI-PMH

#2291 Manage metadata registry
  dspace-api/src/main/java/org/dspace/content/MetadataSchemaServiceImpl.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/exception/PatchBadRequestException.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/MetadataFieldRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/MetadataSchemaRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/MetadataFieldRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/MetadataSchemaRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/MetadataSchemaRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/MetadatafieldRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/MetadataschemaMatcher.java
Labels: REST API v7

#2342 [DS-4163] XOAI.java skip empty list and dont add it to solr
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
Labels: bug, interface: OAI-PMH, port to master, quick win

#2347 [DS-4163] OAI exception on empty list
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
Labels: bug, interface: OAI-PMH, quick win

#2306 [DS-4120] Add configurable limit to results per page
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfiguration.java
  dspace-jspui/src/main/java/org/dspace/app/webui/discovery/DiscoverUtility.java
  dspace/config/spring/api/discovery.xml
Labels: bug, component: Discovery, high priority, port to master, quick win

#2344 [DS-4126] master: Optimize docker builds
  .dockerignore
  Dockerfile.dependencies
  Dockerfile.jdk8
  Dockerfile.jdk8-test
  dspace/src/main/docker/test/solr_web.xml
Labels: backend: Docker, quick win

#2346 [DS-4126] 4x: Optimize docker builds
  .dockerignore
  Dockerfile.dependencies
  Dockerfile.jdk7
  Dockerfile.jdk7-test
Labels: backend: Docker, quick win

#2345 [DS-4126] 5x: Optimize docker builds
  .dockerignore
  Dockerfile.dependencies-jdk7
  Dockerfile.dependencies-jdk8
  Dockerfile.jdk7
  Dockerfile.jdk7-test
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker, quick win

#2287 DS-4107 Represent DSO metadata as a map in REST
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/DSpaceObjectConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/MetadataConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/MetadataValueConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/DSpaceObjectRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/MetadataEntryRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/MetadataRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/MetadataValueRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/CollectionRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/CommunityRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/GroupRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/DSpaceObjectUtils.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/BitstreamMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/BitstreamMetadataMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/CollectionMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/CollectionMetadataMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/CommunityMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/CommunityMetadataMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/EPersonMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/EPersonMetadataMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/ItemMatcher.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/MetadataMatcher.java
Labels: REST API v7

#2354 [DS-4173] Docker build - set build dir owner to dspace
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker

#2180 [DS-3989] Always capture curation task output.
  dspace-api/src/main/java/org/dspace/ctask/test/WorkflowReportTest.java
  dspace-api/src/main/java/org/dspace/curate/CurationCli.java
  dspace-api/src/main/java/org/dspace/curate/Curator.java
  dspace-api/src/main/java/org/dspace/curate/FileReporter.java
  dspace-api/src/main/java/org/dspace/curate/LogReporter.java
  dspace-api/src/main/java/org/dspace/curate/Reporter.java
  dspace-api/src/main/java/org/dspace/curate/WorkflowCuratorServiceImpl.java
  dspace-api/src/test/java/org/dspace/curate/CuratorTest.java
  dspace-api/src/test/java/org/dspace/curate/ITCurator.java
  dspace-services/src/main/java/org/dspace/servicemanager/config/DSpaceConfigurationService.java
  dspace-services/src/main/java/org/dspace/services/ConfigurationService.java
  dspace/config/modules/submission-curation.cfg
Labels: improvement, tools: curation-tasks
