Repository DSpace/DSpace, pull requests merged in 2019-11, with the labels that each got.

#2553 DS-4358 tests in modules
  dspace-server-webapp/pom.xml
  dspace/modules/additions/pom.xml
  dspace/modules/additions/src/main/java/org/dspace/example/Example.java
  dspace/modules/additions/src/main/java/org/dspace/example/impl/ExampleImpl.java
  dspace/modules/additions/src/test/java/org/dspace/example/ExampleIT.java
  dspace/modules/server/pom.xml
  dspace/modules/server/src/test/java/org/dspace/app/rest/example/ExampleController.java
  dspace/modules/server/src/test/java/org/dspace/app/rest/example/ExampleControllerIT.java
  pom.xml
Labels: REST API v7

#2571 (HIGH PRIORITY) Fix broken master builds
  dspace-server-webapp/pom.xml
  dspace/modules/additions/pom.xml
  dspace/modules/server/pom.xml
  pom.xml
Labels: backend: configuration, high priority

#2572 (HIGH PRIORITY) Ensure test-jar is only a dependency if tests are enabled
  dspace/modules/additions/pom.xml
Labels: backend: configuration, high priority

#2573 Fix build - spring-expression is required at runtime
  pom.xml
Labels: REST API v7

#2582 [DS-4385] Replace <prerequisites> with enforcer rules in POM
  pom.xml
Labels: bug, quick win

#2586 [Docker Build Fix]: Ensure bin scripts ALWAYS have correct line endings
  dspace/bin/.gitattributes
Labels: backend: Docker, backend: configuration, bug, port to 6.x

#2587 [Docker Fix] Ensure the "server" webapp runs on ONLY one path in Docker
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker, improvement

#2561 Entities: configuring whether name variants should be used
  dspace-api/src/main/java/org/dspace/app/util/DCInput.java
  dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionFormConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/submit/SelectableRelationship.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/SubmissionFormFieldMatcher.java
  dspace/config/submission-forms.dtd
  dspace/config/submission-forms.xml
Labels: component: configurable entities

#2585 [DS-4386] fixed the nullpointer issue when an authenticated non-admin…
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
Labels: REST API v7, quick win

#2548 Ds 4317 bundles in rest
  dspace-api/src/main/java/org/dspace/content/BundleServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/BundleService.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V6.0_2015.03.07__DS-2701_Hibernate_migration.sql
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamBundleController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BundleUploadBitstreamController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemAddBundleController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemUploadController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/MappedCollectionRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/MappedItemRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RelationshipRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/BundleConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/BundleRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/BitstreamResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/BundleResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BitstreamRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BundleRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/BundlePatch.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/factories/BundleOperationFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/factories/impl/BundleMoveOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/factories/impl/MovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/RegexUtils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BundleRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BundleUploadBitstreamControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/AbstractBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/AbstractDSpaceObjectBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/BitstreamBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/BundleBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/BitstreamMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/BundleMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ItemMatcher.java
Labels: REST API v7

#2529 Scripts and processes endpoint
  dspace-api/src/main/java/org/dspace/content/ProcessStatus.java
  dspace-api/src/main/java/org/dspace/content/dao/ProcessDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ProcessDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/factory/ProcessServiceFactory.java
  dspace-api/src/main/java/org/dspace/content/factory/impl/ProcessServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/IndexClient.java
  dspace-api/src/main/java/org/dspace/discovery/IndexClientOptions.java
  dspace-api/src/main/java/org/dspace/handle/UpdateHandlePrefix.java
  dspace-api/src/main/java/org/dspace/scripts/DSpaceCommandLineParameter.java
  dspace-api/src/main/java/org/dspace/scripts/DSpaceRunnable.java
  dspace-api/src/main/java/org/dspace/scripts/Process.java
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/handler/DSpaceRunnableHandler.java
  dspace-api/src/main/java/org/dspace/scripts/handler/impl/CommandLineDSpaceRunnableHandler.java
  dspace-api/src/main/java/org/dspace/scripts/service/ProcessService.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.0_2019_06_14__scripts-and-process.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2019_06_14__scripts-and-process.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.0_2019_06_14__scripts-and-process.sql
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/scripts/DSpaceCommandLineParameterTest.java
  dspace-api/src/test/java/org/dspace/scripts/impl/MockDSpaceRunnableScript.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ScriptProcessesController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DSpaceRunnableParameterConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ScriptConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/processes/ParameterConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/processes/ProcessConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/process/ProcessResourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ParameterRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ParameterValueRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ProcessRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RestModel.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ScriptRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ProcessResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ScriptResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ScriptRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/scripts/handler/impl/RestDSpaceRunnableHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ProcessRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ProcessRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScriptRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/AbstractBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/ProcessBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/util/AbstractBuilderCleanupUtil.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ParameterMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ParameterValueMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ProcessMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ScriptMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/scripts/impl/MockDSpaceRunnableScript.java
  dspace/config/hibernate.cfg.xml
  dspace/config/launcher.xml
  dspace/config/spring/api/core-dao-services.xml
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/api/scripts.xml
Labels: REST API v7

#2560 Feature: external sources
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAPublisher.java
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAResponse.java
  dspace-api/src/main/java/org/dspace/app/util/InitializeEntities.java
  dspace-api/src/main/java/org/dspace/authority/factory/AuthorityServiceFactory.java
  dspace-api/src/main/java/org/dspace/authority/orcid/Orcidv2.java
  dspace-api/src/main/java/org/dspace/authority/orcid/Orcidv2AuthorityValue.java
  dspace-api/src/main/java/org/dspace/authority/rest/RestSource.java
  dspace-api/src/main/java/org/dspace/content/authority/SHERPARoMEOJournalTitle.java
  dspace-api/src/main/java/org/dspace/content/authority/SHERPARoMEOProtocol.java
  dspace-api/src/main/java/org/dspace/content/authority/SHERPARoMEOPublisher.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/AIPTechMDCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/MODSDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/MockMetadataValue.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/XSLTDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/dto/MetadataValueDTO.java
  dspace-api/src/main/java/org/dspace/external/OrcidRestConnector.java
  dspace-api/src/main/java/org/dspace/external/factory/ExternalServiceFactory.java
  dspace-api/src/main/java/org/dspace/external/factory/ExternalServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/external/model/ExternalDataObject.java
  dspace-api/src/main/java/org/dspace/external/provider/ExternalDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/LCNameDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/OrcidV2AuthorDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SherpaJournalDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SherpaPublisherDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/orcid/xml/Converter.java
  dspace-api/src/main/java/org/dspace/external/provider/orcid/xml/XMLtoBio.java
  dspace-api/src/main/java/org/dspace/external/service/ExternalDataService.java
  dspace-api/src/main/java/org/dspace/external/service/impl/ExternalDataServiceImpl.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-api/src/test/java/org/dspace/external/provider/impl/MockDataProvider.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ExternalSourcesRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ExternalSourceEntryRestConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ExternalSourceRestConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/MetadataValueDTOConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/MetadataValueDTOListConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/externalsources/ExternalSourceEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/externalsources/ExternalSourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ExternalSourceEntryRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ExternalSourceRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ExternalSourceEntryResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ExternalSourceResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ExternalSourceRestRepository.java
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ExternalSourcesRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ExternalSourceEntryMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ExternalSourceMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/external/provider/impl/MockDataProvider.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/external-services.xml
  dspace/config/spring/api/orcid-authority-services.xml
Labels: REST API v7
