Repository DSpace/DSpace, pull requests merged in 2019-05, with the labels that each got.

#2414 feedback on configurable entities
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/RelationshipRestWrapper.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/hateoas/DSpaceResource.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace/config/spring/api/virtual-metadata.xml
Labels: REST API v7, component: configurable entities

#2422 Entities feedback 2019 05 07
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/InitializeEntitiesIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
Labels: REST API v7, component: configurable entities

#2392 [DS-3658] Configure ReindexerThread disable reindex
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
  dspace/config/modules/discovery.cfg
Labels: backend: Solr, component: Discovery, high priority, improvement, quick win

#2430 DS-4253 Avoid oom during discovery reindex
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, component: Discovery, high priority

#2435 Fix race condition in IT on "master"
  dspace-spring-rest/src/test/java/org/dspace/app/oai/OAIpmhIT.java
Labels: bug, high priority
