Repository DSpace/DSpace, pull requests merged in 2019-07, with the labels that each got.

#2421 [DS-1443] Export structure with structure-builder
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/administer/StructBuilder.java
  dspace-api/src/test/java/org/dspace/administer/StructBuilderIT.java
  dspace-api/src/test/java/org/dspace/administer/package-info.java
Labels: improvement, quick win, tools: export

#1691 DS-3545 mirage2: custom sitemap.xmap is ignored
  dspace/modules/xmlui-mirage2/pom.xml
Labels: bug, interface: XMLUI

#1690 Dspace 6 ds 3545 mirage2: custom sitemap.xmap is ignored
  dspace/modules/xmlui-mirage2/pom.xml
Labels: bug, interface: XMLUI

#2450 Relationship search by label
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RelationshipRestController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/link/relation/RelationshipResourceWrapperHalLinkFactory.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/RelationshipRestWrapper.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/hateoas/RelationshipResourceWrapper.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipTypeRestControllerIT.java
Labels: REST API v7, component: configurable entities

#2397 [DS-3823] Our extensive EHCache configuration is ignored
  dspace-api/src/main/java/org/dspace/app/util/CacheSnooper.java
  dspace-services/src/main/resources/spring/spring-dspace-core-services.xml
  dspace/config/hibernate-ehcache-config.xml
  dspace/config/hibernate.cfg.xml
Labels: backend: Hibernate, bug, high priority

#2456 [DS-4084] - Relationships should link to Items via REST API
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/RelationshipRest.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/csv/CsvImportIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/RelationshipMatcher.java
Labels: REST API v7, component: configurable entities

#2457 Delete relationship Integration Test
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
Labels: REST API v7, component: configurable entities

#2429 DS-4210 Deposit on collection without workflow seems to fail (405 but succeed)
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/CollectionBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/WorkflowItemBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/WorkspaceItemBuilder.java
  dspace/config/dspace.cfg
Labels: REST API v7, bug

#2283 DS-4096: updating owning collections
  dspace-spring-rest/src/main/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/security/DSpaceRestPermission.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/ResourcePolicyBuilder.java
Labels: REST API v7

#2467 [DS-4298] changed the PathVariable for the upload method with uuid to…
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
Labels: REST API v7

#2443 DS-4223 Metadata Schemas for configurable entities
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/ItemBuilder.java
  dspace/config/dspace.cfg
  dspace/config/item-submission.xml
  dspace/config/registries/journal-types.xml
  dspace/config/registries/journalissue-types.xml
  dspace/config/registries/journalvolume-types.xml
  dspace/config/registries/person-types.xml
  dspace/config/registries/project-types.xml
  dspace/config/registries/schema-organization-types.xml
  dspace/config/registries/schema-periodical-types.xml
  dspace/config/registries/schema-person-types.xml
  dspace/config/registries/schema-project-types.xml
  dspace/config/registries/schema-publicationIssue-types.xml
  dspace/config/registries/schema-publicationVolume-types.xml
  dspace/config/spring/api/discovery.xml
  dspace/config/spring/api/virtual-metadata.xml
  dspace/config/submission-forms.xml
Labels: component: configurable entities

#2442 [DS-4266] bitstream format crud
  dspace-api/src/main/java/org/dspace/content/BitstreamFormat.java
  dspace-api/src/main/java/org/dspace/content/BitstreamFormatServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/BitstreamFormatService.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/BitstreamFormatConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/BitstreamFormatRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/BitstreamFormatRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/BitstreamFormatRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/BitstreamFormatBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/BitstreamFormatMatcher.java
Labels: REST API v7

#1992 [DS-3872] More powerful email template language, and a richer set of substituents
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/checker/DailyReportEmailer.java
  dspace-api/src/main/java/org/dspace/core/Email.java
  dspace-spring-rest/src/main/resources/application.properties
  dspace/config/dspace.cfg
  dspace/config/emails/bte_batch_import_error
  dspace/config/emails/bte_batch_import_success
  dspace/config/emails/change_password
  dspace/config/emails/doi_maintenance_error
  dspace/config/emails/export_error
  dspace/config/emails/export_success
  dspace/config/emails/feedback
  dspace/config/emails/flowtask_notify
  dspace/config/emails/harvesting_error
  dspace/config/emails/healthcheck
  dspace/config/emails/internal_error
  dspace/config/emails/register
  dspace/config/emails/registration_notify
  dspace/config/emails/request_item.admin
  dspace/config/emails/request_item.author
  dspace/config/emails/submit_archive
  dspace/config/emails/submit_reject
  dspace/config/emails/submit_task
  dspace/config/emails/subscription
  dspace/config/emails/suggest
Labels: backend: configuration, backend: email-system, improvement

#2460 [DS-3849] REST API items resource returns items in non-deterministic order
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
Labels: REST API v4-6, bug

#2394 [DS-4205] Upgrade to Handle Server v9
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/handle/HandlePlugin.java
  dspace/bin/make-handle-config
  pom.xml
Labels: high priority, identifier: Handles, improvement
