Repository DSpace/DSpace, pull requests merged in 2019-03, with the labels that each got.

#2348 [DS-4167] Migrate update-sequences.sql to `database` command
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/update-sequences.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/README.md
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/update-sequences.sql
  dspace/etc/oracle/README.md
  dspace/etc/oracle/update-sequences.sql
  dspace/etc/oracle/updateseq.sql
  dspace/etc/postgres/README.md
  dspace/src/main/config/build.xml
Labels: backend: FlywayDB, backend: Oracle, backend: Postgres, port to 6.x

#2313 DS-3908 Metadata patch support
  dspace-spring-rest/pom.xml
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/JsonPatchConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/MetadataRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/patch/JsonValueEvaluator.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/BitstreamRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/CollectionRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/CommunityRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceObjectRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/GroupRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/SiteRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/patch/AbstractResourcePatch.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/patch/DSpaceObjectPatch.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/patch/EPersonPatch.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/patch/ItemPatch.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/SiteRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/MetadataPatchSuite.java
  dspace-spring-rest/src/test/resources/org/dspace/app/rest/test/metadata-patch-suite.json
Labels: REST API v7

#2332 Relationship CRUD
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Relationship.java
  dspace-api/src/main/java/org/dspace/content/RelationshipMetadataValue.java
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipService.java
  dspace-api/src/main/java/org/dspace/content/virtual/Collected.java
  dspace-api/src/main/java/org/dspace/content/virtual/Concatenate.java
  dspace-api/src/main/java/org/dspace/content/virtual/Related.java
  dspace-api/src/main/java/org/dspace/content/virtual/UUIDValue.java
  dspace-api/src/main/java/org/dspace/content/virtual/VirtualBean.java
  dspace-api/src/main/java/org/dspace/core/Constants.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/RelationshipConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/RelationshipRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/hateoas/RelationshipResource.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/UriListParsingIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace/config/registries/person-types.xml
  dspace/config/registries/project-types.xml
  dspace/config/registries/relationship-formats.xml
  dspace/config/spring/api/core-services.xml
Labels: REST API v7, component: configurable items

#2208 [DS-4014] added a catch in the DSpaceApiExceptionControllerAdvice for…
  dspace-spring-rest/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/EPersonBuilder.java
Labels: REST API v7, bug

#2367 Refactor Coveralls.io plugin to only run after successful build/test in Travis CI
  .travis.yml
  dspace/pom.xml
Labels: code task, quick win

#2331 Mixing entities and plain-text values
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipService.java
  dspace-api/src/main/java/org/dspace/content/virtual/Collected.java
  dspace-api/src/main/java/org/dspace/content/virtual/Concatenate.java
  dspace-api/src/main/java/org/dspace/content/virtual/Related.java
  dspace-api/src/main/java/org/dspace/content/virtual/UUIDValue.java
  dspace-api/src/main/java/org/dspace/content/virtual/VirtualMetadataPopulator.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/ItemConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/ItemBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/csv/CsvImportIT.java
  dspace/config/spring/api/core-services.xml
Labels: REST API v7, component: configurable items

#2375 Configurable Entities - Item metadata place
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/MetadataValueRest.java
  dspace-spring-rest/src/test/resources/org/dspace/app/rest/test/metadata-patch-suite.json
Labels: REST API v7, component: configurable items

#2058 [DS-3695] Upgrade Solr to 7.3.1.
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/app/util/IndexVersion.java
  dspace-api/src/main/java/org/dspace/authority/AuthoritySearchService.java
  dspace-api/src/main/java/org/dspace/authority/AuthoritySolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/SolrAuthority.java
  dspace-api/src/main/java/org/dspace/discovery/IndexClient.java
  dspace-api/src/main/java/org/dspace/discovery/IndexingService.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsBSAdapter.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataSearches.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataVisits.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataWorkflow.java
  dspace-api/src/main/java/org/dspace/statistics/service/SolrLoggerService.java
  dspace-api/src/main/java/org/dspace/statistics/util/StatisticsImporter.java
  dspace-api/src/main/java/org/dspace/util/SolrImportExport.java
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
  dspace-api/src/test/data/dspaceFolder/solr/solr.xml
  dspace-oai/pom.xml
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
  dspace-oai/src/main/java/org/dspace/xoai/services/api/solr/SolrServerResolver.java
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/solr/DSpaceSolrServerResolver.java
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/xoai/DSpaceItemSolrRepository.java
  dspace-oai/src/main/java/org/dspace/xoai/solr/DSpaceSolrSearch.java
  dspace-oai/src/main/java/org/dspace/xoai/solr/DSpaceSolrServer.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/helpers/stubs/ItemRepositoryBuilder.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/integration/xoai/AbstractDSpaceTest.java
  dspace-solr/pom.xml
  dspace-solr/src/main/java/org/dspace/solr/filters/LocalHostRestrictionFilter.java
  dspace-solr/src/main/webapp/WEB-INF/web.xml
  dspace-spring-rest/pom.xml
  dspace-spring-rest/src/main/resources/application.properties
  dspace-spring-rest/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/test/AbstractIntegrationTestWithDatabase.java
  dspace-spring-rest/src/test/java/org/dspace/discovery/MockSolrServiceImpl.java
  dspace-spring-rest/src/test/java/org/dspace/solr/MockSolrServer.java
  dspace-spring-rest/src/test/java/org/dspace/statistics/MockSolrLoggerServiceImpl.java
  dspace/config/log4j2-solr.xml
  dspace/modules/pom.xml
  dspace/modules/solr/pom.xml
  dspace/solr/authority/conf/schema.xml
  dspace/solr/authority/conf/solrconfig.xml
  dspace/solr/authority/core.properties
  dspace/solr/oai/conf/schema.xml
  dspace/solr/oai/conf/solrconfig.xml
  dspace/solr/oai/core.properties
  dspace/solr/search/conf/schema.xml
  dspace/solr/search/conf/solrconfig.xml
  dspace/solr/search/core.properties
  dspace/solr/solr.xml
  dspace/solr/statistics/conf/schema.xml
  dspace/solr/statistics/conf/solrconfig.xml
  dspace/solr/statistics/core.properties
  dspace/src/main/config/build.xml
  dspace/src/main/docker/local.cfg
  dspace/src/main/docker/solr/Dockerfile
  dspace/src/main/docker/solr/README.md
  dspace/src/main/docker/solr/docker-compose.yml
  pom.xml
Labels: backend: Solr, improvement

#2373 DS-4189 Enhance configuration by environment variables
  dspace-services/src/main/java/org/dspace/servicemanager/config/DSpaceEnvironmentConfiguration.java
  dspace-services/src/main/java/org/dspace/servicemanager/config/DSpaceEnvironmentConfigurationBuilderProvider.java
  dspace/config/config-definition.xml
Labels: backend: configuration

#2383 Feedback on PR-2376
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/app/util/InitializeEntities.java
  dspace-api/src/main/java/org/dspace/content/Relationship.java
  dspace-api/src/main/java/org/dspace/content/RelationshipMetadataValue.java
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipType.java
  dspace-api/src/main/java/org/dspace/content/RelationshipTypeServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipService.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipTypeService.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.0_2018.04.16__dspace-entities.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2018.04.16__dspace-entities.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.0_2018.04.16__dspace-entities.sql
  dspace-spring-rest/src/main/java/org/dspace/app/rest/converter/RelationshipTypeConverter.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/model/RelationshipTypeRest.java
  dspace-spring-rest/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/RelationshipTypeRestRepositoryIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/builder/RelationshipBuilder.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/csv/CsvImportIT.java
  dspace-spring-rest/src/test/java/org/dspace/app/rest/matcher/RelationshipTypeMatcher.java
Labels: REST API v7, component: configurable items

#2184 DS-3658 Configure ReindexerThread disable reindex
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
  dspace/config/modules/discovery.cfg
Labels: backend: Solr, component: Discovery, improvement, port to master, quick win

#2379 DS-4194 Use lazy fetching iterator for long query results
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDAO.java
Labels: bug, component: Discovery, high priority
