Repository DSpace/DSpace, pull requests merged in 2019-09, with the labels that each got.

#2505 [DS-4336] Update ant version in Docker Build (6x)
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker

#2507 [DS-4336] Update ant version in Docker Build (4x)
  Dockerfile.jdk7
  Dockerfile.jdk7-test
Labels: backend: Docker

#2506 [DS-4336] Update ant version in Docker Build (5x)
  Dockerfile.jdk7
  Dockerfile.jdk7-test
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker

#2504 [DS-4336] Update ant version in Docker Build (master)
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker

#2480 [DS-4321] master: docker image dspace/dspace-cli:dspace-7_x
  Dockerfile.cli.jdk8
Labels: backend: Docker

#2476 [DS-4321] 6x: docker image dspace/dspace-cli:dspace-6_x
  Dockerfile.cli.jdk8
Labels: backend: Docker

#2362 [DS-4167] 6x Port: Migrate update-sequences.sql to `database` command
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/README.md
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/update-sequences.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/README.md
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/update-sequences.sql
Labels: backend: Docker, quick win

#2361 [DS-4167] 5x Port: Migrate update-sequences.sql to `database` command
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/README.md
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/update-sequences.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/README.md
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/update-sequences.sql
Labels: backend: Docker, quick win

#2499 Removal of filtered-discovery-page in REST
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/FilteredDiscoveryPageConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredDiscoveryPageRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/FilteredDiscoveryPageResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/FilteredDiscoveryPageRestRepository.java
Labels: REST API v7, component: configurable entities

#2498 [DS-4325]: Rename Discovery configuration for Entities
  dspace/config/spring/api/discovery.xml
Labels: component: configurable entities

#2393 [DS-3695] Solr 7 fixes for upgrading to DSpace 7
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace/solr/search/conf/solrconfig.xml
Labels: backend: Solr, component: Discovery, component: statistics, high priority

#2508 [DS-4338] Remove final smidgeon of Solr source code.
  dspace-api/pom.xml
  dspace-api/src/main/java/org/apache/solr/handler/extraction/ExtractingParams.java
  pom.xml
Labels: backend: Solr, code task, quick win

#2514 DS-4340 Duplicate Headers when bitstream has a comma in the title
  dspace-jspui/src/main/java/org/dspace/app/webui/util/UIUtil.java
Labels: bug, interface: JSPUI, quick win

#2513 DS-4340 Duplicate Headers when bitstream has a comma in the title
  dspace-jspui/src/main/java/org/dspace/app/webui/util/UIUtil.java
Labels: bug, interface: JSPUI, quick win

#2518 [DS-4144] Update node and npm versions for mirage 2 (5.x)
  dspace/modules/xmlui-mirage2/pom.xml
Labels: bug, quick win

#2519 [DS-4144] Update node and npm versions for mirage 2 (6.x)
  dspace/modules/xmlui-mirage2/pom.xml
Labels: improvement, quick win

#2524 [DS-4347] remove solr from ant step in docker build
  Dockerfile.jdk8
  Dockerfile.jdk8-test
Labels: backend: Docker

#2502 Endpoints to collect Statistics
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerUsageEventListener.java
  dspace-api/src/main/java/org/dspace/statistics/service/SolrLoggerService.java
  dspace-api/src/main/java/org/dspace/usage/UsageSearchEvent.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/StatisticsRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SearchEventConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/statistics/StatisticsSupportHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/PageRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RestModel.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/SearchEventRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/SearchResultsRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/StatisticsSupportRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ViewEventRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/SearchEventResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/StatisticsSupportResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ViewEventResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SearchEventRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/StatisticsRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ViewEventRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SearchEventRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ViewEventRestRepositoryIT.java
  dspace/solr/statistics/conf/schema.xml
Labels: REST API v7
