Repository DSpace/DSpace, pull requests merged in 2020-08, with the labels that each got.

#2910 The /authz/authorizations/search/object endpoint sometimes ignores the feature param
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorizationRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CCLicenseFeatureRestIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/EPersonRegistrationFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/LoginOnBehalfOfFeatureRestIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ReinstateFeatureRestIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/WithdrawFeatureRestIT.java
Labels: 1 APPROVAL, authorization

#2909 Support multiple dsoType values in discovery
  dspace-api/src/main/java/org/dspace/discovery/DiscoverQuery.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/DiscoveryRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverFacetResultsConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverFacetsConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverResultConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/DiscoveryRestHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/SearchFacetEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/DiscoveryResultsRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DiscoveryRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/DiscoverQueryBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/utils/DiscoverQueryBuilderTest.java
Labels: 1 APPROVAL, component: Discovery, improvement

#2791 DS-4514 Start new submission by uploading a Bibliographic File (using Live Import)
  dspace-api/src/main/java/org/dspace/importer/external/bibtex/service/BibtexImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/exception/FileMultipleOccurencesException.java
  dspace-api/src/main/java/org/dspace/importer/external/exception/FileSourceException.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/AbstractMetadataFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/service/PubmedImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/service/ImportService.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/AbstractPlainMetadataSource.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/FileSource.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/MetadataSource.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/QuerySource.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/dto/PlainMetadataKeyValueItem.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/dto/PlainMetadataSourceDto.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/bibtex-test-3-entries.bib
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/bibtex-test.bib
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/pubmed-test.xml
  dspace/config/spring/api/bibtex-integration.xml
Labels: e/24

#2911 [Issue 2800] workflowgroup collection links
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/CollectionResourceWorkflowGroupHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/HALResource.java
Labels: 1 APPROVAL, REST API v7

#2114 DS-3946: start-handle-server script fails to remove the lock file
  dspace/bin/start-handle-server
Labels: bug, interface: command-line, port to main, quick win

#2915 [Issue: 2822] Metadata import email parameter changes
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImportCLI.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImportCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/eperson/EPerson.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataImportTest.java
  dspace-api/src/test/java/org/dspace/app/csv/CSVMetadataImportReferenceIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/scripts/handler/impl/RestDSpaceRunnableHandler.java
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/rest/scripts.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/csv/CsvImportIT.java
  dspace-server-webapp/src/test/java/org/dspace/curate/CurationScriptIT.java
Labels: 1 APPROVAL, tools: batch-editing, tools: processes

#2691 Metadata PATCH when mixing plain text and relationship
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipMetadataValue.java
  dspace-api/src/main/java/org/dspace/content/service/DSpaceObjectService.java
  dspace-api/src/test/java/org/dspace/builder/WorkspaceItemBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/MetadataValueRemovePatchOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/PatchMetadataIT.java
Labels: REST API v7, component: configurable entities, improvement

#2858 DS-4061 expose sitemaps and schedule automatic updates
  dspace-api/src/main/java/org/dspace/app/sitemap/GenerateSitemaps.java
  dspace-api/src/main/java/org/dspace/app/sitemap/SitemapsOrgGenerator.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/SitemapRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/MultipartFileSender.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SitemapRestControllerIT.java
  dspace/config/dspace.cfg
Labels: e/24

#2925 72450: AdministratorOfFeature: fixes
  dspace-api/src/test/java/org/dspace/builder/AbstractDSpaceObjectBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ItemBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/AdministratorOfFeature.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/AdministratorFeatureIT.java
Labels: 1 APPROVAL, REST API v7, bug, e/4, high priority

#2899 Metadata field search
  dspace-api/src/main/java/org/dspace/content/MetadataFieldServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/IndexEventConsumer.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexableMetadataField.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/MetadataFieldIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/factory/MetadataFieldIndexFactory.java
  dspace-api/src/test/java/org/dspace/discovery/MetadataFieldIndexFactoryImplTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/MetadataFieldRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/MetadataFieldRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MetadatafieldRestRepositoryIT.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
Labels: bug, component: Discovery
