Repository DSpace/DSpace, pull requests merged in 2020-04, with the labels that each got.

#2729 refactoring max file size
  dspace-server-webapp/src/main/resources/application.properties
Labels: REST API v7, bug

#2021 DS-3888 Respect primary bitstreams with text html mime types in item …
  dspace-xmlui-mirage2/src/main/webapp/xsl/aspect/artifactbrowser/item-view.xsl
Labels: bug, interface: XMLUI

#2732 Allow DSpace's ConfigurationService to override Spring Boot properties
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/DSpaceConfigurationInitializer.java
  dspace-server-webapp/src/main/resources/application.properties
  dspace/config/local.cfg.EXAMPLE
Labels: REST API v7, backend: configuration, improvement

#2737 Upgrade version of m-enforcer-plugin to fix DS-4476
  pom.xml
Labels: backend: configuration, bug, high priority, quick win

#2736 DS-4412 Create Integration Tests to prove that users in the Administrators group get full Admin Rights
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/AdministratorOfFeature.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/AdministratorFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/EnrollAdministratorIT.java
Labels: REST API v7

#2748 [HIGH PRIORITY] Fix broken pagination in Browse endpoints
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/EmbeddedPageHeader.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/model/hateoas/EmbeddedPageHeaderTest.java
Labels: REST API v7, bug, high priority

#2739 [DS-3940] SHERPA API v2 refactor
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAResponse.java
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAService.java
  dspace-api/src/main/java/org/dspace/app/sherpa/submit/SHERPASubmitService.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v1/SHERPAJournal.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v1/SHERPAPublisher.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v1/SHERPAResponse.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAJournal.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPermittedVersion.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPublisher.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPublisherPolicy.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAResponse.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPASystemMetadata.java
  dspace-api/src/main/resources/Messages.properties
  dspace-jspui/src/main/java/org/dspace/app/webui/servlet/SHERPAPublisherPolicyServlet.java
  dspace-jspui/src/main/webapp/sherpa/css/sherpa.css
  dspace-jspui/src/main/webapp/sherpa/sherpa-policy.jsp
  dspace-jspui/src/main/webapp/submit/choose-file.jsp
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/submission/submit/UploadStep.java
  dspace/config/dspace.cfg
Labels: bug

#2720 Upgrade backend to Spring Boot v2.2.6, Spring v5.2.5, Spring HATEOAS v1.0.3
  dspace-api/pom.xml
  dspace-oai/pom.xml
  dspace-rest/pom.xml
  dspace-server-webapp/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BundleUploadBitstreamController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CollectionGroupRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CollectionItemTemplateController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CollectionLogoController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CommunityAdminGroupRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CommunityLogoController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/DiscoverableEndpointsService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/DiscoveryRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ExternalSourcesRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/IdentifierRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemAddBundleController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemTemplateRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RelationshipTypeRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ScriptProcessesController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/StatisticsRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/UUIDLookupRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/WorkflowDefinitionCollectionsLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/WorkflowDefinitionStepsLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/WorkflowStepActionsLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ConverterService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/AuthorityEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/DSpaceResourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/HalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/HalLinkService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/RootHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/SubmissionSectionHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/externalsources/ExternalSourceEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/harvest/HarvestedCollectionHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/FacetConfigurationResourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/FacetsResourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/SearchConfigurationResourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/SearchFacetEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/SearchResultsResourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/search/SearchSupportHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/statistics/StatisticsSupportHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/BaseObjectRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/DSpaceLinkRelationProvider.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/HALResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/projection/EmbedRelsProjection.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BrowseEntryLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BrowseItemLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DiscoveryRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/VersionsLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/RestRepositoryUtils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/converter/ConverterServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/link/search/FacetConfigurationResourceHalLinkFactoryTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/link/search/SearchConfigurationResourceHalLinkFactoryTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractControllerIntegrationTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/utils/DiscoverQueryBuilderTest.java
  dspace/modules/server/pom.xml
  pom.xml
Labels: REST API v7, code task, dependencies, high priority
