Repository DSpace/DSpace, pull requests merged in 2020-09, with the labels that each got.

#2926 Curation task email parameter changes
  dspace-api/src/main/java/org/dspace/curate/Curation.java
  dspace-api/src/main/java/org/dspace/curate/CurationCli.java
  dspace-api/src/main/java/org/dspace/curate/CurationCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/curate/CurationClientOptions.java
  dspace-api/src/main/java/org/dspace/curate/CurationScriptConfiguration.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/curate/CurationTest.java
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/rest/scripts.xml
  dspace-server-webapp/src/test/java/org/dspace/curate/CurationScriptIT.java
  dspace/config/spring/api/scripts.xml
  dspace/config/spring/rest/scripts.xml
Labels: 1 APPROVAL, bug, tools: curation-tasks

#2952 Use getters instead of direct references that may have been uninitialized. #2951
  dspace-api/src/main/java/org/dspace/identifier/DOIIdentifierProvider.java
Labels: 1 APPROVAL, bug, identifier: DOIs, quick win

#2947 Workflow minor fixes
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/WorkspaceItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowFactoryImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/factory/XmlWorkflowFactory.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/Step.java
  dspace-api/src/test/java/org/dspace/xmlworkflow/XmlWorkflowFactoryTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/WorkflowDefinitionCollectionsLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowDefinitionRestRepositoryIT.java
Labels: 1 APPROVAL, component: workflow, quick win

#2933 Cookie preferences & End User Agreement per account - initial registries update
  dspace-api/src/test/java/org/dspace/eperson/EPersonTest.java
  dspace/config/registries/dspace-types.xml
Labels: 1 APPROVAL

#2824 DS-4515 - Start new submission via Search or ID Lookup (using Live Import)
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/external/provider/impl/LiveImportDataProvider.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/metadatamapping/ArXivFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/metadatamapping/contributor/ArXivIdMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/service/ArXivImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/datamodel/Query.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleXpathMetadatumContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/service/AbstractImportMetadataSourceService.java
  dspace-api/src/main/java/org/dspace/submit/lookup/ArXivFileDataLoader.java
  dspace-api/src/main/java/org/dspace/submit/lookup/ArXivOnlineDataLoader.java
  dspace-api/src/main/java/org/dspace/submit/lookup/ArXivService.java
  dspace-api/src/main/java/org/dspace/submit/lookup/ArxivUtils.java
  dspace-api/src/main/java/org/dspace/submit/lookup/PubmedFileDataLoader.java
  dspace-api/src/main/java/org/dspace/submit/lookup/PubmedOnlineDataLoader.java
  dspace-api/src/main/java/org/dspace/submit/lookup/PubmedService.java
  dspace-api/src/main/java/org/dspace/submit/lookup/PubmedUtils.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ConverterService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ExternalSourceRestRepository.java
  dspace/config/spring/api/arxiv-integration.xml
  dspace/config/spring/api/bte.xml
  dspace/config/spring/api/external-services.xml
  dspace/config/spring/api/step-processing-listener.xml
Labels: REST API v7

#2932 [DS-4485] Assure that test with full projection exists for all endpoints
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/CommunityMatcher.java
Labels: 1 APPROVAL, REST API v7

#2955 Minor Test fix: Ensure prior data is cleaned. Fix ordering of params in assert
  dspace-api/src/test/java/org/dspace/curate/CuratorTest.java
Labels: 1 APPROVAL, code task

#2914 DS-4514 Additional Providers - Start new submission by uploading a Bibliographic File (using Live Import)
  dspace-api/src/main/java/org/dspace/importer/external/csv/service/CharacterSeparatedImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/endnote/service/EndnoteImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/EnhancedSimpleMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/MultipleMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/service/PubmedImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/ris/service/RisImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/FileSource.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/csv-missing-field-test.csv
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/csv-test.csv
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/endnote-test.enw
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ris-test.ris
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/tsv-missing-field-test.tsv
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/tsv-test.tsv
  dspace/config/spring/api/bibtex-integration.xml
  dspace/config/spring/api/characterseparated-integration.xml
  dspace/config/spring/api/dublicore-metadata-mapper.xml
  dspace/config/spring/api/endnote-integration.xml
  dspace/config/spring/api/ris-integration.xml
Labels: REST API v7

#2961 Bugfix pr 2760
  dspace-api/src/main/java/org/dspace/app/util/DCInput.java
  dspace-api/src/main/java/org/dspace/app/util/DCInputSet.java
Labels: 1 APPROVAL, bug, quick win

#2963 Bug fix: Bean capitalization fix
  dspace/config/spring/api/external-services.xml
Labels: 1 APPROVAL, bug, high priority

#2792 Refactoring authority framework, value pairs and controlled vocabulary
  dspace-api/src/main/java/org/dspace/content/authority/Choice.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/DCInputAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/DSpaceControlledVocabulary.java
  dspace-api/src/main/java/org/dspace/content/authority/HierarchicalAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/InputFormSelfRegisterWrapperAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/MetadataAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/SampleAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/SolrAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/TestAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/service/ChoiceAuthorityService.java
  dspace-api/src/main/java/org/dspace/core/I18nUtil.java
  dspace-api/src/main/java/org/dspace/core/LegacyPluginServiceImpl.java
  dspace-api/src/main/java/org/dspace/core/NameAwarePlugin.java
  dspace-api/src/main/java/org/dspace/core/SelfNamedPlugin.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceMetadataBrowseIndexingPlugin.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-api/src/test/java/org/dspace/content/authority/DSpaceControlledVocabularyTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionFormConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/VocabularyEntryDetailsRestConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/VocabularyRestConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/LinkNotFoundException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/AuthorityEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/SubmissionFormInputTypeRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/VocabularyEntryDetailsRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/VocabularyEntryRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/VocabularyRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/AuthorityEntryResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/VocabularyEntryDetailsResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/VocabularyEntryResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/VocabularyResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/submit/SelectableMetadata.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorityEntryLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorityEntryValueLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorityRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/VocabularyEntryDetailsChildrenLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/VocabularyEntryDetailsParentLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/VocabularyEntryDetailsRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/VocabularyEntryLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/VocabularyRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/AuthorityUtils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/RegexUtils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RootRestResourceControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/VocabularyEntryDetailsIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/VocabularyRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/SubmissionFormFieldMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/VocabularyEntryDetailsMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/VocabularyMatcher.java
  dspace/config/controlled-vocabularies/controlledvocabulary.xsd
  dspace/config/dspace.cfg
Labels: REST API v7, component: submission, high priority

#2782 DSpace (Solr) Statistics - Usage Reports
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/content/DatasetTimeGenerator.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsBSAdapter.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsData.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataSearches.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataVisits.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataWorkflow.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDisplay.java
  dspace-api/src/main/java/org/dspace/statistics/service/SolrLoggerService.java
  dspace-api/src/main/java/org/dspace/statistics/util/LocationUtils.java
  dspace-api/src/test/java/org/dspace/statistics/MockSolrLoggerServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/StatisticsRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/UsageReportConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UsageReportPointCityRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UsageReportPointCountryRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UsageReportPointDateRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UsageReportPointDsoTotalVisitsRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UsageReportPointRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UsageReportRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/UsageReportResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/StatisticsRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/AuthorizeServicePermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/UsageReportRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/UsageReportUtils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/StatisticsRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/UsageReportMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/UsageReportPointMatcher.java
  dspace/config/modules/solr-statistics.cfg
  dspace/config/modules/usage-statistics.cfg
Labels: component: statistics, new feature

#2930 Default Anonymous READ rights for the site object
  dspace-api/src/main/java/org/dspace/storage/rdbms/SiteServiceInitializer.java
  dspace-api/src/test/java/org/dspace/content/SiteTest.java
Labels: 1 APPROVAL, bug

#2972 Fix shibboleth redirect to work with all allowed origins
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ShibbolethRestController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ShibbolethRestControllerIT.java
Labels: 1 APPROVAL, authentication: Shibboleth, bug

#2960 Bugfix to avoid duplicates in discovery consumer
  dspace-api/src/main/java/org/dspace/discovery/indexobject/AbstractIndexableObject.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexableClaimedTask.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexableDSpaceObject.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexableInProgressSubmission.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexableMetadataField.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexablePoolTask.java
Labels: 1 APPROVAL, bug, component: Discovery, quick win

#2980 (CodeCov.io Alternative) Update Travis/Maven configs to run Unit & Integration Tests in parallel
  .travis.yml
  README.md
  dspace-api/pom.xml
  dspace-server-webapp/pom.xml
  dspace-services/pom.xml
  dspace/modules/additions/pom.xml
  dspace/modules/server/pom.xml
  dspace/pom.xml
  pom.xml
Labels: code task, high priority

#2968 Scrap DSpaceBeanPostProcessor, InitializedService, ShutdownService.
  dspace-services/src/main/java/org/dspace/kernel/ServiceManager.java
  dspace-services/src/main/java/org/dspace/kernel/mixins/InitializedService.java
  dspace-services/src/main/java/org/dspace/kernel/mixins/ShutdownService.java
  dspace-services/src/main/java/org/dspace/servicemanager/DSpaceServiceManager.java
  dspace-services/src/main/java/org/dspace/servicemanager/spring/DSpaceBeanPostProcessor.java
  dspace-services/src/main/java/org/dspace/services/caching/CachingServiceImpl.java
  dspace-services/src/main/java/org/dspace/services/email/EmailServiceImpl.java
  dspace-services/src/main/java/org/dspace/services/events/SystemEventService.java
  dspace-services/src/main/java/org/dspace/services/sessions/StatelessRequestServiceImpl.java
  dspace-services/src/main/resources/spring/spring-dspace-applicationContext.xml
  dspace-services/src/test/java/org/dspace/servicemanager/DSpaceServiceManagerTest.java
  dspace-services/src/test/java/org/dspace/servicemanager/SampleAnnotationBean.java
  dspace-services/src/test/java/org/dspace/servicemanager/fakeservices/FakeService1.java
  dspace-services/src/test/java/org/dspace/servicemanager/fakeservices/FakeService2.java
Labels: 1 APPROVAL, code task, improvement

#2971 Replace FindBugs with SpotBugs.
  dspace-api/pom.xml
  pom.xml
Labels: 1 APPROVAL, Difficulty: low, bug, dependencies, quick win

#2940 Features endpoint - Edit item permissions in REST
  dspace-api/src/main/java/org/dspace/content/CommunityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/CommunityTest.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/AuthorizeServiceRestUtil.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CreateBitstreamFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CreateBundleFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/DeleteFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/EditMetadataFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/MakeDiscoverableFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/MakePrivateFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/MoveFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/PolicyFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/ReorderBitstreamFeature.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/GenericAuthorizationFeatureIT.java
Labels: 1 APPROVAL, REST API v7

#2950 Ensure processes are ordered by ID by default.
  dspace-api/src/main/java/org/dspace/content/dao/impl/ProcessDAOImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ProcessRestRepositoryIT.java
Labels: 1 APPROVAL, bug, tools: processes

#2357 DS-4162. Bower upgrade due to security vulnerability
  dspace-xmlui-mirage2/src/main/webapp/package.json
Labels: bug, interface: XMLUI, quick win

#2977 [DS-2569] Fail gracefully if CC-API is down
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/submission/submit/CCLicenseStep.java
  dspace-xmlui/src/main/webapp/i18n/messages.xml
Labels: bug, quick win

#2985 DS-4552 Update crosswalk according to new guidelines
  dspace/config/crosswalks/DIM2DataCite.xsl
Labels: improvement, quick win

#2986 [DS-4552] Revert PR#2985 "DS-4552 Update crosswalk according to new guidelines"
  dspace/config/crosswalks/DIM2DataCite.xsl
Labels: identifier: DOIs, quick win
