Repository DSpace/DSpace, pull requests merged in 2020-06, with the labels that each got.

#2772 Fixes to Docker and default "dspace.ui.url" per Angular CLI update
  dspace-api/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/ApplicationConfig.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RootRestResourceControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ShibbolethRestControllerIT.java
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/docker-compose-angular.yml
  dspace/src/main/docker-compose/environment.dev.ts
  dspace/src/main/docker-compose/local.cfg
  dspace/src/main/docker/local.cfg
  pom.xml
Labels: backend: Docker, backend: configuration, bug

#2769 Update HAL Browser Dependencies with latest JQuery, Toastr
  dspace-server-webapp/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/webapp/index.html
  dspace-server-webapp/src/main/webapp/js/hal/http/client.js
  dspace-server-webapp/src/main/webapp/login.html
Labels: REST API v7, bug, high priority

#2766 DS-4495 Restricted endpoints are sometimes the only HAL link path to public endpoints
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorityRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ClaimedTaskRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/PoolTaskRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResourcePolicyRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
Labels: REST API v7

#2693 DS-4440 GDPR - Anonymize statistics feature
  dspace-api/src/main/java/org/dspace/statistics/AnonymizeStatistics.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/service/SolrLoggerService.java
  dspace/config/launcher.xml
  dspace/config/modules/usage-statistics.cfg
Labels: component: statistics, new feature

#2776 Rename root properties in REST API v7 to match dspace.cfg configuration
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RootConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/RootHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/process/ProcessResourceHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RootRest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RootRestResourceControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/converter/RootConverterTest.java
Labels: REST API v7, backend: configuration

#2774 DS-4486 Add support/tests for Collection/Community role-based groups for Community/Collection Admins
  dspace-api/src/main/java/org/dspace/app/util/AuthorizeUtil.java
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/AuthorizeService.java
  dspace-api/src/main/java/org/dspace/eperson/GroupServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/GroupRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestAuthenticationProvider.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/GroupRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionGroupRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityAdminGroupRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
Labels: REST API v7

#2778 Pre authorize annotations for subresources
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ConverterService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ExternalSourceEntryRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorizationFeatureRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BundleRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EntityTypeRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/TemplateItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/AuthenticationStatusRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/AuthnRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/AuthorizationFeatureRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/BitstreamFormatRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/BrowseIndexRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/DiscoveryResultRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EntityTypeRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ExternalSourceEntryRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ExternalSourceRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/FacetConfigurationRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/HarvestedCollectionRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/HarvesterMetadataRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/MetadataFieldRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/MetadataSchemaRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/RelationshipRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/RelationshipTypeRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ScriptRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SearchConfigurationRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SearchEventRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SearchResultsRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SearchSupportRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SiteRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/StatisticsSupportRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SubmissionDefinitionRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SubmissionFormRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SubmissionUploadRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SubmissonSectionRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/TemplateItemRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ViewEventRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityExpressionEvaluator.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WorkflowActionRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WorkflowDefinitionRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WorkflowStepRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationFeatureRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ProcessRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/converter/ConverterServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/repository/MockObjectRestRepository.java
Labels: high priority

#2771 DS-4504 Performance issues with finding Collections a user can submit to
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/CollectionService.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceIndexCollectionSubmittersPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CollectionRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/GroupBuilder.java
  dspace/config/spring/api/discovery.xml
  dspace/solr/search/conf/schema.xml
Labels: REST API v7

#2781 Private Bitstreams should still return name, content link
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BitstreamRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/BitstreamMetadataReadPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/BitstreamMatcher.java
Labels: 1 APPROVAL

#2760 DS-4042 Fix implementation and add integration test for wrong patch request to the submission endpoint
  dspace-api/src/main/java/org/dspace/app/util/DCInputSet.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/AbstractRestProcessingStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueMovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueRemovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueReplacePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/CCLicenseStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/CollectionStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/DescribeStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/LicenseStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/UploadStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamMetadataValuePathUtils.java
  dspace-server-webapp/src/main/resources/spring/spring-dspace-core-services.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/WorkspaceItemBuilder.java
Labels: REST API v7

#2794 Configure LGTM for automated code reviews
  .lgtm.yml
Labels: bug, code task

#2730 DS-4342 improve performance when retrieving items from a collection (7.x)
  dspace-rest/src/main/java/org/dspace/rest/CollectionsResource.java
Labels: REST API v4-6, bug, quick win

#2427 remove the condition that is always 'true'
  dspace-api/src/main/java/org/dspace/app/util/IndexVersion.java
Labels: code task, quick win

#2763 DS-4027: New user registration & forgot password
  dspace-api/src/main/java/org/dspace/app/util/AuthorizeUtil.java
  dspace-api/src/main/java/org/dspace/eperson/AccountServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/AccountService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/EPersonRegistrationFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/EPersonRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RegistrationRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/RegistrationResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/EPersonPasswordReplaceOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RegistrationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/EPersonRegistrationFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/jackson/IgnoreJacksonWriteOnlyAccess.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/RegistrationMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/security/EPersonRestPermissionEvaluatorPluginTest.java
Labels: REST API v7, authentication: EPerson, authentication: password, high priority, new feature
