Repository DSpace/DSpace, pull requests merged in 2020-05, with the labels that each got.

#2751 Fix bug running individual tests on `master`
  README.md
  dspace/pom.xml
  pom.xml
Labels: bug

#2747 Account profile management
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/DSpaceObjectMetadataAddOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/DSpaceObjectMetadataCopyOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/DSpaceObjectMetadataMoveOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/DSpaceObjectMetadataPatchUtils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/DSpaceObjectMetadataRemoveOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/DSpaceObjectMetadataReplaceOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
Labels: REST API v7

#2740 Assume login feature
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/LoginOnBehalfOfFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorizationRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/StatelessAuthenticationFilter.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/LoginAsEPersonIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/LoginOnBehalfOfFeatureRestIT.java
Labels: REST API v7

#2755 [DS-3940] New SHERPA - fix for incorrect metadata (publisher policy) URI
  dspace-jspui/src/main/webapp/sherpa/sherpa-policy.jsp
Labels: bug, quick win

#2759 DS-4499 Fix cleanup of test environment in earlier Integration Test
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamFormatRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BundleRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionGroupRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityAdminGroupRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MappedCollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MetadataSchemaRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MetadatafieldRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RestResourceControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SiteRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/AbstractBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/AbstractDSpaceObjectBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/BitstreamBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/BitstreamFormatBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/BundleBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/ClaimedTaskBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/CollectionBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/CommunityBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/EPersonBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/EntityTypeBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/GroupBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/ItemBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/MetadataFieldBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/MetadataSchemaBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/PoolTaskBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/ProcessBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/RelationshipBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/RelationshipTypeBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/ResourcePolicyBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/WorkflowItemBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/WorkspaceItemBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractIntegrationTestWithDatabase.java
Labels: REST API v7

#2735 DS-4473: Configurable whitelist for Access-Control-Allow-Origin, add support for Access-Control-Allow-Credentials
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/ApplicationConfig.java
  dspace/config/modules/rest.cfg
Labels: REST API v7, backend: configuration, bug

#2765 Add JavaDocs to JWTTokenHolder, cleanup and enhance related Tests
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenHandler.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/security/jwt/JWTTokenHandlerTest.java
Labels: code task
