Repository DSpace/DSpace, pull requests merged in 2020-03, with the labels that each got.

#2697 DS-4303: Disable "dspace-rest" from default build. Add more deprecation warnings
  .travis.yml
  Dockerfile
  Dockerfile.cli
  Dockerfile.test
  dspace-rest/README.md
  dspace-rest/src/main/java/org/dspace/rest/RestIndex.java
  dspace-rest/src/main/webapp/WEB-INF/web.xml
  dspace/modules/pom.xml
  pom.xml
Labels: REST API v4-6, code task

#2454 DS-4073 fix. FindByValue should pass in value, not qualifier.
  dspace-api/src/main/java/org/dspace/authority/AuthorityValueServiceImpl.java
Labels: bug, port to 6.x, quick win

#2699 DS-4073 fix. FindByValue should pass in value, not qualifier (dspace-6_x port)
  dspace-api/src/main/java/org/dspace/authority/AuthorityValueServiceImpl.java
Labels: bug, quick win

#2681 [DS-4087] 'dspace structure-builder' errors are too hard to interpret -- 6_x
  dspace-api/src/main/java/org/dspace/administer/StructBuilder.java
Labels: improvement, interface: command-line, tools: import

#2687 DS-4123: ITs to prove access restricted Items cannot be accessed anonymously
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/AuthorizeServicePermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/CommunityBuilder.java
Labels: REST API v7

#2665 DS-4418 remove uuid from resource policy rest
  dspace-api/src/main/java/org/dspace/submit/model/AccessConditionOption.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/access-conditions.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ResourcePolicyConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ResourcePolicyRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UploadBitstreamAccessConditionDTO.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/step/UploadBitstreamRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/SubmissionService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyRemovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyReplacePatchOperation.java
  dspace-server-webapp/src/main/resources/spring/spring-dspace-core-services.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: REST API v7

#2627 [DS-4404] Upgrade Mets crosswalk for oai to xslt 2.0
  dspace/config/crosswalks/oai/metadataFormats/mets.xsl
Labels: bug, high priority, interface: OAI-PMH

#2661 Fix issue with bulkedit.ignore-on-export parameter on DSpaceCSV
  dspace-api/src/main/java/org/dspace/app/bulkedit/DSpaceCSV.java
  dspace/config/modules/bulkedit.cfg
Labels: bug, port to master, quick win, tools: batch-editing

#2463 DS-4291 Properly show results for 0-9 link in browse
  dspace-api/src/main/java/org/dspace/browse/BrowseEngine.java
  dspace-api/src/main/java/org/dspace/browse/BrowseInfo.java
  dspace-api/src/main/java/org/dspace/browse/SolrBrowseDAO.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/ConfigurableBrowse.java
Labels: bug, interface: XMLUI, quick win

#2350 DS-4169: Treat empty language as null in edit item
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/administrative/FlowItemUtils.java
Labels: bug, interface: XMLUI, quick win

#2396 DS-4211: Set Item iterator to emptyIterator() so that it's never null
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExport.java
Labels: bug, port to master, quick win, tools: export

#2556 DS-4029: adds missing keys in Messages.properties for search filters
  dspace-api/src/main/resources/Messages.properties
Labels: bug, interface: JSPUI, quick win

#2705 Ensure *.sh and *.bat files keep line endings by default
  .gitattributes
Labels: bug, quick win

#2708 [DS-4404] Explicitly initialize TransformerFactory with the Saxon transformer in OAI
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/resources/DSpaceResourceResolver.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/stylesheets/AbstractXSLTest.java
Labels: bug, interface: OAI-PMH

#2685 Workflow step definitions: action validation
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/Action.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/AcceptEditRejectAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/FinalEditAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/ProcessingAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/ReviewAction.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ClaimedTaskRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/TaskRestRepositoriesIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
Labels: REST API v7

#2689 DS-4278 Submitters can edit all metadata
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/AuthorizeServicePermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: REST API v7

#2706 Discovery index for private and withdrawn items
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace/config/spring/api/discovery.xml
Labels: REST API v7

#2675 DS-4043 Revisit security layer of submission
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WorkspaceItemRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: REST API v7

#2717 [DS-4462] fix CREATEDATE format using the correct specifiers
  dspace/config/crosswalks/oai/metadataFormats/mets.xsl
Labels: bug, high priority, interface: OAI-PMH, quick win

#2711 Upgrade to Checkstyle v8.30
  checkstyle.xml
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/dao/impl/ResourcePolicyDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/Bitstream.java
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Collection.java
  dspace-api/src/main/java/org/dspace/content/Community.java
  dspace-api/src/main/java/org/dspace/content/DSpaceObject.java
  dspace-api/src/main/java/org/dspace/content/Item.java
  dspace-api/src/main/java/org/dspace/content/WorkspaceItem.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ProcessDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/service/BitstreamService.java
  dspace-api/src/main/java/org/dspace/handle/HandlePlugin.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/BitstreamStorageServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/ReviewAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/XmlWorkflowItemDAOImpl.java
  dspace-api/src/test/java/org/dspace/xmlworkflow/XmlWorkflowFactoryTest.java
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/DSpaceEarliestDateResolver.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CommunityLogoController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OpenSearchController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/step/UploadBitstreamRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResourcePolicyRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/resourcePolicy/ResourcePolicyEndDateReplaceOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ResourcePolicyAdminPermissionEvalutatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/SubmissionService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyAddPatchOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/oai/OAIpmhIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/opensearch/OpenSearchControllerDisabledIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/opensearch/OpenSearchControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/builder/ResourcePolicyBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ResourcePolicyMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/WorkflowDefinitionMatcher.java
  pom.xml
Labels: dependencies, high priority

#2718 Fix checkstyle issues after merge 8.30
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WorkspaceItemRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: high priority, quick win

#2716 DS-4411 Create Integration Tests to prove newly created users have no special rights
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BundleRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemTemplateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionSectionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionUploadsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ViewEventRestRepositoryIT.java
Labels: REST API v7

#2721 Create an initial PR template for DSpace 7
  .github/pull_request_template.md
Labels: code task, high priority

#2651 Dspace 7 shibboleth (REST)
  dspace-api/src/main/java/org/dspace/authenticate/ShibAuthentication.java
  dspace-api/src/main/java/org/dspace/core/Utils.java
  dspace-api/src/test/java/org/dspace/core/UtilsTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/AuthenticationRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ShibbolethRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/AuthnHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/CustomLogoutHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/RestAuthenticationService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ShibbolethAuthenticationFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/StatelessAuthenticationFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/StatelessLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenRestAuthenticationServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ShibbolethRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractControllerIntegrationTest.java
  dspace/config/modules/authentication-shibboleth.cfg
Labels: REST API v7, authentication: Shibboleth

#2724 Update to LICENSE and NOTICE per LYRASIS merger
  LICENSE
  NOTICE
Labels: high priority, port to 6.x

#2566 [DS-3444] JSPUI must keep shibboleth attributes on session renewal
  dspace-jspui/src/main/java/org/dspace/app/webui/util/Authenticate.java
  dspace/config/dspace.cfg
Labels: authentication: Shibboleth, bug, quick win

#2358 DS-3444 JSPUI must keep shibboleth attributes on session renewal
  dspace-jspui/src/main/java/org/dspace/app/webui/util/Authenticate.java
  dspace/config/dspace.cfg
Labels: authentication: Shibboleth, bug, quick win

#2606 [DS-4393] Discovery clean index fix DSpace 6
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, component: Discovery, quick win

#2605 [DS-4393] Discovery clean index fix DSpace 5
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, component: Discovery, quick win

#2707 DS-4122 Create Integration Tests to prove access restricted Communities/Collections cannot be accessed anonymously
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceParentObjectIndexingPlugin.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceResourceRestrictionPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CollectionRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CommunityCollectionLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CommunityRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CommunitySubcommunityLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/CollectionMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/CommunityMatcher.java
  dspace/config/spring/api/discovery.xml
  dspace/solr/search/conf/schema.xml
Labels: REST API v7
