Repository DSpace/DSpace, pull requests merged in 2021-02, with the labels that each got.

#3137 Issue 3055 some renaming
  dspace-api/src/test/java/org/dspace/curate/CurationIT.java
  dspace-api/src/test/java/org/dspace/curate/CuratorReportTest.java
  dspace-api/src/test/java/org/dspace/eperson/GroupServiceImplTest.java
  dspace-api/src/test/java/org/dspace/statistics/export/processor/BitstreamEventProcessorIT.java
  dspace-api/src/test/java/org/dspace/statistics/export/processor/ExportEventProcessorIT.java
  dspace-api/src/test/java/org/dspace/statistics/export/processor/ItemEventProcessorIT.java
Labels: 1 APPROVAL, code task

#3142 Fix bugs in default Journal Hierarchy submission configuration
  dspace/config/submission-forms.xml
Labels: 1 APPROVAL, bug, component: configurable entities, component: submission, configuration

#3146 [3116] Security issue in discovery
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceResourceRestrictionPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverResultConverter.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
Labels: 1 APPROVAL, REST API v7

#3103 Enable Customized CSRF Protection in Spring Security for Server Webapp
  dspace-api/src/test/java/org/dspace/builder/util/AbstractBuilderCleanupUtil.java
  dspace-server-webapp/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/AuthenticationRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceAccessDeniedHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/DSpaceCsrfAuthenticationStrategy.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/DSpaceCsrfTokenRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenRestAuthenticationServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/ApplicationConfig.java
  dspace-server-webapp/src/main/webapp/index.html
  dspace-server-webapp/src/main/webapp/js/hal/http/client.js
  dspace-server-webapp/src/main/webapp/login.html
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/security/DSpaceCsrfTokenRepositoryTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractControllerIntegrationTest.java
  dspace/config/dspace.cfg
  dspace/modules/server/pom.xml
  dspace/src/main/docker/dspace-shibboleth/Dockerfile
  dspace/src/main/docker/dspace-shibboleth/dspace-vhost.conf
  pom.xml
Labels: authentication: EPerson, authentication: Shibboleth, authentication: password, authorization, code task, high priority

#3076 Submission forms migration script
  dspace-api/src/main/java/org/dspace/submit/migration/SubmissionFormsMigration.java
  dspace-api/src/main/java/org/dspace/submit/migration/SubmissionFormsMigrationCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/submit/migration/SubmissionFormsMigrationScriptConfiguration.java
  dspace/config/migration/item-submissions.xsl
  dspace/config/migration/submission-forms.xsl
  dspace/config/spring/api/scripts.xml
  dspace/config/spring/rest/scripts.xml
Labels: 1 APPROVAL, component: submission

#3095 Improve IPv6 support
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/util/IPTable.java
  dspace-api/src/test/java/org/dspace/statistics/util/IPTableTest.java
Labels: authentication: EPerson, backend: Solr, bug, component: statistics, error handling

#3147 Ensure REST API version is prepended with "DSpace"
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RootConverter.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/converter/RootConverterTest.java
Labels: 1 APPROVAL, REST API v7

#3114 REST API changes to embed size
  dspace-api/src/main/java/org/dspace/discovery/indexobject/CollectionIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/CommunityIndexFactoryImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/projection/AbstractProjection.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/projection/CompositeProjection.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/projection/EmbedRelsProjection.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/projection/Projection.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CommunityCollectionLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CommunitySubcommunityLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/BitstreamMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/projection/MockProjection.java
Labels: REST API v7

#3105 Self links contain embed params
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RestResourceController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RestResourceControllerIT.java
Labels: 1 APPROVAL, REST API v7, bug, e/2

#3149 Deeper membership don't work due to group2groupcache be out of sync
  dspace-api/src/main/java/org/dspace/eperson/service/GroupService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/GroupRestController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
Labels: 1 APPROVAL, bug

#3154 Ensure HAL Browser is checking for CSRF token changes during error responses
  dspace-server-webapp/src/main/webapp/js/hal/http/client.js
  dspace-server-webapp/src/main/webapp/login.html
Labels: 1 APPROVAL, REST API v7, bug

#3003 Deleting items with min relationship
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/RelationshipService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: 1 APPROVAL, component: configurable entities

#2773 DS-3940 SHERPA v2 API (main port)
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAJournal.java
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAPublisher.java
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAResponse.java
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAService.java
  dspace-api/src/main/java/org/dspace/app/sherpa/submit/SHERPASubmitService.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAJournal.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPermittedVersion.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPublisher.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPublisherPolicy.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPublisherResponse.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAResponse.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPASystemMetadata.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAUtils.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SHERPAv2JournalDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SHERPAv2JournalISSNDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SHERPAv2PublisherDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SherpaJournalDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SherpaPublisherDataProvider.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/sherpa.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/spring-dspace-addon-sherpa-services.xml
  dspace-api/src/test/java/org/dspace/app/sherpa/MockSHERPAService.java
  dspace-api/src/test/java/org/dspace/app/sherpa/SHERPADataProviderTest.java
  dspace-api/src/test/java/org/dspace/app/sherpa/SHERPAServiceTest.java
  dspace-api/src/test/java/org/dspace/app/sherpa/submit/SHERPASubmitServiceTest.java
  dspace-api/src/test/resources/org/dspace/app/sherpa/plos.json
  dspace-api/src/test/resources/org/dspace/app/sherpa/thelancet.json
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ExternalSourcesRestControllerIT.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/external-services.xml
Labels: improvement

#3153 Fix ability to run partial migrations (i.e. ./dspace database migrate [version]) during PR testing
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
Labels: 1 APPROVAL, backend: FlywayDB, bug

#3106 OAI OpenAIRE: addressing issue 3097 with access rights
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
Labels: 1 APPROVAL, bug, interface: OAI-PMH, low priority

#3151 Bitstream format retrieval for restricted files
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BitstreamFormatLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
Labels: 1 APPROVAL, REST API v7

#3144 Remove Traditional/Basic Workflow from codebase and database
  dspace-api/src/main/java/org/dspace/curate/Curation.java
  dspace-api/src/main/java/org/dspace/curate/WorkflowCuratorServiceImpl.java
  dspace-api/src/main/java/org/dspace/curate/factory/CurateServiceFactory.java
  dspace-api/src/main/java/org/dspace/curate/factory/CurateServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/curate/service/WorkflowCuratorService.java
  dspace-api/src/main/java/org/dspace/eperson/EPersonServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/EPersonService.java
  dspace-api/src/main/java/org/dspace/health/ItemCheck.java
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseRegistryUpdater.java
  dspace-api/src/main/java/org/dspace/storage/rdbms/migration/V7_0_2018_04_03__Upgrade_Workflow_Policy.java
  dspace-api/src/main/java/org/dspace/storage/rdbms/xmlworkflow/V5_0_2014_11_04__Enable_XMLWorkflow_Migration.java
  dspace-api/src/main/java/org/dspace/storage/rdbms/xmlworkflow/V6_0_2015_09_01__DS_2701_Enable_XMLWorkflow_Migration.java
  dspace-api/src/main/java/org/dspace/workflow/WorkflowItem.java
  dspace-api/src/main/java/org/dspace/workflowbasic/BasicWorkflowItem.java
  dspace-api/src/main/java/org/dspace/workflowbasic/BasicWorkflowItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/BasicWorkflowServiceImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/TaskListItem.java
  dspace-api/src/main/java/org/dspace/workflowbasic/TaskListItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/dao/BasicWorkflowItemDAO.java
  dspace-api/src/main/java/org/dspace/workflowbasic/dao/TaskListItemDAO.java
  dspace-api/src/main/java/org/dspace/workflowbasic/dao/impl/BasicWorkflowItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/dao/impl/TaskListItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/factory/BasicWorkflowServiceFactory.java
  dspace-api/src/main/java/org/dspace/workflowbasic/factory/BasicWorkflowServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/workflowbasic/service/BasicWorkflowItemService.java
  dspace-api/src/main/java/org/dspace/workflowbasic/service/BasicWorkflowService.java
  dspace-api/src/main/java/org/dspace/workflowbasic/service/TaskListItemService.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/XmlWorkflowItem.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.0_2021.01.22__Remove_basic_workflow.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2021.01.22__Remove_basic_workflow.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.0_2021.01.22__Remove_basic_workflow.sql
  dspace-api/src/test/java/org/dspace/builder/ClaimedTaskBuilder.java
  dspace-api/src/test/java/org/dspace/eperson/EPersonInWorkflowIT.java
  dspace-api/src/test/java/org/dspace/workflowbasic/BasicWorkflowAuthorizationIT.java
  dspace-api/src/test/java/org/dspace/workflowbasic/BasicWorkflowAuthorizationRolesIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ClaimedTaskRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/PoolTaskRestRepository.java
  dspace/bin/dspace-info.pl
  dspace/config/spring/api/core-dao-services.xml
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/core-services.xml
Labels: code task, component: workflow

#3136 Submission embargo fix by removing group select
  dspace-api/src/main/java/org/dspace/submit/model/AccessConditionOption.java
  dspace-api/src/main/java/org/dspace/util/DateMathParser.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/access-conditions.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/AccessConditionOptionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/UploadBitstreamAccessConditionDTO.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionUploadRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/SubmissionService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyReplacePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyUtils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace/config/spring/api/access-conditions.xml
Labels: REST API v7, component: submission

#3020 Upgrade to latest Guava (v30) and Solr (v8) to resolve security alerts
  docker-compose.yml
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/discovery/SolrSearchCore.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/storage/rdbms/RegistryUpdater.java
  dspace-api/src/main/resources/spring/spring-dspace-core-services.xml
  dspace-api/src/test/java/org/dspace/solr/MockSolrServer.java
  dspace-oai/pom.xml
  dspace-oai/src/main/java/org/dspace/xoai/filter/DSpaceAtLeastOneMetadataFilter.java
  dspace-oai/src/main/java/org/dspace/xoai/filter/DateFromFilter.java
  dspace-oai/src/main/java/org/dspace/xoai/filter/DateUntilFilter.java
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/DSpaceServiceResolver.java
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/xoai/DSpaceItemSolrRepository.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/integration/xoai/PipelineTest.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/unit/services/impl/AbstractQueryResolverTest.java
  dspace-rest/pom.xml
  dspace-server-webapp/pom.xml
  dspace-services/pom.xml
  dspace/config/modules/discovery.cfg
  dspace/modules/additions/pom.xml
  dspace/modules/server/pom.xml
  dspace/pom.xml
  dspace/solr/authority/conf/solrconfig.xml
  dspace/solr/oai/conf/solrconfig.xml
  dspace/solr/search/conf/solrconfig.xml
  dspace/solr/statistics/conf/solrconfig.xml
  dspace/src/main/docker/README.md
  dspace/src/main/docker/solr/Dockerfile
  dspace/src/main/docker/solr/README.md
  dspace/src/main/docker/solr/docker-compose.yml
  pom.xml
Labels: backend: Solr, bug, code task, component: Discovery, dependencies, interface: OAI-PMH

#3107 OAI OpenAIRE4: changes to related identifiers and alternative identifiers
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
Labels: 1 APPROVAL, interface: OAI-PMH
