Repository DSpace/DSpace, pull requests merged in 2021-11, with the labels that each got.

#8026 Fix two ITs for stability (PackagerIT.destroy() and RelationshipTypeRestControllerIT.findAllEntityTypes)
  dspace-api/src/test/java/org/dspace/app/packager/PackagerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipTypeRestControllerIT.java
Labels: bug, 1 APPROVAL, testing framework

#7994 Ensure that a mapped Item is exported only once.
  dspace-api/src/main/java/org/dspace/content/MetadataDSpaceCsvExportServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/MetadataDSpaceCsvExportServiceImplIT.java
Labels: bug, port to 6.x, tools: export, 1 APPROVAL

#7995 Avoid exporting metadata of mapped Item more than once.
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExport.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportIT.java
Labels: bug, tools: export

#8038 Fixed InitializeEntitiesIT destroy method to not delete none entity type
  dspace-server-webapp/src/test/java/org/dspace/app/rest/InitializeEntitiesIT.java
Labels: high priority, 1 APPROVAL, testing framework

#8035 Fix dependencies docker image build
  Dockerfile.dependencies
Labels: bug, backend: Docker, 1 APPROVAL

#8040 Upgrade aws-java-sdk-s3 version to avoid exception on start "Socket n…
  dspace-api/pom.xml
Labels: bug, dependencies
