Repository DSpace/DSpace, pull requests merged in 2021-01, with the labels that each got.

#3112 [DS-4452] Porting correct instantiation of default ignore fields (CSV…
  dspace-api/src/main/java/org/dspace/app/bulkedit/DSpaceCSV.java
Labels: bug, quick win

#3066 Removal of automatically added 'query' parameter for entries subpath
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/externalsources/ExternalSourceHalLinkFactory.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ExternalSourceMatcher.java
Labels: 1 APPROVAL

#3109 Limit externalSources per metadata field
  dspace-api/src/main/java/org/dspace/app/util/DCInput.java
  dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionFormConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/submit/SelectableRelationship.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace/config/submission-forms.dtd
  dspace/config/submission-forms.xml
Labels: 1 APPROVAL, component: submission, tools: external-sources

#3004 Entities update item metadata outside rest
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/virtual/Related.java
  dspace-api/src/test/java/org/dspace/content/RelationshipServiceImplTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace/config/modules/relationship.cfg
Labels: 1 APPROVAL, component: configurable entities

#3117 Correct use of Default Discovery configuration
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfigurationService.java
Labels: 1 APPROVAL, bug, component: Discovery

#3098 Enforce that facet "filter-operator" is a valid value
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/query/RestSearchOperator.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/parameter/resolver/SearchFilterResolver.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
Labels: component: Discovery

#3115 Switch Author field to "onebox" to allow first/last name in single entry box.
  dspace/config/submission-forms.dtd
  dspace/config/submission-forms.xml
Labels: 1 APPROVAL, bug, component: submission, configuration

#3131 Entities performance improvement in RelationshipServiceImpl
  dspace-api/src/main/java/org/dspace/content/RelationshipServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/RelationshipServiceImplTest.java
Labels: 1 APPROVAL, REST API v7, component: configurable entities

#3133 [DS-4443] delete solr record on workspaceitem deletion (updated PR)
  dspace-api/src/main/java/org/dspace/discovery/IndexEventConsumer.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/factory/IndexObjectFactoryFactory.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/java/org/dspace/AbstractUnitTest.java
  dspace-api/src/test/java/org/dspace/builder/WorkspaceItemBuilder.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
Labels: high priority

#2744 [DS-4443] delete solr record on workspaceitem deletion
  dspace-api/src/main/java/org/dspace/discovery/IndexEventConsumer.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/factory/IndexObjectFactoryFactory.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
Labels: 1 APPROVAL, bug, high priority

#3132 Improve REST Error message for specific errors
  dspace-api/src/main/java/org/dspace/eperson/EPersonServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/EmptyWorkflowGroupException.java
  dspace-api/src/main/resources/Messages.properties
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/EPersonNameNotProvidedException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/GroupNameNotProvidedException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/RESTEmptyWorkflowGroupException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/TranslatableException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/GroupRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
  dspace-server-webapp/src/test/resources/Messages_pl.properties
Labels: 1 APPROVAL

#3111 Fix puzzling incorrect failure to match dspace.server.url
  .gitignore
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/RepositoryNotFoundException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/URLUtils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/utils/URLUtilsTest.java
Labels: 1 APPROVAL, REST API v7, bug, low priority
