Repository DSpace/DSpace, pull requests merged in 2021-07, with the labels that each got.

#3265 Make discovery more resilient to stale objects
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
  dspace/config/dspace.cfg
  dspace/config/modules/discovery.cfg
Labels: bug, component: Discovery, high priority

#3314 Minor improvements to AuthenticationRestControllerIT for integration test stability
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
Labels: 1 APPROVAL, bug

#3320 replacing relation with isFundingAgencyOfProject
  dspace/config/spring/api/virtual-metadata.xml.openaire4
  dspace/config/submission-forms.xml
Labels: 1 APPROVAL, bug, configuration, interface: OAI-PMH

#3293 New authorization feature - canManageGroup
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/ManageGroupFeature.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageGroupFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/AuthorizationMatcher.java
Labels: 1 APPROVAL, bug, high priority

#3318 CanManageMappingsFeature sometimes does not respond as expected
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceIndexCollectionSubmittersPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanManageMappingsFeature.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanManageMappingsFeatureIT.java
Labels: 1 APPROVAL, REST API v7, bug, high priority

#3321 Fix `/api/core/items` endpoint's `totalElements` count to avoid empty pages at end
  dspace-api/src/test/java/org/dspace/builder/CollectionBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
Labels: 1 APPROVAL, REST API v7, bug, medium priority

#3275 fixes restlet's blocked repository - dspace 6.x
  pom.xml
Labels: 1 APPROVAL, bug, configuration, quick win

#3274 fixes restlet's blocked repository - dspace 5.x
  pom.xml
Labels: 1 APPROVAL, bug, configuration, quick win

#2918 [DS-4508] Update JQuery, JQueryUI and other JS dependencies
  dspace-jspui/src/main/java/org/dspace/app/webui/jsptag/SelectEPersonTag.java
  dspace-jspui/src/main/java/org/dspace/app/webui/jsptag/SelectGroupTag.java
  dspace-jspui/src/main/webapp/dspace-admin/js/bitstream-ordering.js
  dspace-jspui/src/main/webapp/dspace-admin/list-metadata-schemas.jsp
  dspace-jspui/src/main/webapp/layout/header-default.jsp
  dspace-jspui/src/main/webapp/layout/header-popup.jsp
  dspace-jspui/src/main/webapp/layout/header-submission.jsp
  dspace-jspui/src/main/webapp/search/discovery.jsp
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap-theme.css
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap-theme.css.map
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap-theme.min.css
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap-theme.min.css.map
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap.css
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap.css.map
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap.min.css
  dspace-jspui/src/main/webapp/static/css/bootstrap/bootstrap.min.css.map
  dspace-jspui/src/main/webapp/static/css/bootstrap/dspace-theme.css
  dspace-jspui/src/main/webapp/static/css/fonts/glyphicons-halflings-regular.svg
  dspace-jspui/src/main/webapp/static/css/jquery-ui-1.10.3.custom/redmond/jquery-ui-1.10.3.custom.min.css
  dspace-jspui/src/main/webapp/static/css/jquery-ui-1.8.22.custom/redmond/jquery-ui-1.8.22.custom.css
  dspace-jspui/src/main/webapp/static/css/jquery-ui/redmond/jquery-ui-1.12.1.css
  dspace-jspui/src/main/webapp/static/css/jquery-ui/redmond/jquery-ui-1.12.1.min.css
  dspace-jspui/src/main/webapp/static/js/bootstrap/bootstrap.js
  dspace-jspui/src/main/webapp/static/js/bootstrap/bootstrap.min.js
  dspace-jspui/src/main/webapp/static/js/choice-support.js
  dspace-jspui/src/main/webapp/static/js/jquery/jquery-1.10.2.min.js
  dspace-jspui/src/main/webapp/static/js/jquery/jquery-1.6.2.min.js
  dspace-jspui/src/main/webapp/static/js/jquery/jquery-1.7.2.min.js
  dspace-jspui/src/main/webapp/static/js/jquery/jquery-3.4.1.min.js
  dspace-jspui/src/main/webapp/static/js/jquery/jquery-ui-1.10.3.custom.min.js
  dspace-jspui/src/main/webapp/static/js/jquery/jquery-ui-1.12.1.min.js
  dspace-jspui/src/main/webapp/static/js/jquery/jquery-ui-1.8.22.custom.min.js
  dspace-jspui/src/main/webapp/static/js/resumable.js
  dspace-jspui/src/main/webapp/static/js/scriptaculous/prototype.js
  dspace-jspui/src/main/webapp/static/js/submission-lookup.js
  dspace-jspui/src/main/webapp/submit/choose-file.jsp
  dspace-jspui/src/main/webapp/submit/edit-metadata.jsp
  dspace-jspui/src/main/webapp/submit/start-lookup-submission.jsp
  dspace-jspui/src/main/webapp/tools/eperson-list.jsp
  dspace-jspui/src/main/webapp/tools/itemmap-main.jsp
  dspace-jspui/src/main/webapp/tools/upload-bitstream.jsp
  dspace-xmlui-mirage2/src/main/webapp/bower.json
  dspace-xmlui-mirage2/src/main/webapp/scripts.xml
  dspace-xmlui-mirage2/src/main/webapp/scripts/person-lookup.js
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/utils/JQueryLoaderReader.java
  dspace-xmlui/src/main/webapp/static/js/jquery-3.4.1.min.js
  dspace-xmlui/src/main/webapp/static/js/person-lookup.js
  dspace-xmlui/src/main/webapp/themes/Mirage/lib/css/jquery-ui-1.12.1.css
  dspace-xmlui/src/main/webapp/themes/Mirage/lib/css/jquery-ui-1.12.1.min.css
  dspace-xmlui/src/main/webapp/themes/Mirage/lib/js/jquery-ui-1.12.1.min.js
  dspace-xmlui/src/main/webapp/themes/Mirage/lib/xsl/core/page-structure.xsl
  dspace-xmlui/src/main/webapp/themes/Mirage/sitemap.xmap
  dspace-xmlui/src/main/webapp/themes/Reference/sitemap.xmap
  dspace-xmlui/src/main/webapp/themes/mobile/mobile.xsl
Labels: dependencies

#2317 DS-4135 prevent escaping for citation_ tags
  dspace-xmlui-mirage2/src/main/webapp/xsl/core/page-structure.xsl
  dspace-xmlui/src/main/webapp/themes/Mirage/lib/xsl/core/page-structure.xsl
Labels: bug, component: SEO, interface: XMLUI, quick win

#1800 DS-2852 - Discovery label fix for authority display value
  dspace-xmlui-mirage2/src/main/webapp/templates/discovery_simple_filters.hbs
  dspace-xmlui-mirage2/src/main/webapp/xsl/aspect/discovery/discovery.xsl
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/discovery/SimpleSearch.java
Labels: bug, component: Discovery, interface: XMLUI

#1701 DS-2852 - Discovery label fix for authority display value
  dspace-xmlui-mirage2/src/main/webapp/templates/discovery_simple_filters.hbs
  dspace-xmlui-mirage2/src/main/webapp/xsl/aspect/discovery/discovery.xsl
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/discovery/SimpleSearch.java
Labels: bug, component: Discovery, interface: XMLUI

#3303 Improve logging of REST request adding MDC
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/DSpaceAPIRequestLoggingFilter.java
  dspace/config/dspace.cfg
  dspace/config/log4j2.xml
Labels: high priority

#3294 Search endpoint to find bitstreams with item handle and bitstream name or sequence
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BitstreamRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/BitstreamMetadataReadPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
Labels: 1 APPROVAL, bug, component: SEO, high priority

#2276 DS-4034 - The "first few letters" search doesn't work with diacritics
  dspace-api/src/main/java/org/dspace/browse/BrowseEngine.java
  dspace-api/src/main/java/org/dspace/sort/OrderFormatAuthor.java
  dspace-api/src/main/java/org/dspace/sort/OrderFormatText.java
Labels: bug, component: Discovery, port to main, quick win

#2465 DS-4293 Fix Known/Supported labels in UploadStep/UploadWithEmbargoStep
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/submission/submit/UploadStep.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/submission/submit/UploadWithEmbargoStep.java
Labels: bug, interface: XMLUI, quick win

#3228 [DS-4579] Re-enable HTTP Ranges support
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/cocoon/BitstreamReader.java
Labels: interface: XMLUI, quick win

#3336 DS-4588: fix case-insensitive spiderdetector test
  dspace-api/src/test/java/org/dspace/statistics/util/SpiderDetectorServiceImplTest.java
Labels: component: statistics, tests

#3333 DS-4587: update spider user agent file for more accurate Solr usage statistics
  dspace/config/spiders/agents/example
Labels: backend: Solr, component: statistics

#2742 bump up pdfbox version on 6.x to match main branch
  pom.xml
Labels: dependencies, tools: media-filters
