Repository DSpace/DSpace, pull requests merged in 2021-09, with the labels that each got.

#2439 DS-4260: Remove non-existing command from oai harvester's help
  dspace-api/src/main/java/org/dspace/app/harvest/Harvest.java
Labels: bug, quick win, interface: command-line

#2438 DS-4260: Remove non-existing command from oai harvester's help
  dspace-api/src/main/java/org/dspace/app/harvest/Harvest.java
Labels: bug, quick win, interface: command-line, 1 APPROVAL

#7925 Fix configuration-dependent ITs
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MetadatafieldRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScriptRestRepositoryIT.java
Labels: 1 APPROVAL, testing framework

#3364 Allow changing an EPerson's password through the CLI
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/eperson/EPerson.java
  dspace-api/src/main/java/org/dspace/eperson/EPersonCLITool.java
  dspace-api/src/main/java/org/dspace/util/ConsoleService.java
  dspace-api/src/main/java/org/dspace/util/ConsoleServiceImpl.java
  dspace-api/src/test/java/org/dspace/eperson/EPersonCLIToolIT.java
  dspace-api/src/test/java/org/dspace/util/FakeConsoleServiceImpl.java
Labels: new feature, quick win, interface: command-line, authentication: EPerson, 1 APPROVAL

#1801 DS-3643: Use correct license on ingest
  dspace-api/src/main/java/org/dspace/content/packager/PackageUtils.java
Labels: bug, quick win, port to main, tools: packager

#7929 DS-3643: Use correct license on ingest (7.x)
  dspace-api/src/main/java/org/dspace/content/packager/PackageUtils.java
Labels: bug, quick win

#2558 DS-3891: fixes minor security issue with HTML opened in a separate tab
  dspace-api/src/main/resources/Messages.properties
  dspace-jspui/src/main/java/org/dspace/app/webui/jsptag/BrowseListTag.java
  dspace-jspui/src/main/java/org/dspace/app/webui/jsptag/ItemListTag.java
  dspace-jspui/src/main/java/org/dspace/app/webui/jsptag/ItemTag.java
  dspace-jspui/src/main/webapp/layout/legacy/header-default.jsp
  dspace-jspui/src/main/webapp/sherpa/sherpa-policy.jsp
  dspace-jspui/src/main/webapp/submit/review-upload.jsp
  dspace-jspui/src/main/webapp/submit/show-uploaded-file.jsp
  dspace-jspui/src/main/webapp/submit/upload-file-list.jsp
  dspace-jspui/src/main/webapp/tools/edit-item-form.jsp
  dspace-xmlui-mirage2/src/main/webapp/scripts/person-lookup.js
  dspace-xmlui-mirage2/src/main/webapp/xsl/core/page-structure.xsl
  dspace-xmlui/src/main/webapp/static/js/person-lookup.js
  dspace-xmlui/src/main/webapp/themes/Mirage/lib/xsl/core/page-structure.xsl
  dspace-xmlui/src/main/webapp/themes/mobile/mobile.xsl
Labels: bug, quick win, interface: XMLUI, interface: JSPUI

#2490 [DS-4208] Fix hidden field creation issue when browsing by date
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/ConfigurableBrowse.java
Labels: bug, quick win, interface: XMLUI

#2161 DS-3976 Reduce itemCounter init
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/CommunityBrowser.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/CommunityViewer.java
Labels: improvement, interface: XMLUI

#2662 DS-3725: Adds 'id' property to 'default' and 'site' DiscoveryConfiguration
  dspace/config/spring/api/discovery.xml
Labels: bug, quick win, component: Discovery

#2550 Patch for DS-4362
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/SendFeedbackAction.java
Labels: bug, quick win, interface: XMLUI

#2493 DS-4328
  dspace-api/src/main/java/org/dspace/submit/step/InitialQuestionsStep.java
Labels: bug, quick win, component: submission

#2649 Use findByCollection method to retrieve only archived item in ItemMapServlet (6.x)
  dspace-jspui/src/main/java/org/dspace/app/webui/servlet/admin/ItemMapServlet.java
Labels: quick win, interface: JSPUI

#2789 [DS-4522] Logical item filtering (with DOI implementation)
  dspace-api/src/main/java/org/dspace/content/logic/DefaultFilter.java
  dspace-api/src/main/java/org/dspace/content/logic/Filter.java
  dspace-api/src/main/java/org/dspace/content/logic/LogicalStatement.java
  dspace-api/src/main/java/org/dspace/content/logic/LogicalStatementException.java
  dspace-api/src/main/java/org/dspace/content/logic/TestLogicRunner.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/AbstractCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/BitstreamCountCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/Condition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/InCollectionCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/InCommunityCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/IsWithdrawnCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/MetadataValueMatchCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/MetadataValuesMatchCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/condition/ReadableByGroupCondition.java
  dspace-api/src/main/java/org/dspace/content/logic/operator/AbstractOperator.java
  dspace-api/src/main/java/org/dspace/content/logic/operator/And.java
  dspace-api/src/main/java/org/dspace/content/logic/operator/Nand.java
  dspace-api/src/main/java/org/dspace/content/logic/operator/Nor.java
  dspace-api/src/main/java/org/dspace/content/logic/operator/Not.java
  dspace-api/src/main/java/org/dspace/content/logic/operator/Or.java
  dspace-api/src/main/java/org/dspace/ctask/general/RegisterDOI.java
  dspace-api/src/main/java/org/dspace/identifier/DOIIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/FilteredIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/IdentifierNotApplicableException.java
  dspace-api/src/main/java/org/dspace/identifier/IdentifierServiceImpl.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedDOIIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIIdentifierNotApplicableException.java
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIOrganiser.java
  dspace-api/src/test/java/org/dspace/content/logic/LogicalFilterTest.java
  dspace-api/src/test/java/org/dspace/identifier/DOIIdentifierProviderTest.java
  dspace/config/dspace.cfg
  dspace/config/modules/curate.cfg
  dspace/config/modules/doi-curation.cfg
  dspace/config/spring/api/identifier-service.xml
  dspace/config/spring/api/item-filters.xml
Labels: new feature, identifier: DOIs

#3370 o.d.core.AbstractHibernateDAO#uniqueResult has useless pagination arguments
  dspace-api/src/main/java/org/dspace/app/requestitem/dao/impl/RequestItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/checker/dao/impl/ChecksumResultDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamFormatDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/CollectionDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/EntityTypeDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/RelationshipTypeDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/SiteDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/WorkspaceItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDAO.java
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDSODAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/EPersonDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/Group2GroupCacheDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/RegistrationDataDAOImpl.java
  dspace-api/src/main/java/org/dspace/identifier/dao/impl/DOIDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/ClaimedTaskDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/CollectionRoleDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/InProgressUserDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/PoolTaskDAOImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/dao/impl/XmlWorkflowItemDAOImpl.java
Labels: code task, quick win, 1 APPROVAL, low priority

#7931 DS-4587: Update spider agents
  dspace-api/src/test/java/org/dspace/statistics/util/SpiderDetectorServiceImplTest.java
  dspace/config/spiders/agents/example
Labels: quick win, component: statistics, 1 APPROVAL

#2698 DS-4034 - The "first few letters" search doesn't work with diacritics (master port)
  dspace-api/src/main/java/org/dspace/browse/BrowseEngine.java
  dspace-api/src/main/java/org/dspace/sort/OrderFormatAuthor.java
  dspace-api/src/main/java/org/dspace/sort/OrderFormatText.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
Labels: bug, quick win, component: Discovery, 1 APPROVAL

#7926 update collection metadata or removing the administrator group will not produce solr reindex
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/CommunityServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
Labels: bug, high priority, 1 APPROVAL

#3250 DS-4580 Update confidence when editing record
  dspace-xmlui-mirage2/src/main/webapp/scripts/person-lookup.js
Labels: bug, quick win, interface: XMLUI

#7933 Attempt to fix random ConcurrentModificationExceptions in ITs
  dspace-api/src/test/java/org/dspace/builder/util/AbstractBuilderCleanupUtil.java
Labels: bug, testing framework

#2451 DS-304, DS-1922: METS generator should check for READ permissions
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/cocoon/DSpaceMETSGenerator.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/cocoon/DSpaceOREGenerator.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/objectmanager/AbstractAdapter.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/objectmanager/ContainerAdapter.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/objectmanager/ItemAdapter.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/objectmanager/RepositoryAdapter.java
Labels: bug, quick win, high priority, interface: XMLUI

#7940 Protecting against possibly missing values supplied by Orcid and logg…
  dspace-api/src/main/java/org/dspace/authority/orcid/Orcidv2AuthorityValue.java
Labels: bug, quick win, integration: ORCID

#3080 [DS-4562] - Change maxwait default to 10 seconds
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
Labels: port to main, configuration

#2124 DS-3873 Limit the usage of PDFBoxThumbnail to PDFs
  dspace-api/src/main/java/org/dspace/app/mediafilter/PDFBoxThumbnail.java
Labels: bug, quick win, tools: media-filters

#7938 DS-3919: rename identifier-service-test.xml to identifier-service.xml (7.x)
  dspace-api/src/test/data/dspaceFolder/config/spring/api/identifier-service.xml
Labels: code task

#7924 When sending a user registration email fails, allow the log statement to include full error details
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
Labels: bug, backend: email-system, 1 APPROVAL

#3350 DS-4589: Update Node.js to version 12 LTS
  .github/workflows/build.yml
  dspace-xmlui-mirage2/readme.md
  dspace/modules/xmlui-mirage2/pom.xml
Labels: interface: XMLUI, dependencies

#7934 Fix metadata value move patch operation bugs
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/DSpaceObjectMetadataMoveOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/PatchMetadataIT.java
Labels: bug, interface: REST API v7, 1 APPROVAL

#7945 Add 'dspace database migrate force' to manually trigger Flyway Callbacks
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
Labels: bug, interface: command-line, backend: FlywayDB, 1 APPROVAL

#2339 DS-4157: Save and Exit on workflow edit metadata
  dspace-xmlui/src/main/resources/aspects/Submission/submission.js
Labels: bug, quick win, interface: XMLUI, component: submission

#7949 Integration Test Cleanup
  dspace-api/src/test/java/org/dspace/app/csv/CSVMetadataImportReferenceIT.java
  dspace-api/src/test/java/org/dspace/builder/RelationshipTypeBuilder.java
  dspace-api/src/test/java/org/dspace/builder/util/AbstractBuilderCleanupUtil.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationFeatureServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/InitializeEntitiesIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ProcessRestRepositoryIT.java
Labels: code task, 1 APPROVAL, testing framework

#7950 Replace now-ignored test log4j.properties files with log4j2-test.xml
  dspace-api/src/test/resources/log4j.properties
  dspace-api/src/test/resources/log4j2-test.xml
  dspace-services/src/test/resources/log4j.properties
  dspace-services/src/test/resources/log4j2-test.xml
Labels: bug, quick win, error handling, testing framework

#7954 Scripts & processes error handling
  dspace-api/src/main/java/org/dspace/scripts/handler/DSpaceRunnableHandler.java
  dspace-api/src/main/java/org/dspace/scripts/handler/impl/CommandLineDSpaceRunnableHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ScriptRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/scripts/handler/impl/RestDSpaceRunnableHandler.java
Labels: bug, high priority, 1 APPROVAL, tools: processes

#7947 W2p 81832 solr search core fix index authority mdv without vocabulary or pairs type
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceMetadataBrowseIndexingPlugin.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
Labels: bug, component: Discovery, 1 APPROVAL
