Repository DSpace/DSpace, pull requests merged in 2022-09, with the labels that each got.

#8471 Autowire ConfigurationService in UploadConfiguration instead of requiring explicit configuration
  dspace-api/src/main/java/org/dspace/submit/model/UploadConfiguration.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/access-conditions.xml
  dspace/config/spring/api/access-conditions.xml
Labels: code task, quick win, configuration, component: submission, 1 APPROVAL, interface: Java API

#8447 Update to oclc-harvester2 v1.0.0 and remove Xalan
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/harvest/HarvestedCollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/harvest/OAIHarvester.java
  pom.xml
Labels: bug, high priority, dependencies, 1 APPROVAL, integration: OAI Harvester

#8473 AIP exports could produce invalid mets.xml file
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSDisseminator.java
Labels: bug, high priority, tools: packager, tools: export, 1 APPROVAL

#8281 Make OpenAIRE Funding connector mapping configurable
  dspace-api/src/main/java/org/dspace/external/provider/impl/OpenAIREFundingDataProvider.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-openaire.xml
  dspace/config/spring/api/external-openaire.xml
Labels: improvement, tools: import-sources

#8461 SplitMetadataContributor.java: new class to split metadata values based on a regex
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SplitMetadataContributor.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/bibtex-test-multiple-authors.bib
  dspace/config/spring/api/bibtex-integration.xml
Labels: bug, tools: import

#8476 Provide a script to delete old processes
  dspace-api/src/main/java/org/dspace/administer/ProcessCleaner.java
  dspace-api/src/main/java/org/dspace/administer/ProcessCleanerCli.java
  dspace-api/src/main/java/org/dspace/administer/ProcessCleanerCliConfiguration.java
  dspace-api/src/main/java/org/dspace/administer/ProcessCleanerConfiguration.java
  dspace-api/src/main/java/org/dspace/content/dao/ProcessDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ProcessDAOImpl.java
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/service/ProcessService.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/administer/ProcessCleanerIT.java
  dspace-api/src/test/java/org/dspace/builder/ProcessBuilder.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/scripts.xml
  dspace/config/spring/rest/scripts.xml
Labels: bug, 1 APPROVAL, tools: processes

#8465 DURACOM-86 Add html support to opensearch, fix misconfiguration
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/opensearch/OpenSearchControllerIT.java
  dspace/config/dspace.cfg
Labels: 1 APPROVAL

#8404 Make password minimum requirements stronger
  dspace-api/src/main/java/org/dspace/authorize/RegexPasswordValidator.java
  dspace-api/src/main/java/org/dspace/authorize/ValidatePasswordServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/PasswordValidatorService.java
  dspace-api/src/main/java/org/dspace/authorize/service/ValidatePasswordService.java
  dspace-api/src/main/java/org/dspace/passwordvalidation/factory/PasswordValidationFactory.java
  dspace-api/src/main/java/org/dspace/passwordvalidation/factory/PasswordValidationFactoryImpl.java
  dspace-api/src/main/resources/Messages.properties
  dspace-api/src/test/java/org/dspace/authorize/RegexPasswordValidatorTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/PasswordNotValidException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/EPersonPasswordAddOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace/config/modules/authentication-password.cfg
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/core-services.xml
Labels: bug, authentication: password, authentication: general

#8480 Curation task results are not included in the output file or process output
  dspace-api/src/main/java/org/dspace/curate/Curation.java
  dspace-api/src/main/java/org/dspace/curate/Curator.java
Labels: bug, tools: curation-tasks, 1 APPROVAL

#8481 Enable and fix `MetadataExportSearchIT`
  dspace-api/src/main/java/org/dspace/discovery/SearchUtils.java
  dspace-api/src/test/java/org/dspace/AbstractDSpaceIntegrationTest.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportSearchIT.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
Labels: bug, high priority, tools: batch-editing, 1 APPROVAL, testing framework

#8398 Uncaching bitstreams to improve performance of iiif-canvas-dimensions
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/CanvasDimensionCLI.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/IIIFCanvasDimensionServiceImpl.java
  dspace-api/src/test/java/org/dspace/iiif/canvasdimension/CanvasDimensionsIT.java
Labels: bug, 1 APPROVAL, performance / caching, integration: IIIF

#8477 Ask current password to user when setting a new password
  dspace-api/src/main/java/org/dspace/authenticate/AuthenticationMethod.java
  dspace-api/src/main/java/org/dspace/authenticate/AuthenticationServiceImpl.java
  dspace-api/src/main/java/org/dspace/authenticate/IPAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/OidcAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/OidcAuthenticationBean.java
  dspace-api/src/main/java/org/dspace/authenticate/OrcidAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/OrcidAuthenticationBean.java
  dspace-api/src/main/java/org/dspace/authenticate/PasswordAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/ShibAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/X509Authentication.java
  dspace-api/src/main/java/org/dspace/authenticate/service/AuthenticationService.java
  dspace-api/src/main/java/org/dspace/core/Context.java
  dspace-api/src/main/java/org/dspace/eperson/EPerson.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanChangePasswordFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/WrongCurrentPasswordException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/EPersonPasswordAddOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CanChangePasswordFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
Labels: improvement, authentication: password, 1 APPROVAL, authentication: general

#8392 TOC exclusion bundle(s)
  dspace-iiif/src/main/java/org/dspace/app/iiif/service/ManifestService.java
  dspace-iiif/src/main/java/org/dspace/app/iiif/service/utils/IIIFUtils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/iiif/IIIFControllerIT.java
  dspace/config/modules/iiif.cfg
Labels: improvement, 1 APPROVAL, integration: IIIF

#8356 Improvement for the S3 support - IAM Role and support for legacy folder structure
  dspace-api/src/main/java/org/dspace/storage/bitstore/BaseBitStoreService.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/BitStoreService.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/BitstreamStorageServiceImpl.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/DSBitStoreService.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/S3BitStoreService.java
  dspace-api/src/main/java/org/dspace/util/FunctionalUtils.java
  dspace-api/src/test/java/org/dspace/storage/bitstore/S3BitStoreServiceTest.java
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
  dspace/config/modules/assetstore.cfg
  dspace/config/spring/api/bitstore.xml
Labels: bug, new feature, backend: bitstore

#8488 Issue 8479 regular search can contain private withdrawn items
  dspace/config/spring/api/discovery.xml
Labels: bug, component: Discovery, 1 APPROVAL

#8492 Fixed error handling for invalid password during eperson creation
  dspace-api/src/main/java/org/dspace/eperson/AccountServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/AccountService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
Labels: bug, authentication: password, authentication: EPerson, 1 APPROVAL

#8486 Update Google Analytics to version 4
  dspace-api/src/main/java/org/dspace/google/GoogleAnalyticsEvent.java
  dspace-api/src/main/java/org/dspace/google/GoogleAsyncEventListener.java
  dspace-api/src/main/java/org/dspace/google/client/GoogleAnalytics4ClientRequestBuilder.java
  dspace-api/src/main/java/org/dspace/google/client/GoogleAnalyticsClient.java
  dspace-api/src/main/java/org/dspace/google/client/GoogleAnalyticsClientException.java
  dspace-api/src/main/java/org/dspace/google/client/GoogleAnalyticsClientImpl.java
  dspace-api/src/main/java/org/dspace/google/client/GoogleAnalyticsClientRequestBuilder.java
  dspace-api/src/main/java/org/dspace/google/client/UniversalAnalyticsClientRequestBuilder.java
  dspace-api/src/main/java/org/dspace/service/impl/ClientInfoServiceImpl.java
  dspace-api/src/test/java/org/dspace/google/client/GoogleAnalytics4ClientRequestBuilderTest.java
  dspace-api/src/test/java/org/dspace/google/client/UniversalAnalyticsClientRequestBuilderTest.java
  dspace-api/src/test/java/org/dspace/service/impl/ClientInfoServiceImplTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/test/java/org/dspace/app/matcher/GoogleAnalyticsEventMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/google/GoogleAsyncEventListenerIT.java
  dspace-server-webapp/src/test/java/org/dspace/google/client/GoogleAnalyticsClientIT.java
  dspace/config/dspace.cfg
  dspace/config/spring/rest/google-analytics.xml
Labels: improvement, component: statistics, 1 APPROVAL

#8060 Change S3Bitstore to use TransferManager to allow larger then 5gb files
  dspace-api/src/main/java/org/dspace/storage/bitstore/S3BitStoreService.java
  dspace-api/src/test/java/org/dspace/storage/bitstore/S3BitStoreServiceTest.java
Labels: bug, backend: bitstore

#8318 Add scripts and ITs for SAF (Simple Archive Format) import and export functionalities
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExport.java
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportCLI.java
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportCLIScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportCLITool.java
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/itemexport/service/ItemExportService.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImport.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportCLI.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportCLIScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportCLITool.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/itemimport/service/ItemImportService.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/app/itemexport/ItemExportCLIIT.java
  dspace-api/src/test/java/org/dspace/app/itemimport/ItemImportCLIIT.java
  dspace-api/src/test/resources/org/dspace/app/itemimport/dublin_core-person.xml
  dspace-api/src/test/resources/org/dspace/app/itemimport/dublin_core.xml
  dspace-api/src/test/resources/org/dspace/app/itemimport/metadata_dcterms.xml
  dspace-api/src/test/resources/org/dspace/app/itemimport/relationships
  dspace-api/src/test/resources/org/dspace/app/itemimport/saf-bitstreams.zip
  dspace-api/src/test/resources/org/dspace/app/itemimport/saf-relationships.zip
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/rest/scripts.xml
  dspace-server-webapp/src/test/java/org/dspace/app/itemexport/ItemExportIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/itemimport/ItemImportIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/itemimport/dublin_core-person.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/itemimport/dublin_core.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/itemimport/metadata_dcterms.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/itemimport/relationships
  dspace-server-webapp/src/test/resources/org/dspace/app/itemimport/saf-bitstreams.zip
  dspace-server-webapp/src/test/resources/org/dspace/app/itemimport/saf-relationships.zip
  dspace/config/launcher.xml
  dspace/config/spring/api/scripts.xml
  dspace/config/spring/rest/scripts.xml
Labels: new feature, interface: REST API v7, tools: import, tools: processes
