Repository DSpace/DSpace, pull requests merged in 2022-02, with the labels that each got.

#8153 Remove unneccessary second Context in RDFConsumer
  dspace-api/src/main/java/org/dspace/rdf/RDFConsumer.java
Labels: bug, interface: RDF, 1 APPROVAL, Difficulty: low

#8160 Removes ShibAuthentication session dependency for special groups.
  dspace-api/src/main/java/org/dspace/authenticate/ShibAuthentication.java
Labels: bug, high priority, authorization, authentication: Shibboleth, 1 APPROVAL

#8162 Improved builder's cleanup to avoid consumers executions
  dspace-api/src/test/java/org/dspace/builder/BitstreamBuilder.java
  dspace-api/src/test/java/org/dspace/builder/BitstreamFormatBuilder.java
  dspace-api/src/test/java/org/dspace/builder/BundleBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ClaimedTaskBuilder.java
  dspace-api/src/test/java/org/dspace/builder/CollectionBuilder.java
  dspace-api/src/test/java/org/dspace/builder/CommunityBuilder.java
  dspace-api/src/test/java/org/dspace/builder/EPersonBuilder.java
  dspace-api/src/test/java/org/dspace/builder/EntityTypeBuilder.java
  dspace-api/src/test/java/org/dspace/builder/GroupBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ItemBuilder.java
  dspace-api/src/test/java/org/dspace/builder/MetadataFieldBuilder.java
  dspace-api/src/test/java/org/dspace/builder/MetadataSchemaBuilder.java
  dspace-api/src/test/java/org/dspace/builder/PoolTaskBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ProcessBuilder.java
  dspace-api/src/test/java/org/dspace/builder/RelationshipBuilder.java
  dspace-api/src/test/java/org/dspace/builder/RelationshipTypeBuilder.java
  dspace-api/src/test/java/org/dspace/builder/RequestItemBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ResourcePolicyBuilder.java
  dspace-api/src/test/java/org/dspace/builder/VersionBuilder.java
  dspace-api/src/test/java/org/dspace/builder/WorkflowItemBuilder.java
  dspace-api/src/test/java/org/dspace/builder/WorkspaceItemBuilder.java
Labels: bug, testing framework

#8163 Adds check for whether source and target collections are the same
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
Labels: bug, 1 APPROVAL

#8171 DSpace 6: Adds check for whether source and target collection are the same when moving an item.
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
Labels: bug, interface: JSPUI

#3354 Make DOI resolver URL stem configurable
  dspace-api/src/main/java/org/dspace/identifier/DOI.java
  dspace-api/src/main/java/org/dspace/identifier/DOIIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/DOIServiceImpl.java
  dspace-api/src/main/java/org/dspace/identifier/service/DOIService.java
  dspace-api/src/test/java/org/dspace/identifier/DOIIdentifierProviderTest.java
  dspace/config/dspace.cfg
Labels: improvement, identifier: DOIs, 1 APPROVAL

#8165 Fix Null metadata values being added
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: bug, component: submission, 1 APPROVAL

#8147 Prefix Solr core names to facilitate multiple DSpace instances on a single Solr instance
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
  dspace/config/modules/discovery.cfg
  dspace/config/modules/iiif.cfg
  dspace/config/modules/oai.cfg
  dspace/config/modules/solr-statistics.cfg
Labels: new feature, backend: Solr
