Repository DSpace/DSpace, pull requests merged in 2022-03, with the labels that each got.

#8180 Fix for resource policy end date add patch not working
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/resourcePolicy/ResourcePolicyEndDateAddOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
Labels: bug, authorization, 1 APPROVAL

#2474 [DS-4118] change_password and register emails have hardcoded sample addresses
  dspace/config/dspace.cfg
  dspace/config/emails/change_password
  dspace/config/emails/register
  dspace/config/emails/subscription
  dspace/config/local.cfg.EXAMPLE
Labels: improvement, quick win, configuration, backend: email-system

#8146 Converge all use of EHcache to v3
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/app/util/CacheSnooper.java
  dspace-iiif/pom.xml
  dspace-server-webapp/pom.xml
  dspace-services/pom.xml
  dspace-services/src/main/java/org/dspace/services/CachingService.java
  dspace-services/src/main/java/org/dspace/services/EventService.java
  dspace-services/src/main/java/org/dspace/services/caching/CachingServiceImpl.java
  dspace-services/src/main/java/org/dspace/services/caching/model/EhcacheCache.java
  dspace-services/src/main/java/org/dspace/services/caching/model/MapCache.java
  dspace-services/src/main/java/org/dspace/services/caching/model/package-info.java
  dspace-services/src/main/java/org/dspace/services/caching/package-info.java
  dspace-services/src/main/java/org/dspace/services/events/SystemEventService.java
  dspace-services/src/main/java/org/dspace/services/factory/DSpaceServicesFactory.java
  dspace-services/src/main/java/org/dspace/services/factory/DSpaceServicesFactoryImpl.java
  dspace-services/src/main/resources/caching/ehcache-config.xml
  dspace-services/src/main/resources/caching/ehcache.xsd
  dspace-services/src/main/resources/spring/spring-dspace-core-services.xml
  dspace-services/src/test/java/org/dspace/services/caching/CachingServiceTest.java
  dspace-services/src/test/java/org/dspace/services/caching/EhcacheCacheTest.java
  dspace-services/src/test/java/org/dspace/services/events/EventServiceTest.java
  dspace-services/src/test/java/org/dspace/services/session/StatelessRequestServiceImplTest.java
  dspace-services/src/test/resources/ehcache-config.xml
  dspace-services/src/test/resources/spring/spring-test-beans.xml
  dspace/config/hibernate-ehcache-config.xml
  dspace/config/hibernate.cfg.xml
  dspace/config/spring/api/core-hibernate.xml
  pom.xml
Labels: backend: Hibernate, dependencies, performance / caching

#8212 Fix GoogleBitstreamComparator to return 0 when equal
  dspace-api/src/main/java/org/dspace/app/util/GoogleBitstreamComparator.java
  dspace-api/src/test/java/org/dspace/app/util/GoogleBitstreamComparatorTest.java
Labels: bug, code task, 1 APPROVAL

#8170 Update Docker compose scripts to point at new Entities data
  dspace/src/main/docker-compose/cli.assetstore.yml
  dspace/src/main/docker-compose/db.entities.yml
Labels: backend: Docker, 1 APPROVAL

#3312 [DS-4478] Optionally list all values of an array property
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/app/util/Configuration.java
  dspace-api/src/test/java/org/dspace/app/util/ConfigurationIT.java
Labels: improvement, interface: command-line, configuration, 1 APPROVAL

#8217 Rename Hibernate caches as suggested by Hibernate.
  dspace/config/hibernate-ehcache-config.xml
Labels: improvement, backend: Hibernate, configuration, 1 APPROVAL, performance / caching

#8224 Update deprecated Velocity configuration keys
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/core/Email.java
Labels: code task, backend: email-system, 1 APPROVAL

#8222 Update to JDOM2. Remove Axiom from dspace-api (replace with JDOM2)
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/administer/StructBuilder.java
  dspace-api/src/main/java/org/dspace/app/launcher/CommandRunner.java
  dspace-api/src/main/java/org/dspace/app/launcher/ScriptLauncher.java
  dspace-api/src/main/java/org/dspace/app/util/GoogleMetadata.java
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/util/SyndicationFeed.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/AIPDIMCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/AIPTechMDCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/DIMDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/DIMIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/DisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/IngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/METSDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/METSRightsCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/MODSDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/NullIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/OAIDCIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/OREDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/OREIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/PREMISCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/ParameterizedDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/QDCCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/RoleCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/SimpleDCDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/XHTMLHeadDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/XSLTCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/XSLTDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/XSLTIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSDisseminator.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSIngester.java
  dspace-api/src/main/java/org/dspace/content/packager/DSpaceAIPIngester.java
  dspace-api/src/main/java/org/dspace/content/packager/DSpaceMETSIngester.java
  dspace-api/src/main/java/org/dspace/content/packager/METSManifest.java
  dspace-api/src/main/java/org/dspace/content/packager/RoleDisseminator.java
  dspace-api/src/main/java/org/dspace/harvest/HarvestedCollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/harvest/OAIHarvester.java
  dspace-api/src/main/java/org/dspace/identifier/DataCiteXMLCreator.java
  dspace-api/src/main/java/org/dspace/identifier/doi/DataCiteConnector.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/metadatamapping/contributor/ArXivIdMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/service/ArXivImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleXpathMetadatumContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/service/PubmedImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/license/CCLicenseConnectorService.java
  dspace-api/src/main/java/org/dspace/license/CCLicenseConnectorServiceImpl.java
  dspace-api/src/main/java/org/dspace/license/CreativeCommonsServiceImpl.java
  dspace-api/src/main/java/org/dspace/license/service/CreativeCommonsService.java
  dspace-api/src/main/java/org/dspace/testing/PubMedToImport.java
  dspace-api/src/test/java/org/dspace/AbstractIntegrationTestWithDatabase.java
  dspace-api/src/test/java/org/dspace/app/packager/PackagerIT.java
  dspace-api/src/test/java/org/dspace/content/crosswalk/QDCCrosswalkTest.java
  dspace-api/src/test/java/org/dspace/license/MockCCLicenseConnectorServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/license/MockCCLicenseConnectorServiceImpl.java
  dspace-swordv2/pom.xml
  pom.xml
Labels: high priority, dependencies

#8178 Enable default value for `solr.authority.server`
  dspace/config/dspace.cfg
  dspace/config/modules/solrauthority.cfg
Labels: bug, backend: Solr, configuration, 1 APPROVAL, component: authority control
