Repository DSpace/DSpace, pull requests merged in 2022-10, with the labels that each got.

#8498 Fix Jetty dependency issues in DSpace POMs & broken "start-handle-server"
  dspace-api/pom.xml
  dspace-server-webapp/pom.xml
  dspace/modules/additions/pom.xml
  dspace/modules/server/pom.xml
  pom.xml
Labels: high priority, identifier: Handles, dependencies

#8508 Shorten the classpath in bin/start-handle-server to address inconsistent ClassNotFound
  dspace/bin/dspace
  dspace/bin/start-handle-server
Labels: bug, interface: command-line, identifier: Handles

#8357 Add compatibility for DSpace 7 with the Remote Handle Resolver
  dspace-api/src/main/java/org/dspace/handle/HandleServiceImpl.java
  dspace-api/src/main/java/org/dspace/handle/hdlresolver/HdlResolverDTO.java
  dspace-api/src/main/java/org/dspace/handle/hdlresolver/HdlResolverService.java
  dspace-api/src/main/java/org/dspace/handle/hdlresolver/HdlResolverServiceImpl.java
  dspace-api/src/main/java/org/dspace/handle/service/HandleService.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/java/org/dspace/builder/ItemBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/hdlresolver/HdlResolverRestController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/hdlresolver/HdlResolverRestControllerIT.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
Labels: bug, identifier: Handles, 1 APPROVAL

#8306 Dockerfile.test and docker-compose: expose port 8000, set JDWP java opts
  Dockerfile.test
  docker-compose.yml
Labels: backend: Docker, low priority

#8552 Switch GitHub action for labeling merge conflicts
  .github/workflows/label_merge_conflicts.yml
Labels: code task

#8484 Send email even if copy request is refused
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemEmailNotifier.java
  dspace/config/dspace.cfg
Labels: bug, backend: email-system, 1 APPROVAL

#8502 Fix hardcoded `workflow.score` comparison in MetadatafieldRestRepositoryIT
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MetadatafieldRestRepositoryIT.java
Labels: bug, testing framework

#8531 Fixes #8528, refreshing spider files causes null pointer.
  dspace-api/src/main/java/org/dspace/statistics/util/StatisticsClient.java
Labels: bug, component: statistics, 1 APPROVAL

#8523 OAI : Use removeAllBundles, defend against ConcurrentModificationException
  dspace-api/src/main/java/org/dspace/harvest/OAIHarvester.java
Labels: bug, interface: OAI-PMH, integration: OAI Harvester

#8532 CreateMissingIdentifiersIT affecting other tests fix
  dspace-api/src/test/java/org/dspace/ctask/general/CreateMissingIdentifiersIT.java
Labels: bug, 1 APPROVAL, testing framework

#8559 GitHub Workflows security hardening
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/issue_opened.yml
  .github/workflows/label_merge_conflicts.yml
Labels: code task

#8529 Facet search endpoint queries should be case-insensitive
  dspace-api/src/main/java/org/dspace/discovery/utils/DiscoverQueryBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/FacetValueMatcher.java
Labels: bug, component: Discovery, 1 APPROVAL

#8535 Enable solr slow query logging
  dspace/solr/authority/conf/solrconfig.xml
  dspace/solr/oai/conf/solrconfig.xml
  dspace/solr/search/conf/solrconfig.xml
  dspace/solr/statistics/conf/solrconfig.xml
Labels: backend: Solr, configuration, 1 APPROVAL, needs documentation

#8551 DS-8298: set last harvested time for successful OAI harvest
  dspace-api/src/main/java/org/dspace/harvest/OAIHarvester.java
Labels: bug, 1 APPROVAL, integration: OAI Harvester

#8541 DS-8450 Fixes the null subject in the request acceptance email
  dspace-api/src/main/java/org/dspace/core/Email.java
Labels: bug, backend: email-system, 1 APPROVAL
