Repository DSpace/DSpace, pull requests merged in 2022-11, with the labels that each got.

#8547 Use translations of Creative Commons API
  dspace-api/src/main/java/org/dspace/license/CCLicenseConnectorServiceImpl.java
  dspace-api/src/main/java/org/dspace/license/CreativeCommonsServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionCCLicenseRestRepository.java
  dspace/config/dspace.cfg
Labels: improvement, 1 APPROVAL, i18n / l10n, integration: Creative Commons

#8566 Update to the latest version of all GitHub actions
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: code task

#8537 Require commons-text 1.10.0 in dependencyManagement
  dspace-api/pom.xml
  dspace-server-webapp/pom.xml
  dspace/modules/additions/pom.xml
  dspace/modules/server/pom.xml
  pom.xml
Labels: bug, high priority, dependencies, 1 APPROVAL

#8556 [TLC-387] When retrieving S3 bitstream, strip -R from internal ID if bitstream is registered
  dspace-api/src/main/java/org/dspace/storage/bitstore/S3BitStoreService.java
  dspace-api/src/test/java/org/dspace/storage/bitstore/S3BitStoreServiceTest.java
Labels: bug, quick win, backend: bitstore
