Repository DSpace/DSpace, pull requests merged in 2022-06, with the labels that each got.

#8323 Fix OAI page unstyled when '/' is missing at the end of the URL
  dspace-oai/src/main/java/org/dspace/xoai/controller/DSpaceOAIDataProvider.java
  dspace-server-webapp/src/test/java/org/dspace/app/oai/OAIpmhIT.java
Labels: bug, interface: OAI-PMH, 1 APPROVAL

#8303 Overwrite getName usage in applicable services & missing log statements
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/eperson/EPersonServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/GroupServiceImpl.java
Labels: bug, 1 APPROVAL

#8292 Migrate Mirage 2 build from bower and Ruby sass to npm and node-sass
  .github/workflows/build.yml
  dspace-xmlui-mirage2/pom.xml
  dspace-xmlui-mirage2/readme.md
  dspace-xmlui-mirage2/src/main/webapp/.bowerrc
  dspace-xmlui-mirage2/src/main/webapp/Gruntfile.js
  dspace-xmlui-mirage2/src/main/webapp/bower.json
  dspace-xmlui-mirage2/src/main/webapp/config-dev.rb
  dspace-xmlui-mirage2/src/main/webapp/config-prod.rb
  dspace-xmlui-mirage2/src/main/webapp/config.rb
  dspace-xmlui-mirage2/src/main/webapp/package.json
  dspace-xmlui-mirage2/src/main/webapp/scripts.xml
  dspace-xmlui-mirage2/src/main/webapp/scripts/modernizr.min.js
  dspace-xmlui-mirage2/src/main/webapp/styles/classic_mirage_color_scheme/_main.scss
  dspace-xmlui-mirage2/src/main/webapp/styles/shared/_dspace-bootstrap-tweaks.scss
  dspace-xmlui-mirage2/src/main/webapp/xsl/core/page-structure.xsl
  dspace/modules/xmlui-mirage2/pom.xml
Labels: high priority, interface: XMLUI

#8330 Mirage2 discover
  dspace-xmlui-mirage2/src/main/webapp/scripts/search-controls.js
Labels: interface: XMLUI

#8309 Fixed bitstream content download error when using special groups
  dspace-api/src/main/java/org/dspace/core/Context.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamResource.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, 1 APPROVAL

#8314 [CST-5756] Embedding of RelationshipType in Relationship resource
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RelationshipRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RelationshipTypeRelationshipLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
Labels: bug, high priority, interface: REST API v7, 1 APPROVAL

#8166 Introduced Spring boot actuators
  dspace-api/src/main/java/org/dspace/authority/AuthoritySolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/GeoIpService.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/data/dspaceFolder/config/spring/api/solr-services.xml
  dspace-server-webapp/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/configuration/ActuatorConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/health/GeoIpHealthIndicator.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/DSpaceVersionConfigurationEnricher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/HealthIndicatorsIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/InfoEndpointIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/health/GeoIpHealthIndicatorTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/link/search/HealthIndicatorMatcher.java
  dspace/config/dspace.cfg
  dspace/config/modules/actuator.cfg
  dspace/config/spring/api/solr-services.xml
Labels: new feature, high priority

#8271 Sherpa-Romeo Integration
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAService.java
  dspace-api/src/main/java/org/dspace/app/sherpa/cache/SherpaCacheEvictService.java
  dspace-api/src/main/java/org/dspace/app/sherpa/cache/SherpaCacheLogger.java
  dspace-api/src/main/java/org/dspace/app/sherpa/submit/SHERPASubmitService.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAEmbargo.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAJournal.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPermittedVersion.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPublisher.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAPublisherPolicy.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPAResponse.java
  dspace-api/src/main/java/org/dspace/app/sherpa/v2/SHERPASystemMetadata.java
  dspace-api/src/main/java/org/dspace/iiif/logger/CacheLogger.java
  dspace-api/src/main/java/org/dspace/iiif/logger/CanvasCacheLogger.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-sherpa-configuration-services.xml
  dspace-api/src/main/resources/spring/spring-dspace-addon-sherpa-services.xml
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/sherpa.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/spring-dspace-addon-sherpa-services.xml
  dspace-api/src/test/java/org/dspace/app/sherpa/MockSHERPAService.java
  dspace-api/src/test/java/org/dspace/app/sherpa/submit/SHERPASubmitServiceTest.java
  dspace-api/src/test/java/org/dspace/builder/WorkspaceItemBuilder.java
  dspace-api/src/test/resources/org/dspace/app/sherpa/0000-0000.json
  dspace-api/src/test/resources/org/dspace/app/sherpa/2731-0582.json
  dspace-server-webapp/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/step/SherpaPolicy.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/AbstractProcessingStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/SherpaPolicyStep.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace/config/ehcache.xml
  dspace/config/item-submission.xml
  dspace/config/spring/api/cache.xml
  dspace/config/spring/api/sherpa.xml
Labels: interface: REST API v7, component: submission, medium priority

#2371 [DS-3881] Fixed discovery "view more" facet displaying incorrect totals
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/discovery/SearchFacetFilter.java
Labels: bug, quick win, interface: XMLUI, component: Discovery

#8331 Use Node.js 14 to build Mirage 2
  .github/workflows/build.yml
  dspace-xmlui-mirage2/readme.md
  dspace-xmlui-mirage2/src/main/webapp/package.json
  dspace/modules/xmlui-mirage2/pom.xml
Labels: interface: XMLUI

#8238 Migrate extra DSpace-CRIS "Live Import" sources to DSpace (EPO & ADS)
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/importer/external/ads/ADSFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/ads/ADSImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/epo/service/EpoFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/epo/service/EpoImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClient.java
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClientImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/EpoIdMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleXpathDateFormatMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleXpathMetadatumContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/scielo/service/ScieloImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/vufind/VuFindImportMetadataSourceServiceImpl.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/HalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/externalsources/ExternalSourceEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/handler/service/UriListHandlerService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ADSImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AbstractLiveImportIntegrationTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EpoImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ads-ex.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ads-single-obj.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/epo-first.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/epo-resp.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/epo-second.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/epo-token.json
  dspace/config/dspace.cfg
  dspace/config/modules/external-providers.cfg
  dspace/config/spring/api/ads-integration.xml
  dspace/config/spring/api/epo-integration.xml
  dspace/config/spring/api/external-services.xml
Labels: new feature, high priority, tools: import-sources

#8316 Minor update to latest Spring / Spring Boot / Spring Security.
  dspace-iiif/pom.xml
  dspace-rest/pom.xml
  dspace-server-webapp/pom.xml
  pom.xml
Labels: bug, high priority, dependencies, 1 APPROVAL

#8232 Researcher profile REST repository
  dspace-api/src/main/java/org/dspace/app/exception/ResourceAlreadyExistsException.java
  dspace-api/src/main/java/org/dspace/app/profile/ResearcherProfile.java
  dspace-api/src/main/java/org/dspace/app/profile/ResearcherProfileServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/profile/service/ResearcherProfileService.java
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/AuthorizeService.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/EPersonAuthority.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/java/org/dspace/builder/ItemBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanClaimItemFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ResearcherProfileConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/login/PostLoggedInAction.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/login/impl/ResearcherProfileAutomaticClaim.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ResearcherProfileRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ResearcherProfileResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResearcherProfileEPersonLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResearcherProfileItemLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResearcherProfileRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/ResearcherProfileVisibleReplaceOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestAuthenticationProvider.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ResearcherProfileRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonAuthorityIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanClaimItemFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/MetadataMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/VocabularyMatcher.java
  dspace/config/dspace.cfg
  dspace/config/modules/authority.cfg
  dspace/config/modules/researcher-profile.cfg
  dspace/config/modules/rest.cfg
  dspace/config/registries/dspace-types.xml
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/api/discovery.xml
  dspace/config/spring/rest/post-logged-in-actions.xml
Labels: new feature, high priority, integration: ORCID

#8334 Catch exception when writing document to solr core and log it
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
Labels: bug, 1 APPROVAL

#8335 Pubmed query not working
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClientImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/service/PubmedImportMetadataSourceServiceImpl.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-api/src/test/java/org/dspace/external/provider/impl/MockPubmedImportMetadataSourceServiceImpl.java
  dspace/config/modules/external-providers.cfg
Labels: bug, interface: REST API v7, 1 APPROVAL, tools: import-sources

#8297 Save special groups in process
  dspace-api/src/main/java/org/dspace/curate/Curation.java
  dspace-api/src/main/java/org/dspace/scripts/Process.java
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/handler/DSpaceRunnableHandler.java
  dspace-api/src/main/java/org/dspace/scripts/handler/impl/CommandLineDSpaceRunnableHandler.java
  dspace-api/src/main/java/org/dspace/scripts/service/ProcessService.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.0_2022.04.29__process_to_group.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2022.04.29__process_to_group.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.0_2022.04.29__process_to_group.sql
  dspace-api/src/test/java/org/dspace/builder/ProcessBuilder.java
  dspace-api/src/test/java/org/dspace/process/ProcessIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ScriptRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/scripts/handler/impl/RestDSpaceRunnableHandler.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScriptRestRepositoryIT.java
Labels: bug, medium priority, tools: processes

#8340 Changed default cors policy for IIIF endpoints.
  dspace/config/modules/iiif.cfg
Labels: configuration, 1 APPROVAL, integration: IIIF

#8037 Export Metadata (CSV) from Search Results
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportSearch.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportSearchCli.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportSearchCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportSearchScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/discovery/SearchService.java
  dspace-api/src/main/java/org/dspace/discovery/SearchUtils.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/utils/DiscoverQueryBuilder.java
  dspace-api/src/main/java/org/dspace/discovery/utils/parameter/QueryBuilderSearchFilter.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportSearchIT.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
  dspace-api/src/test/java/org/dspace/discovery/utils/DiscoverQueryBuilderTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/InvalidSearchRequestException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DiscoveryRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/RestDiscoverQueryBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/csv/CsvSearchExportIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/utils/RestDiscoverQueryBuilderTest.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/discovery-solr.xml
  dspace/config/spring/api/scripts.xml
  dspace/config/spring/rest/scripts.xml
Labels: new feature, high priority, tools: batch-editing, tools: export, component: Discovery

#8350 Fix OAI Harvesting by restoring Xalan (required by OCLC OAI Harvester 2 codebase)
  dspace-api/pom.xml
  pom.xml
Labels: bug, high priority, 1 APPROVAL, integration: OAI Harvester

#8354 Updated process2groups Flyway migration file names
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.3_2022.06.16__process_to_group.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.3_2022.06.16__process_to_group.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.3_2022.06.16__process_to_group.sql
Labels: bug, high priority, 1 APPROVAL, tools: processes

#8235 Migrate extra DSpace-CRIS "Live Import" sources to DSpace (Scopus, WOS, PubMedEurope, CiNii)
  dspace-api/src/main/java/org/dspace/importer/external/cinii/CiniiFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/cinii/CiniiImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/AuthorMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/PageRangeXPathMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/ReplaceCharacterXPathMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleConcatContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleMultiplePathContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleXpathMetadatumAndAttributeContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleXpathMetadatumContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/WosAttribute2ValueContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/WosIdentifierContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/WosIdentifierRidContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmedeurope/PubmedEuropeFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmedeurope/PubmedEuropeMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/scopus/service/ScopusFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/scopus/service/ScopusImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/wos/service/WOSFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/wos/service/WOSImportMetadataSourceServiceImpl.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-api/src/test/resources/test-config.properties
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AbstractLiveImportIntegrationTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CiniiImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ExternalSourcesRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/PubmedEuropeMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScopusImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WOSImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/cinii-first.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/cinii-responce-ids.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/cinii-second.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/pubmedeurope-empty.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/pubmedeurope-test.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/scopus-empty-resp.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/scopus-ex.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/wos-responce.xml
  dspace/config/modules/external-providers.cfg
  dspace/config/spring/api/cinii-integration.xml
  dspace/config/spring/api/external-services.xml
  dspace/config/spring/api/pubmedeurope-integration.xml
  dspace/config/spring/api/scopus-integration.xml
  dspace/config/spring/api/wos-integration.xml
Labels: new feature, high priority, tools: import-sources

#8267 Prevent imported items to be considered stale in discovery
  dspace-api/src/main/java/org/dspace/app/solrdatabaseresync/SolrDatabaseResyncCli.java
  dspace-api/src/main/java/org/dspace/app/solrdatabaseresync/SolrDatabaseResyncCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/discovery/IndexEventConsumer.java
  dspace-api/src/main/java/org/dspace/discovery/IndexingService.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/factory/IndexFactory.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/app/solrdatabaseresync/SolrDatabaseResyncIT.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/scripts.xml
  dspace/solr/search/conf/schema.xml
  dspace/solr/search/conf/solrconfig.xml
Labels: bug, high priority, tools: import

#8364 Rename flyway migration scripts for relation versioning according to our convention
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.3_2022.06.20__add_last_version_status_column_to_relationship_table.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.3_2022.06.20__add_last_version_status_column_to_relationship_table.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.3_2022.06.20__add_last_version_status_column_to_relationship_table.sql
Labels: high priority, backend: FlywayDB

#8368 Fix consistent cleanup failure in CsvSearchExportIT
  dspace-server-webapp/src/test/java/org/dspace/app/rest/csv/CsvSearchExportIT.java
Labels: bug, high priority, 1 APPROVAL, testing framework

#8268 Porting of OrcidPublicationDataProvider
  dspace-api/src/main/java/org/dspace/external/provider/impl/OrcidPublicationDataProvider.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClient.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClientImpl.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidConfiguration.java
  dspace-api/src/main/java/org/dspace/orcid/service/OrcidSynchronizationService.java
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidSynchronizationServiceImpl.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-api/src/test/java/org/dspace/external/provider/impl/OrcidPublicationDataProviderIT.java
  dspace-api/src/test/resources/org/dspace/app/orcid-works/work-277871.xml
  dspace-api/src/test/resources/org/dspace/app/orcid-works/work-277902.xml
  dspace-api/src/test/resources/org/dspace/app/orcid-works/work-277904.xml
  dspace-api/src/test/resources/org/dspace/app/orcid-works/workBulk-277904-277902-277871.xml
  dspace-api/src/test/resources/org/dspace/app/orcid-works/workBulk-277904-277902.xml
  dspace-api/src/test/resources/org/dspace/app/orcid-works/works.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ExternalSourcesRestControllerIT.java
  dspace/config/crosswalks/orcid/mapConverter-orcid-to-dspace-language-code.properties
  dspace/config/crosswalks/orcid/mapConverter-orcid-to-dspace-publication-type.properties
  dspace/config/modules/orcid.cfg
  dspace/config/spring/api/external-services.xml
  dspace/config/spring/api/orcid-services.xml
Labels: high priority, integration: ORCID, tools: import-sources

#8370 Ensure all automated CI / Docker builds use `--no-transfer-progress` maven flag
  .github/workflows/build.yml
  Dockerfile
  Dockerfile.cli
  Dockerfile.test
Labels: configuration, backend: Docker

#8373 Improved orcid queue consumer description
  dspace/config/dspace.cfg
Labels: configuration, 1 APPROVAL

#8382 Clarify usage of Docker images
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker/README.md
Labels: backend: Docker, 1 APPROVAL
