Repository DSpace/DSpace, pull requests merged in 2022-05, with the labels that each got.

#2543 DS-4271: Replaced brackets with double quotes in SolrServiceImpl.
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, quick win, port to main, component: Discovery

#2593 DS-1980: Adds meta tag to prevent robots from indexing the item if it is private
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/artifactbrowser/ItemViewer.java
Labels: bug, quick win, interface: XMLUI

#8283 Add documentation to request_item.author email template; remove unused templates
  dspace/config/emails/request_item.author
  dspace/config/emails/request_item.to_admin
  dspace/config/emails/suggest
Labels: code task, quick win, backend: email-system, documentation

#8284 DS-4271: Replace brackets with double quotes in SolrServiceImpl
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, quick win, component: Discovery, 1 APPROVAL

#8247 Basic implementation for the access status badges
  dspace-api/src/main/java/org/dspace/access/status/AccessStatusHelper.java
  dspace-api/src/main/java/org/dspace/access/status/AccessStatusServiceImpl.java
  dspace-api/src/main/java/org/dspace/access/status/DefaultAccessStatusHelper.java
  dspace-api/src/main/java/org/dspace/access/status/factory/AccessStatusServiceFactory.java
  dspace-api/src/main/java/org/dspace/access/status/factory/AccessStatusServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/access/status/package-info.java
  dspace-api/src/main/java/org/dspace/access/status/service/AccessStatusService.java
  dspace-api/src/test/java/org/dspace/access/status/AccessStatusServiceTest.java
  dspace-api/src/test/java/org/dspace/access/status/DefaultAccessStatusHelperTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/AccessStatusRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/AccessStatusResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemAccessStatusLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ItemMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/model/AccessStatusRestTest.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/core-services.xml
Labels: improvement, component: Discovery, medium priority

#8064 OpenSearch RSS more robust handles Com/Coll as well as more search params
  dspace-api/src/main/java/org/dspace/app/util/SyndicationFeed.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OpenSearchController.java
  dspace/config/dspace.cfg
  dspace/config/modules/rest.cfg
Labels: improvement, new feature, interface: REST API v7, 1 APPROVAL, medium priority

#8237 Migrate extra DSpace-CRIS "Live Import" sources to DSpace (CrossRef & VuFind)
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefAuthorMetadataProcessor.java
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClient.java
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClientImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/ArrayElementAttributeProcessor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/JsonPathMetadataProcessor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/MatrixElementProcessor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleJsonPathMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/service/DoiCheck.java
  dspace-api/src/main/java/org/dspace/importer/external/vufind/VuFindImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/vufind/metadatamapping/VuFindFieldMapping.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-api/src/test/java/org/dspace/util/DoiCheckTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AbstractLiveImportIntegrationTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/VuFindImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/crossRef-by-id.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/crossRef-test.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/vuFind-by-id.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/vuFind-generic.json
  dspace-server-webapp/src/test/resources/test-config.properties
  dspace/config/dspace.cfg
  dspace/config/modules/external-providers.cfg
  dspace/config/spring/api/crossref-integration.xml
  dspace/config/spring/api/external-services.xml
  dspace/config/spring/api/vufind-integration.xml
Labels: new feature, high priority, 1 APPROVAL, tools: import-sources

#8276 Include special groups in the authn status endpoint
  dspace-api/src/main/java/org/dspace/core/Context.java
  dspace-api/src/test/java/org/dspace/core/ContextTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/AuthenticationRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/AuthenticationStatusRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/GroupRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/AuthenticationStatusMatcher.java
Labels: authorization, 1 APPROVAL, medium priority

#8286 Add custom exception for deleting Group with pending tasks
  dspace-api/src/main/resources/Messages.properties
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/GroupHasPendingWorkflowTasksException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CollectionRestRepository.java
  dspace-server-webapp/src/main/resources/application.properties
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionGroupRestControllerIT.java
  dspace-server-webapp/src/test/resources/Messages_pl.properties
Labels: 1 APPROVAL

#8287 Allow to do group/eperson patching of a resourcepolicy
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ResourcePolicyEPersonReplaceRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ResourcePolicyGroupReplaceRestController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
Labels: bug, authorization

#8305 Add support for linux/arm64 platform to docker build
  .github/workflows/docker.yml
Labels: backend: Docker, 1 APPROVAL

#8300 Add deprecation notice for Oracle Support to 7.3
  README.md
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/README.md
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
Labels: code task, high priority, backend: Oracle, 1 APPROVAL

#8296 Fix type bind validation to support fields configured more than once
  dspace-api/src/main/java/org/dspace/app/util/DCInputSet.java
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml
  dspace-api/src/test/java/org/dspace/app/util/SubmissionConfigTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/DescribeStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/validation/MetadataValidation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/WorkspaceItemMatcher.java
Labels: bug, 1 APPROVAL

#8315 Docker Fixes: Ensure multiple architecture build is disabled for PRs
  .github/workflows/docker.yml
Labels: bug, backend: Docker
