Repository DSpace/DSpace, pull requests merged in 2022-08, with the labels that each got.

#2468 [DS-4289] SAF exporter does not write the 'collections' file
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportServiceImpl.java
Labels: improvement, interface: command-line, tools: packager, tools: export, 1 APPROVAL

#8422 Workflow's steps doesn't preserve order
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/Workflow.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowDefinitionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/WorkflowDefinitionMatcher.java
Labels: bug, configuration, component: workflow, 1 APPROVAL, usability

#8400 Fix claimed user on `AssignOriginalSubmitterAction`
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/userassignment/AssignOriginalSubmitterAction.java
Labels: bug, component: workflow, 1 APPROVAL

#8410 proxies.trusted.ipranges fixes
  dspace-api/src/main/java/org/dspace/service/impl/ClientInfoServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/util/IPTable.java
  dspace-api/src/test/java/org/dspace/statistics/util/IPTableTest.java
Labels: bug

#8424 Pagination support for multiple objects and authorization features endpoint
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/AuthorizationRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
Labels: bug, interface: REST API v7, 1 APPROVAL

#8435 Fix browse by title filter doesn't work with diacritics
  dspace-api/src/main/java/org/dspace/browse/BrowseEngine.java
  dspace-api/src/main/java/org/dspace/sort/OrderFormatTitle.java
  dspace-api/src/main/java/org/dspace/sort/OrderFormatTitleMarc21.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
Labels: bug, component: Discovery, 1 APPROVAL

#8452 Update jbibtex library to version 1.0.20
  dspace-api/pom.xml
Labels: code task, dependencies, 1 APPROVAL

#8464 Remove/replace gendered language in code comments
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemMetadataStrategy.java
  dspace-api/src/main/java/org/dspace/browse/BrowseDAO.java
  dspace-api/src/main/java/org/dspace/content/LicenseUtils.java
  dspace-api/src/main/java/org/dspace/core/Context.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProviderWithCanonicalHandles.java
  dspace-api/src/main/java/org/dspace/statistics/content/DatasetTimeGenerator.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/WorkflowRequirementsServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/SelectReviewerAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/SingleUserReviewAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/PoolTaskServiceImpl.java
  dspace-api/src/test/java/org/dspace/authorize/AuthorizeServiceTest.java
  dspace-api/src/test/java/org/dspace/content/packager/ITDSpaceAIP.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanChangePasswordFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SearchFilterToAppliedFilterConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ClaimedTaskRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/GroupRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/PoolTaskRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ResearcherProfileRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WorkflowRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/TaskRestRepositoriesIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/EnrollAdministratorIT.java
  dspace/config/dspace.cfg
  dspace/src/main/config/build.xml
Labels: code task

#8399 [DS-3306] bin/dspace create-administrator needs a --help option #6661 #8367
  dspace-api/src/main/java/org/dspace/administer/CreateAdministrator.java
Labels: 1 APPROVAL

#8454 use org.jbibtex.LaTeXParser to handle BibTeX diacritics
  dspace-api/src/main/java/org/dspace/importer/external/bibtex/service/BibtexImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/bibtex-test-diacritics.bib
Labels: bug, tools: import, 1 APPROVAL

#8456 Expose BibTeX document type as PlainMetadataKeyValueItem during import
  dspace-api/src/main/java/org/dspace/importer/external/bibtex/service/BibtexImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/bibtex-test-article.bib
  dspace/config/spring/api/bibtex-integration.xml
  dspace/config/spring/api/dublicore-metadata-mapper.xml
Labels: bug, improvement, tools: import, 1 APPROVAL

#8458 Solr search core initialization is fragile
  dspace-api/src/main/java/org/dspace/discovery/SolrSearchCore.java
Labels: improvement, code task, component: Discovery, 1 APPROVAL

#1857 [DS-2670] Restrospectively create DOIs for all items in archive
  dspace-api/src/main/java/org/dspace/ctask/general/CreateMissingIdentifiers.java
  dspace-api/src/main/java/org/dspace/identifier/service/IdentifierService.java
  dspace-api/src/test/java/org/dspace/ctask/general/CreateMissingIdentifiersIT.java
Labels: new feature, identifier: DOIs, 1 APPROVAL

#8446 W2p 93108 bitstream name missing on statistics page 7.2
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataVisits.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/UsageReportUtils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/StatisticsRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/UsageReportMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/UsageReportPointMatcher.java
Labels: bug, high priority
