Repository DSpace/DSpace, pull requests merged in 2022-01, with the labels that each got.

#8096 Fixes New Log4j Remote Code Execution Bug
  pom.xml
Labels: high priority, dependencies, security

#8092 Update docker-compose scripts to use environment variables (to align with runtime configs)
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/docker-compose-angular.yml
  dspace/src/main/docker-compose/environment.dev.ts
  dspace/src/main/docker-compose/local.cfg
  dspace/src/main/docker/README.md
  dspace/src/main/docker/local.cfg
Labels: code task, backend: Docker

#8050 Ensure Shibboleth user cannot change their password
  dspace-api/src/main/java/org/dspace/authenticate/AuthenticationMethod.java
  dspace-api/src/main/java/org/dspace/authenticate/AuthenticationServiceImpl.java
  dspace-api/src/main/java/org/dspace/authenticate/IPAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/PasswordAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/ShibAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/X509Authentication.java
  dspace-api/src/main/java/org/dspace/authenticate/service/AuthenticationService.java
  dspace-api/src/main/java/org/dspace/core/Context.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/AuthenticationRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanChangePasswordFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/AuthenticationStatusRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/AuthenticationMethodClaimProvider.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/security/ShibbolethLoginFilterIT.java
Labels: bug, high priority

#8098 Make IdentifierService code less "noisy" in the logs
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/main/java/org/dspace/identifier/IdentifierServiceImpl.java
Labels: bug, code task, 1 APPROVAL

#8075 If a workflow user rejects an item that they submitted, the item becomes uneditable
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace-api/src/test/java/org/dspace/xmlworkflow/XmlWorkflowServiceIT.java
Labels: bug, high priority, component: workflow, 1 APPROVAL

#8097 Increase test timeout for MetadataFieldPerformanceTest.testManyMetadataAdds()
  dspace-api/src/main/java/org/dspace/content/MetadataValueServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/MetadataFieldPerformanceTest.java
Labels: bug, code task, testing framework

#8077 Qualdrop values not play well with mandatory flag
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/validation/MetadataValidation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: bug, high priority, component: submission, 1 APPROVAL

#8102 Speed up IPMatcherTest (by testing fewer IPs) & enable rerun flakey tests in CI
  .github/workflows/build.yml
  dspace-api/src/test/java/org/dspace/authenticate/IPMatcherTest.java
Labels: bug, testing framework

#8054 Fix sample log rollover config
  dspace/config/log4j2.xml
Labels: bug, configuration, 1 APPROVAL

#8100 Expose 'versioning.item.history.include.submitter' via configuration endpoint
  dspace/config/modules/rest.cfg
  dspace/config/modules/versioning.cfg
Labels: code task, interface: REST API v7, configuration, 1 APPROVAL

#8101 Log4j v2 : switch to %X{var} syntax instead of $${ctx:var}
  dspace/config/log4j2.xml
Labels: bug, high priority, configuration, 1 APPROVAL

#8028 Oracle migration error
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2018.04.16__dspace-entities.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2019.07.31__Retrieval_of_name_variant.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.0_2019.11.13__relationship_type_copy_left_right.sql
Labels: bug, backend: Oracle, backend: FlywayDB

#2172 DS-3981 Improve IndexClient usage & options
  dspace-api/src/main/java/org/dspace/discovery/IndexClient.java
  dspace-api/src/main/java/org/dspace/discovery/IndexClientOptions.java
  dspace-api/src/main/java/org/dspace/discovery/IndexingService.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/storage/rdbms/DatabaseUtils.java
Labels: improvement, quick win, interface: command-line, 1 APPROVAL

#7987 Use a connection pool for communication with Solr
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/authority/AuthoritySolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/SolrSearchCore.java
  dspace-api/src/main/java/org/dspace/service/impl/HttpConnectionPoolService.java
  dspace-api/src/main/java/org/dspace/statistics/SolrStatisticsCore.java
  dspace-api/src/test/java/org/dspace/service/impl/HttpConnectionPoolServiceTest.java
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/solr/DSpaceSolrServerResolver.java
  dspace-oai/src/main/java/org/dspace/xoai/solr/DSpaceSolrServer.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
Labels: improvement, component: statistics, backend: Solr, component: Discovery, component: authority control, api

#8108 Ensure SubmissionService doesn't swallow root exceptions
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/SubmissionService.java
Labels: bug, code task

#8110 Fix OAI cli commands by replacing autowired with servicefactory call
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/solr/DSpaceSolrServerResolver.java
Labels: code task, high priority

#8049 Corrects viewingHint omission and refactors services.
  dspace-iiif/src/main/java/org/dspace/app/iiif/model/generator/RangeGenerator.java
  dspace-iiif/src/main/java/org/dspace/app/iiif/service/ManifestService.java
  dspace-iiif/src/main/java/org/dspace/app/iiif/service/RangeService.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/iiif/IIIFControllerIT.java
Labels: improvement, 1 APPROVAL, integration: IIIF

#8093 fix statistics rest permission evaluator to allow only administrators when access is restricted to this role
  dspace-server-webapp/src/main/java/org/dspace/app/rest/StatisticsRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanViewUsageStatisticsFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/StatisticsRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/UsageReportRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/StatisticsRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ViewUsageStatisticsFeatureIT.java
  dspace/config/modules/usage-statistics.cfg
Labels: bug, high priority, component: statistics, 1 APPROVAL

#8116 Minor dispatcher fix for bitstreams that have no parent
  dspace-api/src/main/java/org/dspace/iiif/IIIFCacheEventConsumer.java
Labels: bug, 1 APPROVAL, integration: IIIF

#8118 Use lenient stubbing in MockSolrLoggerServiceImpl
  dspace-api/src/test/java/org/dspace/statistics/MockSolrLoggerServiceImpl.java
Labels: bug, testing framework

#8124 Javax mail update
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace-services/pom.xml
  pom.xml
Labels: component: workflow, backend: email-system, dependencies

#8127 Docker-Compose Environment variables must be strings or numbers, not booleans
  dspace/src/main/docker-compose/docker-compose-angular.yml
Labels: bug, backend: Docker, 1 APPROVAL

#8122 Workspace/Workflow only discovery configuration isn't working
  dspace-api/src/main/java/org/dspace/discovery/indexobject/InprogressSubmissionIndexFactoryImpl.java
Labels: bug, component: workflow, component: Discovery, 1 APPROVAL

#8074 IIIF canvas dimension task
  dspace-api/src/main/java/org/dspace/iiif/IIIFApiQueryService.java
  dspace-api/src/main/java/org/dspace/iiif/IIIFApiQueryServiceImpl.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/CanvasDimensionCLI.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/IIIFCanvasDimensionServiceImpl.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/ImageDimensionReader.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/Util.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/factory/IIIFCanvasDimensionServiceFactory.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/factory/IIIFCanvasDimensionServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/iiif/canvasdimension/service/IIIFCanvasDimensionService.java
  dspace-api/src/main/java/org/dspace/iiif/consumer/CacheEvictBeanLocator.java
  dspace-api/src/main/java/org/dspace/iiif/consumer/CacheEvictService.java
  dspace-api/src/main/java/org/dspace/iiif/consumer/IIIFCacheEventConsumer.java
  dspace-api/src/main/java/org/dspace/iiif/util/IIIFSharedUtils.java
  dspace-api/src/test/java/org/dspace/iiif/canvasdimension/CanvasDimensionsIT.java
  dspace-api/src/test/resources/org/dspace/iiif/canvasdimension/cat.jpg
  dspace-iiif/src/main/java/org/dspace/app/iiif/service/utils/IIIFUtils.java
  dspace/config/dspace.cfg
  dspace/config/launcher.xml
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/api/iiif-processing.xml
Labels: new feature, interface: command-line, integration: IIIF

#8090 Feedback form - rest part
  dspace-api/src/main/java/org/dspace/content/FeedbackServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/FeedbackService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanSendFeedbackFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceFeedbackNotFoundException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FeedbackRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/FeedbackRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/FeedbackRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanSendFeedbackFeatureIT.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
Labels: new feature, high priority, 1 APPROVAL

#8113 File downloads don't close inputstreams when cached fix
  dspace-api/src/main/java/org/dspace/curate/CitationPage.java
  dspace-api/src/main/java/org/dspace/disseminate/CitationDocumentServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/SitemapRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/HttpHeadersInitializer.java
Labels: bug, backend: bitstore, 1 APPROVAL

#8141 8134 - Fix the example requestiem helpdesk strategy example
  dspace/config/spring/api/requestitem.xml
Labels: bug, code task

#8142 8138 Fix SQL/HQL in itemDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
Labels: bug, code task

#8088 Port OIDC (OpenID Connect) auth plugin from DSpace-CRIS
  .gitignore
  dspace-api/src/main/java/org/dspace/authenticate/OidcAuthentication.java
  dspace-api/src/main/java/org/dspace/authenticate/OidcAuthenticationBean.java
  dspace-api/src/main/java/org/dspace/authenticate/oidc/OidcClient.java
  dspace-api/src/main/java/org/dspace/authenticate/oidc/OidcClientException.java
  dspace-api/src/main/java/org/dspace/authenticate/oidc/impl/OidcClientImpl.java
  dspace-api/src/main/java/org/dspace/authenticate/oidc/model/OidcTokenResponseDTO.java
  dspace-api/src/main/java/org/dspace/util/ThrowingSupplier.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OidcRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/OidcLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityConfiguration.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/OidcAuthenticationRestControllerIT.java
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
  dspace/config/modules/authentication-oidc.cfg
  dspace/config/modules/authentication.cfg
  dspace/config/spring/api/core-services.xml
Labels: new feature, authentication: general

#8091 Embargo Item Metadata
  dspace-api/src/main/java/org/dspace/app/util/SubmissionStepConfig.java
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicy.java
  dspace-api/src/main/java/org/dspace/authorize/dao/impl/ResourcePolicyDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/submit/model/AccessConditionConfiguration.java
  dspace-api/src/main/java/org/dspace/submit/model/AccessConditionConfigurationService.java
  dspace-api/src/main/java/org/dspace/submit/model/AccessConditionOption.java
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/access-conditions.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionAccessOptionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/SubmissionSectionHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/AccessConditionDTO.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/SubmissionAccessOptionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/SubmissionAccessOptionResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/step/DataAccessCondition.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/step/UploadBitstreamRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionAccessOptionRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/DataProcessingStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/SubmissionService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/AccessConditionAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/AccessConditionDiscoverableReplacePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/AccessConditionRemovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/AccessConditionReplacePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/AccessConditionResourcePolicyUtils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyRemovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyUtils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/AccessConditionStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/UploadStep.java
  dspace-server-webapp/src/main/resources/spring/spring-dspace-core-services.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionAccessOptionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/AccessConditionOptionMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ResourcePolicyMatcher.java
  dspace/config/item-submission.xml
  dspace/config/spring/api/access-conditions.xml
Labels: new feature, high priority, component: submission

#8104 Add support for Java / JDK 17 (latest LTS release)
  .github/workflows/build.yml
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataWorkflow.java
  dspace-sword/src/main/java/org/purl/sword/client/CmdClient.java
  dspace/src/main/docker-compose/README.md
  pom.xml
Labels: bug, code task, dependencies
