Repository DSpace/DSpace, pull requests merged in 2023-07, with the labels that each got.

#8884 Bump dependencies
  dspace-api/pom.xml
  dspace-iiif/pom.xml
  dspace-server-webapp/pom.xml
  dspace-sword/pom.xml
  pom.xml
Labels: dependencies

#8941 Update GitHub Actions for 7.x maintenance
  .github/disabled-workflows/pull_request_opened.yml
  .github/workflows/codescan.yml
  .github/workflows/label_merge_conflicts.yml
  .github/workflows/pull_request_opened.yml
Labels: code task, 1 APPROVAL

#8942 GitHub Actions: Split Docker image builds into separate jobs to run in parallel. Enable 'latest' tag.
  .github/workflows/docker.yml
Labels: code task, backend: Docker, 1 APPROVAL

#8953 Add flag Pattern.UNICODE_CHARACTER_CLASS to pattern compilation to recognize Unicode characters
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
Labels: bug, component: Discovery, 1 APPROVAL, port to 7.x

#8958 [PORT to 7.x] Add flag Pattern.UNICODE_CHARACTER_CLASS to pattern compilation to recognize unicode characters
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
Labels: bug, component: Discovery

#8959 Port recent GitHub Actions changes to `dspace-7_x` branch
  .github/disabled-workflows/pull_request_opened.yml
  .github/workflows/codescan.yml
  .github/workflows/docker.yml
  .github/workflows/label_merge_conflicts.yml
  .github/workflows/pull_request_opened.yml
Labels: code task, 1 APPROVAL

#8974 Replace all old Docker "dspace-7_x" tags with "latest" on main
  Dockerfile
  Dockerfile.cli
  Dockerfile.test
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/db.entities.yml
  dspace/src/main/docker-compose/db.restore.yml
  dspace/src/main/docker-compose/docker-compose-angular.yml
  dspace/src/main/docker/README.md
Labels: backend: Docker, 1 APPROVAL

#8950 code cleanup: remove obsolete code fragments in ItemIndexFactoryImpl
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
Labels: code task, backend: Solr, port to 7.x

#8988 Add GitHub action to automatically create a port PR (based on label)
  .github/workflows/port_merged_pull_request.yml
Labels: code task, port to dspace-7_x

#8994 Bug fixes for actions: Run PR porting action as 'dspace-bot'. Ignore errors from label_merge_conflicts
  .github/workflows/label_merge_conflicts.yml
  .github/workflows/port_merged_pull_request.yml
Labels: bug, code task, port to dspace-7_x

#8995 Fix typo. Config must be a valid regex
  .github/workflows/port_merged_pull_request.yml
Labels: bug, code task, port to dspace-7_x

#8955 Prevent NPE during indexing if bitstream is null
  dspace-api/src/main/java/org/dspace/discovery/FullTextContentStreams.java
  dspace-oai/src/main/java/org/dspace/xoai/util/ItemUtils.java
Labels: bug, component: Discovery, 1 APPROVAL, port to dspace-7_x

#8997 [Port dspace-7_x] Prevent NPE during indexing if bitstream is null
  dspace-api/src/main/java/org/dspace/discovery/FullTextContentStreams.java
  dspace-oai/src/main/java/org/dspace/xoai/util/ItemUtils.java
Labels: bug, component: Discovery
