Repository DSpace/DSpace, pull requests merged in 2023-11, with the labels that each got.

#9078 Improve performance for Groups with many EPerson members. Fix pagination on endpoints
  dspace-api/src/main/java/org/dspace/eperson/EPersonServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/Group.java
  dspace-api/src/main/java/org/dspace/eperson/GroupServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/EPersonDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/GroupDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/EPersonDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/GroupDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/EPersonService.java
  dspace-api/src/main/java/org/dspace/eperson/service/GroupService.java
  dspace-api/src/test/java/org/dspace/eperson/EPersonTest.java
  dspace-api/src/test/java/org/dspace/eperson/GroupTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/GroupEPersonLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/GroupGroupLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
Labels: bug, high priority, interface: REST API v7, authorization, performance / caching, port to dspace-7_x

#9126 Allow users with write permission to see hidden metadata
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ItemConverter.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
Labels: bug, authorization, component: submission, port to dspace-7_x

#9136 Verify optional request-a-copy message is not missing or a literal "null" value
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9080 DS-4414: adds authorization check for license bitstream in OAI import
  dspace-oai/src/main/java/org/dspace/xoai/util/ItemUtils.java
Labels: bug, interface: command-line, interface: OAI-PMH, 1 APPROVAL

#9084 [Port dspace-7_x] DS-4414: adds authorization check for license bitstream in OAI import
  dspace-oai/src/main/java/org/dspace/xoai/util/ItemUtils.java
Labels: bug, interface: command-line, interface: OAI-PMH, 1 APPROVAL

#8980 Improve performance of discovery consumer when there are many items to index
  dspace-api/src/main/java/org/dspace/core/Context.java
  dspace-api/src/main/java/org/dspace/core/DBConnection.java
  dspace-api/src/main/java/org/dspace/core/HibernateDBConnection.java
  dspace-api/src/main/java/org/dspace/discovery/IndexEventConsumer.java
  dspace-api/src/test/java/org/dspace/core/ContextIT.java
Labels: bug, high priority, backend: Solr, component: Discovery, performance / caching, port to dspace-7_x

#9157 dspace/config: update spider agent list
  dspace/config/spiders/agents/example
Labels: quick win, component: statistics, backend: Solr, 1 APPROVAL, port to dspace-7_x

#9165 DS-9059: removes options to ping search engines when generating sitemaps
  dspace-api/src/main/java/org/dspace/app/sitemap/GenerateSitemaps.java
  dspace/config/dspace.cfg
Labels: bug, component: SEO, 1 APPROVAL, port to dspace-7_x

#9076 Fix to prevent workflow tasks configured to be queued from running automatically
  dspace-api/src/main/java/org/dspace/curate/Curation.java
  dspace-api/src/main/java/org/dspace/curate/XmlWorkflowCuratorServiceImpl.java
Labels: bug, tools: curation-tasks, component: workflow, 1 APPROVAL, port to dspace-7_x

#9182 [Port dspace-7_x] Fix to prevent workflow tasks configured to be queued from running automatically
  dspace-api/src/main/java/org/dspace/curate/Curation.java
  dspace-api/src/main/java/org/dspace/curate/XmlWorkflowCuratorServiceImpl.java
Labels: bug, tools: curation-tasks, component: workflow, 1 APPROVAL

#9148 Return both user and operational LDAP attributes
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
Labels: bug, high priority, authentication: LDAP, 1 APPROVAL, port to dspace-7_x

#9179 [DURACOM-200] improvement of checker script
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamDAOImpl.java
Labels: bug, high priority, tools: checksum, 1 APPROVAL, performance / caching, port to dspace-7_x

#9181 Fix an issue where the `closed` attribute of vocabularies in the submission forms would be neglected
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionFormConverter.java
Labels: bug, component: submission, 1 APPROVAL, component: controlled vocabulary, port to dspace-7_x

#9130 Authentication Method related special groups are put in claim set even if a different authentication method is used
  dspace-api/src/main/java/org/dspace/authenticate/AuthenticationMethod.java
  dspace-api/src/main/java/org/dspace/authenticate/AuthenticationServiceImpl.java
  dspace-api/src/main/java/org/dspace/authenticate/IPAuthentication.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthenticationRestControllerIT.java
Labels: bug, authentication: Shibboleth, 1 APPROVAL, authentication: general, port to dspace-7_x

#9161 Cache 'Administrator' group to improve performance of Workflow Tasks Page.
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/core/Context.java
Labels: bug, high priority, 1 APPROVAL, performance / caching, port to dspace-7_x

#9175 Improve sitemap performance and exclude restricted and undiscoverable content
  dspace-api/src/main/java/org/dspace/app/sitemap/GenerateSitemaps.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SitemapRestControllerIT.java
Labels: bug, high priority, component: SEO, 1 APPROVAL, performance / caching, port to dspace-7_x

#8864 Event consumer for submission config reloading when a collection changes
  dspace-api/src/main/java/org/dspace/app/util/DCInputsReader.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/service/ChoiceAuthorityService.java
  dspace-api/src/main/java/org/dspace/submit/consumer/SubmissionConfigConsumer.java
  dspace-api/src/main/java/org/dspace/submit/factory/SubmissionServiceFactory.java
  dspace-api/src/main/java/org/dspace/submit/factory/SubmissionServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/submit/service/SubmissionConfigService.java
  dspace-api/src/main/java/org/dspace/submit/service/SubmissionConfigServiceImpl.java
  dspace-api/src/test/java/org/dspace/app/util/SubmissionConfigTest.java
  dspace-api/src/test/java/org/dspace/builder/AbstractBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/AInprogressItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionDefinitionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionSectionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionDefinitionRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionPanelRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/SubmissionService.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/core-services.xml
Labels: bug, improvement, configuration, component: submission, port to dspace-7_x

#9125 Add `isNotMemberOf` searches for Groups and EPersons (for improved performance on Edit Group pages)
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDSODAO.java
  dspace-api/src/main/java/org/dspace/eperson/EPersonServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/GroupServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/EPersonDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/GroupDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/EPersonDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/GroupDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/EPersonService.java
  dspace-api/src/main/java/org/dspace/eperson/service/GroupService.java
  dspace-api/src/test/java/org/dspace/eperson/EPersonTest.java
  dspace-api/src/test/java/org/dspace/eperson/GroupTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/GroupRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
Labels: bug, high priority, interface: REST API v7, authorization, performance / caching, port to dspace-7_x

#9184 Updated IIIF Controller IT to text bitstream and bundle exclusions
  dspace-api/src/test/java/org/dspace/builder/BitstreamBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/iiif/IIIFControllerIT.java
Labels: bug, 1 APPROVAL, testing framework, integration: IIIF, port to dspace-7_x

#9163 Simplify process of fixing the tests after adding sidebar facets
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
Labels: improvement, quick win, low priority, testing framework, port to dspace-7_x

#9162 Fix match theme by handle with cannonical prefix https://hdl.handle.net/ not working
  dspace/config/default.license
  dspace/config/modules/rest.cfg
Labels: bug, high priority, claimed: Atmire, port to dspace-7_x

#9203 CrossRefImport: ignore empty responses rather than generating empty phantom ImportRecords
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
Labels: bug, 1 APPROVAL, tools: import-sources, port to dspace-7_x

#9207 [Port dspace-7-x] CrossRefImport: ignore empty responses rather than generating empty phantom ImportRecords
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
Labels: bug, tools: import-sources

#9213 Add parallel builds for Docker Images in GitHub Actions
  .github/workflows/build.yml
  .github/workflows/codescan.yml
  .github/workflows/docker.yml
  .github/workflows/port_merged_pull_request.yml
  .github/workflows/pull_request_opened.yml
  .github/workflows/reusable-docker-build.yml
  Dockerfile
  Dockerfile.dependencies
Labels: code task, backend: Docker, 1 APPROVAL, port to dspace-7_x

#9216 [Docker] Ensure 'dspace-solr' image redeploys the Solr instances for Demo/Sandbox
  .github/workflows/docker.yml
Labels: bug, backend: Docker, 1 APPROVAL, port to dspace-7_x
