Repository DSpace/DSpace, pull requests merged in 2023-06, with the labels that each got.

#8842 Fix validation issue with hidden submission's sections
  dspace-api/src/main/java/org/dspace/app/util/SubmissionStepConfig.java
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/submission-forms.xml
  dspace-api/src/test/java/org/dspace/builder/WorkspaceItemBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/AInprogressItemConverter.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionFormsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace/config/item-submission.xml
Labels: bug, component: submission, 1 APPROVAL

#8860 [DURACOM-127] check if versioning is enabled for versioned identifier providers
  dspace-api/src/main/java/org/dspace/identifier/VersionedDOIIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProviderWithCanonicalHandles.java
Labels: bug, component: versioning, identifier: DOIs, 1 APPROVAL

#8878 [DURACOM-149] correctly handle dates in pubmed live import
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/metadatamapping/contributor/PubmedDateMetadatumContributor.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/PubmedImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/pubmedimport-fetch-test.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/pubmedimport-fetch-test2.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/pubmedimport-search-test.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/pubmedimport-search-test2.xml
Labels: bug, 1 APPROVAL, tools: import-sources

#8857 Fix: default sort option for discovery
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoverySortConfiguration.java
  dspace-api/src/main/java/org/dspace/discovery/utils/DiscoverQueryBuilder.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverConfigurationConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/SearchConfigurationRest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/utils/RestDiscoverQueryBuilderTest.java
  dspace/config/spring/api/discovery.xml
  dspace/solr/search/conf/schema.xml
Labels: improvement, component: Discovery, 1 APPROVAL

#8856 Unlink DOI from item on deletion even if no provider is configured
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/CollectionTest.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
Labels: bug, quick win, identifier: DOIs, 1 APPROVAL, java

#8870 DS-8759: check that zip file exists and has correct MIME type; clean up imports directory on failed import
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImport.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportCLI.java
  dspace-api/src/test/java/org/dspace/app/itemimport/ItemImportCLIIT.java
  dspace-api/src/test/resources/org/dspace/app/itemimport/test.pdf
  dspace-server-webapp/src/test/java/org/dspace/app/itemimport/ItemImportIT.java
Labels: bug, tools: import, 1 APPROVAL, tools: processes

#8866 dspace: capture publisher from CrossRef live import
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
  dspace/config/spring/api/crossref-integration.xml
Labels: 1 APPROVAL, tools: import-sources

#8826 Browse by Controlled Vocabulary (hierarchicalBrowse)
  dspace-api/src/main/java/org/dspace/browse/BrowseIndex.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/DSpaceControlledVocabularyIndex.java
  dspace-api/src/main/java/org/dspace/content/authority/service/ChoiceAuthorityService.java
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfigurationService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/BrowseIndexConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/BrowseEntryHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/BrowseIndexRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/BrowseIndexResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BrowseEntryLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BrowseIndexRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BrowseItemLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/BrowseIndexMatcher.java
Labels: new feature, component: Discovery

#8485 multiple bitstream deletion endpoint
  dspace-api/src/main/resources/Messages.properties
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamCategoryRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/RESTBitstreamNotFoundException.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BitstreamRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/BitstreamRemoveOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace/config/modules/rest.cfg
Labels: bug, backend: bitstore

#8623 Fixes for scope based searching and indexing in Discovery
  dspace-api/src/main/java/org/dspace/browse/SolrBrowseDAO.java
  dspace-api/src/main/java/org/dspace/discovery/SearchUtils.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceFileInfoPlugin.java
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfigurationService.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/CollectionIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/CommunityIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/InprogressSubmissionIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-api/src/test/java/org/dspace/builder/CommunityBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OpenSearchController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DiscoveryRestRepository.java
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/api/test-discovery.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryScopeBasedRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/FacetEntryMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/FacetValueMatcher.java
  dspace/config/spring/api/discovery.xml
Labels: bug, high priority, claimed: Atmire

#8887 Fix test class compilation
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
Labels: bug, high priority, 1 APPROVAL, testing framework

#8874 Make service lookup retry log at DEBUG; radically shorten the trace.
  dspace-services/src/main/java/org/dspace/servicemanager/DSpaceServiceManager.java
  dspace-services/src/main/java/org/dspace/utils/CallStackUtils.java
Labels: bug, code task, 1 APPROVAL

#8758 Added input validation for new metadata field submissions & fixed some other bugs related to metadata fields
  dspace-api/src/main/java/org/dspace/discovery/indexobject/MetadataFieldIndexFactoryImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/MetadataFieldRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/MetadataSchemaRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MetadataSchemaRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/MetadatafieldRestRepositoryIT.java
Labels: bug, 1 APPROVAL, medium priority, usability, claimed: Atmire

#8869 new Access Status XOAI plugin
  dspace-oai/src/main/java/org/dspace/xoai/app/plugins/AccessStatusElementItemCompilePlugin.java
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
  dspace/config/spring/oai/oai.xml
Labels: interface: OAI-PMH, 1 APPROVAL, integration: OpenAIRE

#8830 Allow script execution by user other than admins - starting from the curate script
  dspace-api/src/main/java/org/dspace/administer/ProcessCleanerConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataDeletionScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportSearchScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/harvest/HarvestScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/solrdatabaseresync/SolrDatabaseResyncCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/AuthorizeService.java
  dspace-api/src/main/java/org/dspace/content/dao/ProcessDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ProcessDAOImpl.java
  dspace-api/src/main/java/org/dspace/curate/CurationScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/discovery/IndexDiscoveryScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/orcid/script/OrcidBulkPushScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/ScriptServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/configuration/ScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/scripts/service/ProcessService.java
  dspace-api/src/main/java/org/dspace/statistics/export/RetryFailedOpenUrlTrackerScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/submit/migration/SubmissionFormsMigrationCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/submit/migration/SubmissionFormsMigrationScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/subscriptions/SubscriptionEmailNotificationConfiguration.java
  dspace-api/src/test/java/org/dspace/builder/AbstractDSpaceObjectBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ItemBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ProcessBuilder.java
  dspace-api/src/test/java/org/dspace/scripts/MockDSpaceRunnableScriptConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ScriptProcessesController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessFileTypesLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessFilesLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessOutputLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ScriptRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ProcessRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScriptRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/scripts/TypeConversionTestScriptConfiguration.java
  dspace-server-webapp/src/test/java/org/dspace/curate/CurationScriptIT.java
  dspace-server-webapp/src/test/java/org/dspace/scripts/MockDSpaceRunnableScriptConfiguration.java
Labels: high priority, tools: curation-tasks

#8894 [DURACOM-153] fix validation to use the retrieved zip file on saf import
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImport.java
Labels: claimed: 4Science

#8855 Default submission forms per Entity type
  dspace-api/src/main/java/org/dspace/app/util/SubmissionConfigReader.java
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/CollectionService.java
  dspace/config/item-submission.dtd
  dspace/config/item-submission.xml
Labels: component: submission, component: configurable entities, 1 APPROVAL

#8831 [CST-5728] LYRASIS [Donated]: DSpace7: Implement signposting pattern …
  dspace-api/src/main/java/org/dspace/content/MetadataSchemaEnum.java
  dspace-api/src/main/java/org/dspace/content/RelationshipMetadataServiceImpl.java
  dspace-api/src/main/java/org/dspace/util/FrontendUrlService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/Application.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/controller/LinksetRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/converter/LinksetConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/converter/LinksetHttpMessageConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/converter/LinksetNodeConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/hateoas/LinksetResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/Linkset.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/LinksetNode.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/LinksetRelation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/LinksetRelationType.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/LinksetRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/MetadataConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/TypedLinkRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/AbstractSignPostingProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/SignPostingProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamLinksetProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamParentItemProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamSignpostingProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamTypeProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemAuthorProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemContentBitstreamsProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemIdentifierProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemLicenseProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemSignpostingProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemTypeProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/utils/LinksetMapper.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/ApplicationConfig.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
  dspace/config/crosswalks/signposting/mapConverter-dspace-to-schema-org-uri.properties
  dspace/config/dspace.cfg
  dspace/config/modules/signposting.cfg
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/rest/signposting.xml
Labels: new feature, claimed: 4Science

#8889 [Issue: #8888] Fixing the hostname parsing for the shibboleth auth
  dspace-api/src/main/java/org/dspace/core/Utils.java
  dspace-api/src/test/java/org/dspace/core/UtilsTest.java
Labels: bug, authentication: Shibboleth, 1 APPROVAL

#8876 Primary bitstream support for the REST api - Rework
  dspace-server-webapp/src/main/java/org/dspace/app/rest/PrimaryBitstreamController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BundlePrimaryBitstreamLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/PrimaryBitstreamControllerIT.java
Labels: high priority

#8833 Get request-copy response email body from backend templates, as with all other emails
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemEmailNotifier.java
  dspace-api/src/main/java/org/dspace/app/requestitem/package-info.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-requestitem-services.xml
  dspace-api/src/test/java/org/dspace/app/requestitem/JavaMailTestTransport.java
  dspace-api/src/test/java/org/dspace/app/requestitem/RequestItemEmailNotifierTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/ApplicationConfig.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/eperson/DeleteEPersonSubmitterIT.java
  dspace/config/emails/request_item.granted
  dspace/config/spring/api/requestitem.xml
Labels: improvement, backend: email-system, api, java

#8843 Item counters added to Communities and Collections REST API
  dspace-api/src/main/java/org/dspace/browse/ItemCounter.java
  dspace-api/src/main/java/org/dspace/content/Collection.java
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Community.java
  dspace-api/src/main/java/org/dspace/content/CommunityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/CollectionService.java
  dspace-api/src/main/java/org/dspace/content/service/CommunityService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/CollectionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/CommunityConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/CollectionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/CommunityRest.java
  dspace/config/dspace.cfg
Labels: bug, new feature, component: Discovery, 1 APPROVAL

#8848 Adding/removing relationships in the submission form does not update the view automatically
  dspace-api/src/main/java/org/dspace/app/util/DCInputSet.java
  dspace-api/src/main/java/org/dspace/core/Utils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/DescribeStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/validation/MetadataValidation.java
Labels: bug, high priority, component: submission, component: configurable entities, 1 APPROVAL, e/20, claimed: Atmire

#8891 Configuration for opening bitstream formats as attachment
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace/config/dspace.cfg
Labels: improvement, interface: REST API v7, configuration, 1 APPROVAL

#8844 Bulk Access Control Script REST implementation
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/BulkAccessControl.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/BulkAccessControlCli.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/BulkAccessControlCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/BulkAccessControlScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/exception/BulkAccessControlException.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/model/AccessCondition.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/model/AccessConditionBitstream.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/model/AccessConditionItem.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/model/BulkAccessConditionConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/model/BulkAccessControlInput.java
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/service/BulkAccessConditionConfigurationService.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/service/MediaFilterService.java
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicyServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/dao/ResourcePolicyDAO.java
  dspace-api/src/main/java/org/dspace/authorize/dao/impl/ResourcePolicyDAOImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/ResourcePolicyService.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/submit/model/AccessConditionOption.java
  dspace-api/src/main/java/org/dspace/util/MultiFormatDateDeserializer.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/data/dspaceFolder/config/spring/api/access-conditions.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/app/bulkaccesscontrol/BulkAccessControlIT.java
  dspace-api/src/test/java/org/dspace/app/matcher/ResourcePolicyMatcher.java
  dspace-api/src/test/java/org/dspace/builder/CollectionBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/BulkAccessConditionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/BulkAccessConditionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/BulkAccessConditionResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/BulkAccessConditionRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ScriptRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/resourcePolicy/ResourcePolicyEndDateAddOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/resourcePolicy/ResourcePolicyEndDateReplaceOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/resourcePolicy/ResourcePolicyStartDateAddOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/resourcePolicy/ResourcePolicyStartDateReplaceOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/resourcePolicy/ResourcePolicyUtils.java
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/rest/scripts.xml
  dspace-server-webapp/src/test/java/org/dspace/app/bulkaccesscontrol/BulkAccessControlScriptIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BulkAccessConditionRestRepositoryIT.java
  dspace/config/spring/api/access-conditions.xml
  dspace/config/spring/api/scripts.xml
  dspace/config/spring/rest/scripts.xml
Labels: high priority, claimed: 4Science

#8908 Request a Copy sends same email regardless of accept or reject
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemEmailNotifier.java
  dspace-api/src/test/java/org/dspace/app/requestitem/RequestItemEmailNotifierTest.java
  dspace/config/emails/request_item.rejected
Labels: bug, high priority, backend: email-system, java

#8903 Hide publicdomain by default since it's now the same as CC0
  dspace/config/dspace.cfg
Labels: 1 APPROVAL, integration: Creative Commons

#8901 Fix to adjusting bundle and bitstream policies (item install, embargo lift)
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
Labels: bug, 1 APPROVAL

#8813 New ImageMagick-based media filter to generate video thumbnails
  dspace-api/src/main/java/org/dspace/app/mediafilter/ImageMagickVideoThumbnailFilter.java
  dspace/config/dspace.cfg
Labels: improvement, tools: media-filters, 1 APPROVAL

#8875 The referrer for a statistics view event is almost always wrong
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerUsageEventListener.java
  dspace-api/src/main/java/org/dspace/statistics/service/SolrLoggerService.java
  dspace-api/src/main/java/org/dspace/usage/UsageEvent.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ViewEventRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ViewEventRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ViewEventRestRepositoryIT.java
Labels: bug, component: statistics, 1 APPROVAL

#8905 [DURACOM-156] Signposting: feedback after initial deployment
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/controller/LinksetRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/converter/LinksetConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/converter/LinksetHttpMessageConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/converter/LinksetNodeConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/converter/LinksetRestMessageConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/Linkset.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/LinksetRelationType.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/LinksetRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/model/MetadataConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamTypeProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemAuthorProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemDescribedbyProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemIdentifierProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemLicenseProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemLinksetProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemTypeProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/metadata/MetadataDescribesSignpostingProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/metadata/MetadataSignpostingProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/service/LinksetService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/service/impl/LinksetServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/utils/LinksetMapper.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
  dspace/config/modules/signposting.cfg
  dspace/config/spring/rest/signposting.xml
Labels: bug, 1 APPROVAL

#8931 Fix for NullPointerException when enumerating browses for vocabularies without Discovery indexes
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
Labels: bug, component: Discovery, 1 APPROVAL
