Repository DSpace/DSpace, pull requests merged in 2023-03, with the labels that each got.

#8632 Improve ResourcePolicy documentation.
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicy.java
  dspace-api/src/main/java/org/dspace/authorize/package-info.java
  dspace-api/src/main/java/org/dspace/authorize/package.html
  dspace-api/src/main/java/org/dspace/authorize/service/ResourcePolicyService.java
Labels: code task, authorization, documentation

#8701 DS-4493: prevent empty string assignment for language variable
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
Labels: bug, tools: import, 1 APPROVAL

#8707 Off-by-one in solr-upgrade-statistics-6x #8706
  dspace-api/src/main/java/org/dspace/util/SolrUpgradePre6xStatistics.java
Labels: bug, component: statistics, backend: Solr, 1 APPROVAL

#8746 Fix SystemWideAlert date tests to use our DateMatcher
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SystemWideAlertRestRepositoryIT.java
Labels: bug, high priority, 1 APPROVAL, testing framework

#8724 fix #8719 update sequences
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2023.03.17__Remove_unused_sequence.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2023.03.17__Remove_unused_sequence.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/update-sequences.sql
Labels: bug, interface: command-line, backend: Postgres, 1 APPROVAL

#8705 Added test and format registry entry for JPEG2000 image
  dspace-api/src/test/data/dspaceFolder/config/spring/api/iiif-processing.xml
  dspace-api/src/test/java/org/dspace/iiif/canvasdimension/CanvasDimensionsIT.java
  dspace-api/src/test/resources/org/dspace/iiif/canvasdimension/cat.jp2
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamFormatRestRepositoryIT.java
  dspace/config/registries/bitstream-formats.xml
Labels: bug, 1 APPROVAL, integration: IIIF

#8733 Performance improvement for pagination
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ConverterService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
Labels: bug, 1 APPROVAL, performance / caching

#8716 Fix #8714 and #8715
  dspace-api/src/main/java/org/dspace/discovery/IndexClient.java
  dspace-api/src/main/java/org/dspace/discovery/IndexingUtils.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, interface: command-line, component: Discovery, 1 APPROVAL
