Repository DSpace/DSpace, pull requests merged in 2023-08, with the labels that each got.

#8983 Remove old webui properties from dspace.cfg
  dspace/config/dspace.cfg
Labels: configuration, needs documentation, port to dspace-7_x

#9004 Enable entity type to submission form mapping by default
  dspace/config/item-submission.xml
Labels: configuration, 1 APPROVAL, port to dspace-7_x

#8961 'null' value is passed to sendErrorResponse instead of actual exception
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
Labels: bug, 1 APPROVAL, error handling, port to dspace-7_x

#8936 DS-8935. webui.browse.link CrossLinks - Fix for multiple exact matches
  dspace-api/src/main/java/org/dspace/browse/CrossLinks.java
  dspace-api/src/test/java/org/dspace/browse/CrossLinksTest.java
Labels: bug, component: Discovery, 1 APPROVAL, port to dspace-7_x

#9007 9006 geoip fix referenced configuration
  dspace-api/src/main/java/org/dspace/statistics/GeoIpService.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/HealthIndicatorsIT.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#8940 Fix #8933: Only add the base statistic core if it hasn't already been added
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
Labels: bug, component: statistics, backend: Solr, 1 APPROVAL, port to dspace-7_x

#9013 [Port dspace-7_x] Fix #8933: Only add the base statistic core if it hasn't already been added
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
Labels: bug, component: statistics, backend: Solr, 1 APPROVAL

#8922 Missing subject in template-based e-mails
  dspace-api/src/main/java/org/dspace/core/Email.java
Labels: bug, high priority, backend: email-system, 1 APPROVAL, api, java

#8952 Missing subject in template-based e-mails 7_x
  dspace-api/src/main/java/org/dspace/core/Email.java
Labels: bug, high priority, backend: email-system, 1 APPROVAL, api, java

#8991 On media filter failure log the name of the assetstore file and trace causes of exception
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterServiceImpl.java
  dspace-api/src/main/java/org/dspace/util/ThrowableUtils.java
Labels: improvement, tools: media-filters, 1 APPROVAL, error handling, java, port to dspace-7_x

#9021 Remove useless log.info
  dspace-api/src/main/java/org/dspace/content/BundleServiceImpl.java
Labels: bug, code task, 1 APPROVAL, port to dspace-7_x

#9029 README.md: Fix typo
  dspace-server-webapp/README.md
Labels: 1 APPROVAL, port to dspace-7_x

#9016 Avoid requiring git as a build dependency
  Dockerfile
  dspace-api/pom.xml
Labels: quick win, interface: REST API v7, dependencies, port to dspace-7_x

#9025 3331 - remove the --optimize feature of 'dspace stats-util'
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/service/SolrLoggerService.java
  dspace-api/src/main/java/org/dspace/statistics/util/StatisticsClient.java
Labels: bug, quick win, backend: Solr, tools: processes, port to dspace-7_x

#9036 [GitHub Actions] When porting a PR, skip any merge commits
  .github/workflows/port_merged_pull_request.yml
Labels: code task

#9018 Fix different CLI commands throw an exception on help argument
  dspace-api/src/main/java/org/dspace/app/launcher/ScriptLauncher.java
  dspace-api/src/main/java/org/dspace/cli/DSpaceSkipUnknownArgumentsParser.java
  dspace-api/src/main/java/org/dspace/scripts/DSpaceRunnable.java
  dspace-api/src/main/java/org/dspace/scripts/configuration/ScriptConfiguration.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportIT.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataImportIT.java
  dspace-api/src/test/java/org/dspace/app/csv/CSVMetadataImportReferenceIT.java
  dspace-api/src/test/java/org/dspace/curate/CurationIT.java
Labels: bug, interface: command-line, port to dspace-7_x
