Repository DSpace/DSpace, pull requests merged in 2023-04, with the labels that each got.

#8727 Added WebVTT to default supported bitstream formats
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamFormatRestRepositoryIT.java
  dspace/config/registries/bitstream-formats.xml
Labels: quick win, configuration, 1 APPROVAL

#8679 Build, use, publish dspace/dspace-solr imgs
  .dockerignore
  .github/workflows/docker.yml
  docker-compose.yml
  dspace/src/main/docker/README.md
  dspace/src/main/docker/dspace-solr/Dockerfile
Labels: improvement, backend: Solr, backend: Docker

#8771 Typo fix in dspace.cfg
  dspace/config/dspace.cfg
Labels: code task

#8718 Added pagination on bitstream cleanup
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/BitstreamDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/service/BitstreamService.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/BitstreamStorageServiceImpl.java
Labels: bug, interface: command-line, backend: bitstore, 1 APPROVAL, claimed: 4Science

#8735 DS-8668: adds exception handler for when maximum upload size is exceeded
  dspace-server-webapp/src/main/java/org/dspace/app/rest/exception/DSpaceApiExceptionControllerAdvice.java
Labels: bug, tools: import, 1 APPROVAL

#8756 [DURACOM-128] Unable to delete a profile
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIConsumer.java
Labels: bug, identifier: DOIs, 1 APPROVAL, claimed: 4Science

#8717 Fixes "Move item to a different collection is not inheriting policies"
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestController.java
Labels: bug, 1 APPROVAL

#8780 Split Codecov GitHub action to separate job & add retries. Update other actions.
  .github/workflows/build.yml
  .github/workflows/issue_opened.yml
  .github/workflows/label_merge_conflicts.yml
Labels: code task, 1 APPROVAL, testing framework

#8785 Document the need to avoid commit() during event dispatch.
  dspace-api/src/main/java/org/dspace/event/Consumer.java
  dspace-api/src/main/java/org/dspace/event/package-info.java
Labels: documentation, interface: Java API

#8794 Update Postgres Docker scripts to build/tag image automatically
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.cli
  docker-compose.yml
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/db.entities.yml
  dspace/src/main/docker-compose/db.restore.yml
  dspace/src/main/docker/README.md
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/install-pgcrypto.sh
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
Labels: backend: Postgres, backend: Docker, 1 APPROVAL

#8793 Update to latest Jetty v9
  pom.xml
Labels: bug, dependencies, 1 APPROVAL, security

#8762 Fix PubMed lookup too many requests
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClientImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/service/PubmedImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/AbstractRemoteMetadataSource.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
Labels: bug, 1 APPROVAL, tools: import-sources

#8755 Change description column in orcid tables to TEXT type
  dspace-api/src/main/java/org/dspace/orcid/OrcidHistory.java
  dspace-api/src/main/java/org/dspace/orcid/OrcidQueue.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2023.03.29__orcid_queue_and_history_descriptions_to_text_type.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.6_2023.03.29__orcid_queue_and_history_descriptions_to_text_type.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2023.03.29__orcid_queue_and_history_descriptions_to_text_type.sql
  dspace-api/src/test/java/org/dspace/orcid/script/OrcidBulkPushIT.java
Labels: bug, integration: ORCID, 1 APPROVAL

#8745 Removed timestamp from dc.date.issued when importing from external sources
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/metadatamapping/contributor/PubmedDateMetadatumContributor.java
  dspace/config/spring/api/arxiv-integration.xml
  dspace/config/spring/api/pubmed-integration.xml
Labels: bug, 1 APPROVAL, tools: import-sources

#8781 Removed instances of useProxies
  dspace-api/src/main/java/org/dspace/authenticate/IPAuthentication.java
Labels: bug, 1 APPROVAL, authentication: general
