Repository DSpace/DSpace, pull requests merged in 2023-05, with the labels that each got.

#8784 Fix for the optional VersionedHandleIdentifierProviderWithCanonicalHandles identifier system
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProviderWithCanonicalHandles.java
  dspace-api/src/main/resources/spring/spring-dspace-core-services.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/identifier-service.xml
  dspace-api/src/test/java/org/dspace/identifier/VersionedHandleIdentifierProviderTest.java
  dspace/config/spring/api/identifier-service.xml
Labels: identifier: Handles, component: versioning, 1 APPROVAL

#8766 fix bug: reset password from Admin Panel when Captcha enabled
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RegistrationRestRepositoryIT.java
Labels: bug, authentication: EPerson, 1 APPROVAL, authentication: general

#8800 Fix #8792, change column type of Process.parameters to TEXT
  dspace-api/src/main/java/org/dspace/scripts/Process.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2023.04.19__process_parameters_to_text_type.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.6_2023.04.19__process_parameters_to_text_type.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2023.04.19__process_parameters_to_text_type.sql
Labels: bug, backend: FlywayDB, tools: batch-editing, component: Discovery, 1 APPROVAL

#8710 Add SAF import via remote URL
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImport.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportCLI.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportCLIScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportScriptConfiguration.java
Labels: new feature, tools: import, 1 APPROVAL, claimed: 4Science

#8807 Add missing unzip command to CLI container
  Dockerfile.cli
Labels: bug, backend: Docker, 1 APPROVAL

#8814 LDAP Auth extended for many groups
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
Labels: bug, authentication: LDAP, 1 APPROVAL

#8845 Fix Codecov settings to notify after one coverage file upload
  .codecov.yml
Labels: code task, 1 APPROVAL

#8841 Fixed community's sub-communities and collections sort
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CommunityCollectionLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CommunitySubcommunityLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/repository/CommunityCollectionLinkRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/repository/CommunitySubcommunityLinkRepositoryIT.java
Labels: bug, 1 APPROVAL, medium priority, usability

#8839 Replace invalid dc.terms.references with a proper dcterms.references
  dspace/config/submission-forms.xml
Labels: component: submission, 1 APPROVAL, integration: OpenAIRE

#8789 properly escape ':' in query to address #8490
  dspace-api/src/main/java/org/dspace/content/authority/SolrAuthority.java
Labels: bug, integration: ORCID, 1 APPROVAL, component: authority control

#8799 Fix #8490 preferred label lookup
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
Labels: bug, integration: ORCID, 1 APPROVAL, component: authority control

#8847 remove configuration property eperson.subscription.onlynew
  dspace/config/dspace.cfg
Labels: bug, configuration, 1 APPROVAL

#8795 #8636 Request a Copy's "helpdesk" strategy requires authentication t…
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemEmailNotifier.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RequestItemRepositoryIT.java
Labels: bug, 1 APPROVAL

#8712 Update Spring & Spring Boot versions
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  pom.xml
Labels: high priority, dependencies, 1 APPROVAL, security

#8752 Fix for #8732 and #8750
  dspace-api/src/main/java/org/dspace/identifier/VersionedDOIIdentifierProvider.java
Labels: bug, identifier: DOIs, 1 APPROVAL

#8862 Update to latest Spring Boot
  pom.xml
Labels: bug, 1 APPROVAL, security

#8859 pom.xml: bump tika from 2.3.0 to 2.5.0
  pom.xml
Labels: dependencies, 1 APPROVAL

#8851 Fix: Collection's admin cannot edit its template item.
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemTemplateRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/TemplateItemRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemTemplateRestControllerIT.java
Labels: bug, 1 APPROVAL

#8863 [DURACOM-148] add crossref metadata processor to manage the date issued field
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefDateMetadataProcessor.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
  dspace/config/spring/api/crossref-integration.xml
Labels: bug, 1 APPROVAL, tools: import-sources

#8783 Bitstreams should inherit collection DEFAULT_BITSTREAM_READ, falling back to bundle READ
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/AuthorizeService.java
  dspace-api/src/main/java/org/dspace/content/BundleServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, quick win, 1 APPROVAL, java

#8796 Missing search results statistics
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SearchEventConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/SearchEventRest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SearchEventRestRepositoryIT.java
Labels: bug, component: statistics, component: Discovery, 1 APPROVAL

#8772 Use variables in email templates contribute main
  dspace/config/dspace.cfg
  dspace/config/emails/change_password
  dspace/config/emails/doi_maintenance_error
  dspace/config/emails/export_error
  dspace/config/emails/export_success
  dspace/config/emails/feedback
  dspace/config/emails/flowtask_notify
  dspace/config/emails/harvesting_error
  dspace/config/emails/healthcheck
  dspace/config/emails/internal_error
  dspace/config/emails/register
  dspace/config/emails/registration_notify
  dspace/config/emails/request_item.admin
  dspace/config/emails/request_item.author
  dspace/config/emails/submit_archive
  dspace/config/emails/submit_reject
  dspace/config/emails/submit_task
  dspace/config/emails/subscriptions_content
  dspace/config/emails/welcome
Labels: configuration, backend: email-system, 1 APPROVAL

#8850 Minor improvements to ImageMagick thumbnail filters
  dspace-api/src/main/java/org/dspace/app/mediafilter/ImageMagickPdfThumbnailFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/ImageMagickThumbnailFilter.java
Labels: tools: media-filters, 1 APPROVAL

#8698 Calculate the correct maximum for access condition start and end dates
  dspace-api/src/main/java/org/dspace/submit/model/AccessConditionOption.java
  dspace-api/src/main/java/org/dspace/util/DateMathParser.java
  dspace-api/src/main/java/org/dspace/util/TimeHelpers.java
  dspace-api/src/test/java/org/dspace/util/TimeHelpersTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionAccessOptionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionUploadRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/AccessConditionAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/AccessConditionReplacePatchOperation.java
Labels: bug, component: submission
