Repository DSpace/DSpace, pull requests merged in 2023-10, with the labels that each got.

#9100 Remove Oracle script that accidentally made it in via #8800
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/oracle/V7.6_2023.04.19__process_parameters_to_text_type.sql
Labels: bug, code task, 1 APPROVAL, port to dspace-7_x

#9098 Additional Item class cast fixes in handle providers
  dspace-api/src/main/java/org/dspace/identifier/HandleIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProviderWithCanonicalHandles.java
Labels: bug, high priority, identifier: Handles

#9097 Additional Item class cast fixes in handle providers
  dspace-api/src/main/java/org/dspace/identifier/HandleIdentifierProvider.java
  dspace-api/src/main/java/org/dspace/identifier/VersionedHandleIdentifierProviderWithCanonicalHandles.java
Labels: bug, high priority, identifier: Handles

#9101 8968 - request-a-copy email: non ASCII characters are encoded as HTML…
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
Labels: bug, high priority, backend: email-system, 1 APPROVAL, usability, port to dspace-7_x

#9110 #8585 Add submitter information to provenance metadata
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/InstallItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/InstallItemService.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
Labels: bug, component: submission, 1 APPROVAL, port to dspace-7_x

#9121 oai_openaire.xsl : change resourceTypeGeneral for thesis
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
Labels: bug, interface: OAI-PMH, 1 APPROVAL, integration: OpenAIRE, port to dspace-7_x

#9134 [Port dspace-7_x] Bump org.eclipse.jetty:jetty-http
  pom.xml
Labels: dependencies, 1 APPROVAL

#8966 Reading localized license file.
  dspace-api/src/main/java/org/dspace/core/LicenseServiceImpl.java
Labels: bug, component: submission, 1 APPROVAL, i18n / l10n, port to dspace-7_x

#9138 [Port to dspace-7_x] Reading localized license file.
  dspace-api/src/main/java/org/dspace/core/LicenseServiceImpl.java
Labels: bug, component: submission, 1 APPROVAL, i18n / l10n

#9019 Fix inherit policies at item move
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/BulkAccessControl.java
  dspace-api/src/main/java/org/dspace/content/InstallItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/test/java/org/dspace/content/service/ItemServiceIT.java
Labels: bug, authorization

#9039 [Port to dspace-7_x] Fix inherit policies at item move
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/BulkAccessControl.java
  dspace-api/src/main/java/org/dspace/content/InstallItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/test/java/org/dspace/content/service/ItemServiceIT.java
Labels: bug, authorization

#9113 fix not resolved thumbnail due to filename issues
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9001 Make workflow curation tasks actually work.
  dspace-api/src/main/java/org/dspace/curate/XmlWorkflowCuratorServiceImpl.java
  dspace-api/src/main/java/org/dspace/curate/service/XmlWorkflowCuratorService.java
  dspace-api/src/main/java/org/dspace/eperson/EPersonServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/EPersonService.java
Labels: bug, tools: curation-tasks, component: workflow, 1 APPROVAL, java, port to dspace-7_x

#9069 Fix "Site cannot be indexed" error which appears in ITs and sometimes in logs
  dspace-api/src/main/java/org/dspace/discovery/IndexEventConsumer.java
Labels: bug, component: Discovery, 1 APPROVAL, testing framework, port to dspace-7_x

#8984 Set Solr timezone to UTC when converting local date/time to the stored value that assumes Zulu (Z)
  dspace-api/src/main/java/org/dspace/util/SolrUtils.java
Labels: bug, port to main, backend: Solr, 1 APPROVAL

#9152 Add a null check when assigning ldap groups
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
Labels: bug, authentication: LDAP, 1 APPROVAL, port to dspace-7_x

#9045 OAI-PMH use Templates for compiled XSLT instead of Transformer (thread-safe)
  dspace-oai/pom.xml
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/resources/DSpaceResourceResolver.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/integration/xoai/PipelineTest.java
Labels: bug, interface: OAI-PMH, port to dspace-7_x

#9124 Give `authority` Solr core a `_version_` field so it can be loaded
  dspace/solr/authority/conf/schema.xml
Labels: bug, quick win, port to main, backend: Solr, component: authority control

#9123 Give `authority` Solr core a `_version_` field so it can be loaded
  dspace/solr/authority/conf/schema.xml
Labels: bug, quick win, backend: Solr, component: authority control

#9106 Clear primary bistream when it's deleted- Fix issue #9099
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Bundle.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2023.10.12__Fix-deleted-primary-bitstreams.sql
  dspace-api/src/test/java/org/dspace/content/BitstreamTest.java
  dspace-api/src/test/java/org/dspace/content/BundleTest.java
Labels: bug, 1 APPROVAL, port to dspace-7_x
