Repository DSpace/DSpace, pull requests merged in 2024-04, with the labels that each got.

#9444 Fix randomly failing IT in NotifyServiceRestRepositoryIT
  dspace-api/src/test/java/org/dspace/builder/NotifyServiceBuilder.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/NotifyServiceRestRepositoryIT.java
Labels: 1 APPROVAL, testing framework

#9440 Make dc.type required
  dspace/config/submission-forms.xml
Labels: configuration, component: submission, 1 APPROVAL

#9271 Fix generating versioned identifiers if pre-registration is enabled
  dspace-api/src/main/java/org/dspace/content/WorkspaceItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/packager/PackageUtils.java
  dspace-api/src/main/java/org/dspace/content/service/WorkspaceItemService.java
  dspace-api/src/main/java/org/dspace/versioning/DefaultItemVersionProvider.java
  dspace-api/src/test/java/org/dspace/app/packager/PackagerIT.java
Labels: bug, component: versioning, identifier: DOIs, 1 APPROVAL, port to dspace-7_x

#9451 Ensure CSRF token doesn't grow on each UI reload
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/DSpaceCsrfTokenRequestHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityConfiguration.java
Labels: bug, high priority, 1 APPROVAL

#9454 Update all GitHub Actions & add token for Codecov.io
  .github/workflows/build.yml
  .github/workflows/codescan.yml
  .github/workflows/issue_opened.yml
  .github/workflows/pull_request_opened.yml
  .github/workflows/reusable-docker-build.yml
Labels: code task, port to dspace-7_x

#9459 [Port dspace-7_x] Update all GitHub Actions & add token for Codecov.io
  .github/workflows/build.yml
  .github/workflows/codescan.yml
  .github/workflows/issue_opened.yml
  .github/workflows/pull_request_opened.yml
  .github/workflows/reusable-docker-build.yml
Labels: code task

#9460 Fix bug in Docker `amd64` build in GitHub Actions
  .github/workflows/reusable-docker-build.yml
Labels: bug, code task, backend: Docker, 1 APPROVAL, port to dspace-7_x

#9462 Refactor SubmissionConfigConsumer to avoid reload the submission config multiple times
  dspace-api/src/main/java/org/dspace/submit/consumer/SubmissionConfigConsumer.java
Labels: bug, high priority, configuration, 1 APPROVAL, port to dspace-7_x

#9464 Temporarily change branch which Sandbox watches for deployment updates
  .github/workflows/reusable-docker-build.yml
Labels: code task, 1 APPROVAL

#9242 Issue predb status cleanup
  dspace-api/src/main/java/org/dspace/app/solrdatabaseresync/SolrDatabaseResyncCli.java
  dspace-api/src/test/java/org/dspace/app/solrdatabaseresync/SolrDatabaseResyncIT.java
Labels: bug, backend: Solr, 1 APPROVAL

#9344 httpd-shibd-foreground.sh needs to be executable
  dspace/src/main/docker/dspace-shibboleth/httpd-shibd-foreground.sh
Labels: backend: Docker, 1 APPROVAL, port to dspace-7_x

#9467 Fix email dependency issues which were causing Submission failures
  dspace-api/pom.xml
  dspace-services/pom.xml
  pom.xml
Labels: bug, high priority, 1 APPROVAL

#9469 Fix OAI indexing error & AuthorityConsumer error
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/EntityServiceImpl.java
  dspace-api/src/test/java/org/dspace/content/EntityServiceImplTest.java
Labels: bug, high priority, 1 APPROVAL, testathon

#9472 Exclude old Apache Geronimo dependencies from SWORDv2
  dspace-swordv2/pom.xml
Labels: bug, high priority, dependencies, 1 APPROVAL

#9473 Add Space in ePerson's Name in Rejection Emails and Metadata
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
Labels: code task, 1 APPROVAL, port to dspace-7_x

#9483 Switch to using `org.dspace:orcid-model-jakarta` in Maven Central
  dspace-api/pom.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CollectionAdminFeatureIT.java
  pom.xml
Labels: bug, integration: ORCID, 1 APPROVAL, identifiers: ORCID

#9479 COAR NotifyService IT failures
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/ldn/NotifyServiceInboundPatternsRemoveOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/NotifyServiceRestRepositoryIT.java
Labels: 1 APPROVAL, testing framework

#9490 Fixes to Docker scripts for DSpace 8
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/db.entities.yml
  dspace/src/main/docker/README.md
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/install-pgcrypto.sh
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto/install-pgcrypto.sh
Labels: backend: Docker, 1 APPROVAL

#9491 Fixes to Docker scripts for DSpace 7.x
  dspace/src/main/docker-compose/db.entities.yml
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/install-pgcrypto.sh
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto/install-pgcrypto.sh
Labels: backend: Docker, 1 APPROVAL

#9492 Remove unnecessary "exit" statements which stop running Postgres container
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/install-pgcrypto.sh
Labels: bug, backend: Docker, 1 APPROVAL, port to dspace-7_x

#9253 Add new date format pattern to DCDate
  dspace-api/src/main/java/org/dspace/content/DCDate.java
  dspace-api/src/test/java/org/dspace/content/DCDateTest.java
Labels: improvement, quick win, 1 APPROVAL

#9406 Change from openjdk to eclipse-temurin base images
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
Labels: backend: Docker, 1 APPROVAL, port to dspace-7_x

#9254 Improve equality comparison for ExternalDataObject and MetadataValueDTO
  dspace-api/src/main/java/org/dspace/content/dto/MetadataValueDTO.java
  dspace-api/src/main/java/org/dspace/external/model/ExternalDataObject.java
  dspace-api/src/test/java/org/dspace/app/sherpa/SHERPADataProviderTest.java
Labels: quick win, 1 APPROVAL, tools: import-sources

#9401 Drop not null for EPerson in Process table
  dspace-api/src/main/java/org/dspace/scripts/Process.java
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2024.03.07__set_eperson_process_nullable.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2024.03.07__set_eperson_process_nullable.sql
  dspace-api/src/test/java/org/dspace/process/ProcessIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ProcessConverter.java
Labels: bug, improvement, 1 APPROVAL, tools: processes, port to dspace-7_x

#9229 [DS-3439] Copy collection template item specified metadata during …
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/WorkspaceItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSIngester.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
Labels: bug, interface: SWORD, port to dspace-7_x

#9285 Fix deleting workspace items via SWORDv2 endpoint
  dspace-swordv2/src/main/java/org/dspace/sword2/ContainerManagerDSpace.java
Labels: bug, interface: SWORD, 1 APPROVAL, port to dspace-7_x

#9289 Validation of page url in FeedbackRestRepository
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/FeedbackRestRepository.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9517 Revert to using 'main' for Sandbox redeployment now that Testathon is complete
  .github/workflows/reusable-docker-build.yml
Labels: code task, 1 APPROVAL
