Repository DSpace/DSpace, pull requests merged in 2024-09, with the labels that each got.

#9768 Expose the item submitter over the REST endpoint `/api/core/items/<:uuid>/submitter`
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemSubmitterLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ItemMatcher.java
Labels: new feature, 1 APPROVAL

#9796 Translate underscores to dashes in xml:lang attr for DIM2DataCite.xsl
  dspace/config/crosswalks/DIM2DataCite.xsl
Labels: bug, identifier: DOIs, 1 APPROVAL, port to dspace-7_x, affects: 7.x, affects: 8.x, affects: main, port to dspace-8_x

#9639 [ #2161] Provide a way to require Creative Commons license in submission form
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/validation/CclicenseValidator.java
  dspace-server-webapp/src/main/resources/spring/spring-dspace-addon-validation-services.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace/config/dspace.cfg
Labels: improvement, 1 APPROVAL, integration: Creative Commons

#9668 Fix for DSpace#9667: Request-a-copy link generation for base URLs that have sub-paths
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RequestItemRepositoryIT.java
Labels: quick win, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9653 New parameter fromdate for media-filter script
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterScript.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/service/MediaFilterService.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
Labels: improvement, interface: command-line, tools: media-filters, 1 APPROVAL, port to dspace-8_x

#9807 Rewrite DSpace integration tests to consistently use AbstractBuilder<T> builders
  dspace-api/src/test/java/org/dspace/administer/StructBuilderIT.java
  dspace-api/src/test/java/org/dspace/app/packager/PackagerIT.java
  dspace-api/src/test/java/org/dspace/builder/GroupBuilder.java
  dspace-api/src/test/java/org/dspace/builder/WorkspaceItemBuilder.java
  dspace-api/src/test/java/org/dspace/content/VersioningWithRelationshipsIT.java
  dspace-api/src/test/java/org/dspace/ctask/general/CreateMissingIdentifiersIT.java
  dspace-api/src/test/java/org/dspace/identifier/VersionedHandleIdentifierProviderIT.java
  dspace-api/src/test/java/org/dspace/supervision/SupervisionOrderServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionGroupRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityAdminGroupRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
Labels: high priority, testing framework, port to dspace-7_x, port to dspace-8_x

#9801 [Port dspace-7_x] Fix for DSpace#9667: Request-a-copy link generation for base URLs that have sub-paths
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RequestItemRepositoryIT.java
Labels: quick win, 1 APPROVAL

#9581 Add missing wosPublisherContrib key-ref in wos-integration.xml (#9579)
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WOSImportMetadataSourceServiceIT.java
  dspace/config/spring/api/wos-integration.xml
Labels: configuration, 1 APPROVAL, tools: import-sources, port to dspace-7_x

#9839 Small spelling fixes to import tests and resource files.
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/SimpleConcatContributor.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CiniiImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WOSImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/cinii-response-ids.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/wos-response.xml
Labels: 1 APPROVAL

#9837 Errorprone upgrade
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
  dspace-api/src/main/java/org/dspace/curate/Curation.java
  dspace-api/src/test/java/org/dspace/util/DSpaceKernelInitializer.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DSpaceRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/DSpaceKernelInitializer.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationFeatureRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationFeatureServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-services/src/main/java/org/dspace/services/email/EmailServiceImpl.java
  dspace-services/src/test/java/org/dspace/servicemanager/config/DSpaceConfigurationServiceTest.java
  dspace-services/src/test/java/org/dspace/utils/servicemanager/ProviderHolderTest.java
  dspace-services/src/test/java/org/dspace/utils/servicemanager/ProviderStackTest.java
  dspace/modules/server/src/main/java/org/dspace/app/ServerApplication.java
  pom.xml
Labels: code task, dependencies, 1 APPROVAL, java

#9678 LDAPAuthentication considers update of eperson's attributes
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
Labels: bug, authentication: LDAP, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9859 minor fix in parameter description in subscriptions_content
  dspace/config/emails/subscriptions_content
Labels: code task, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x
