Repository DSpace/DSpace, pull requests merged in 2024-12, with the labels that each got.

#10051 Code Cleanup in BrowseIndex
  dspace-api/src/main/java/org/dspace/browse/BrowseIndex.java
Labels: code task, 1 APPROVAL

#9941 Fixed dso endpoint returning 500 for unauthorized users
  dspace-server-webapp/src/main/java/org/dspace/app/rest/UUIDLookupRestController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/UUIDLookupRestControllerIT.java
Labels: bug, interface: REST API v7+, port to dspace-7_x, port to dspace-8_x

#9658 Feature curation link checker customizations
  dspace-api/src/main/java/org/dspace/ctask/general/BasicLinkChecker.java
  dspace-server-webapp/src/test/java/org/dspace/app/scripts/handler/impl/TestDSpaceRunnableHandler.java
  dspace-server-webapp/src/test/java/org/dspace/curate/CurationScriptIT.java
  dspace/config/modules/curate.cfg
Labels: bug, tools: curation-tasks, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10070 [GitHub Actions] Ensure our Docker build process authenticates in an early step, so nothing is unauthenticated
  .github/workflows/reusable-docker-build.yml
Labels: code task, backend: Docker, 1 APPROVAL

#10072 minor refactoring of SearchQueryConverter
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/query/SearchQueryConverter.java
Labels: code task, 1 APPROVAL

#10079 [GitHub Actions] Ensure we always do a test Docker deployment from the locally created images
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
Labels: code task, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10081 [GitHub Actions] Fix Docker build by exporting local image separate from DockerHub image
  .github/workflows/reusable-docker-build.yml
Labels: bug, code task, backend: Docker, 1 APPROVAL

#9728 Improve observability of running processes + Fail them during startup
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/scripts/handler/impl/RestDSpaceRunnableHandler.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ProcessRestRepositoryIT.java
Labels: bug, improvement, tools: processes, claimed: Atmire, port to dspace-7_x, port to dspace-8_x

#10085 [GitHub Actions] Enable caching of Docker builds using GitHub Actions cache
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
Labels: code task, backend: Docker, 1 APPROVAL

#10087 [Port dspace-7_x] [GitHub Actions] Port several Docker building improvements
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
Labels: code task, backend: Docker, 1 APPROVAL

#10086 [Port dspace-8_x] [GitHub Actions] Port several Docker building improvements
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
  docker-compose.yml
  dspace/src/main/docker-compose/db.entities.yml
  dspace/src/main/docker-compose/db.restore.yml
  dspace/src/main/docker-compose/docker-compose-angular.yml
Labels: bug, code task, backend: Docker, 1 APPROVAL

#10091 [GitHub Actions] Ensure PRs against main also use "latest" tag when running test Docker deployment
  .github/workflows/docker.yml
Labels: bug, code task, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10101 [Port dspace-7_x] [GitHub Actions] Ensure PRs against main also use "latest" tag when running test Docker deployment
  .github/workflows/docker.yml
Labels: bug, backend: Docker, 1 APPROVAL

#10080 [Docker] Use fully qualified image names & allow for other registries to be used
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
  dspace/src/main/docker/dspace-shibboleth/Dockerfile
  dspace/src/main/docker/dspace-solr/Dockerfile
Labels: improvement, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10114 [Port dspace-8_x] [Docker] Use fully qualified image names & allow for other registries to be used
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
  dspace/src/main/docker/dspace-shibboleth/Dockerfile
  dspace/src/main/docker/dspace-solr/Dockerfile
Labels: improvement, backend: Docker, 1 APPROVAL

#10115 [Port dspace-7_x] [Docker] Use fully qualified image names & allow for other registries to be used
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker/dspace-postgres-pgcrypto-curl/Dockerfile
  dspace/src/main/docker/dspace-postgres-pgcrypto/Dockerfile
  dspace/src/main/docker/dspace-shibboleth/Dockerfile
  dspace/src/main/docker/dspace-solr/Dockerfile
Labels: improvement, backend: Docker, 1 APPROVAL

#10120 [GitHub Actions] Refactor Docker build process to use ghcr.io for build, and then copy to docker.io once build completes
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
Labels: code task, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10122 [Port dspace-7_x] [GitHub Actions] Refactor Docker build process to use ghcr.io for build, and then copy to docker.io once build completes
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
Labels: code task, backend: Docker, 1 APPROVAL

#9760 Improve Group2GroupCache computation
  dspace-api/src/main/java/org/dspace/eperson/Group2GroupCache.java
  dspace-api/src/main/java/org/dspace/eperson/GroupServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/Group2GroupCacheDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/Group2GroupCacheDAOImpl.java
Labels: bug, high priority, performance / caching, port to dspace-7_x, port to dspace-8_x

#10131 [Port dspace-7_x] Improve Group2GroupCache computation
  dspace-api/src/main/java/org/dspace/eperson/Group2GroupCache.java
  dspace-api/src/main/java/org/dspace/eperson/GroupServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/Group2GroupCacheDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/Group2GroupCacheDAOImpl.java
Labels: bug, high priority, performance / caching

#10132 [Docker] Minor Dockerfile enhancements to stabilize & speed up automated builds
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
Labels: code task, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9755 Make submission definition pagination test more flexible
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/SubmissionDefinitionsMatcher.java
Labels: bug, 1 APPROVAL, testing framework

#9834 More information about failed DOI registrations.
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIOrganiser.java
  dspace-api/src/main/java/org/dspace/identifier/doi/DataCiteConnector.java
Labels: identifier: DOIs, error handling, java, port to dspace-7_x, port to dspace-8_x

#9783 Fix issue with submission sections visibility
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SubmissionSectionConverter.java
Labels: bug, component: submission, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9913 Submission scope naming for input field validation fixed
  dspace-api/src/main/java/org/dspace/app/util/DCInput.java
Labels: bug, component: submission, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9817 fix for #9312: properly type in field id, adjust use of getProperty and add error handling
  dspace-api/src/main/java/org/dspace/statistics/util/StatisticsImporter.java
Labels: bug, component: statistics, interface: command-line, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9815 fix for #9311: set default configFile
  dspace-api/src/main/java/org/dspace/app/statistics/LogAnalyser.java
Labels: bug, component: statistics, interface: command-line, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10059 Statistics scope fix
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SearchEventConverter.java
Labels: bug, component: statistics, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9732 RSS feed from search results (REST)
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OpenSearchController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/HttpHeadersInitializer.java
  dspace-server-webapp/src/test/java/org/dspace/app/opensearch/OpenSearchControllerIT.java
Labels: new feature, component: Discovery, integration: syndication feed

#9840 Normalise / fix references to the word "reinstate".
  dspace-api/src/main/java/org/dspace/app/util/AuthorizeUtil.java
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeConfiguration.java
  dspace-api/src/main/java/org/dspace/rdf/RDFConsumer.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/ItemWithdrawReplaceOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ReinstateFeatureRestIT.java
  dspace/config/dspace.cfg
Labels: quick win, 1 APPROVAL

#9893 Fix full-text indexing for files over the character limit
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
Labels: bug, port to main, tools: media-filters, component: Discovery, 1 APPROVAL, port to dspace-8_x

#3253 Add Context method to uncache all entities
  dspace-api/src/main/java/org/dspace/core/Context.java
  dspace-api/src/main/java/org/dspace/core/DBConnection.java
  dspace-api/src/main/java/org/dspace/core/HibernateDBConnection.java
  dspace-api/src/test/java/org/dspace/core/ContextTest.java
  dspace-api/src/test/java/org/dspace/core/HibernateDBConnectionTest.java
Labels: improvement, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10089 Reduce memory usage for full OAI reindexing
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
Labels: bug, interface: OAI-PMH, 1 APPROVAL, performance / caching, port to dspace-7_x, port to dspace-8_x
