Repository DSpace/DSpace, pull requests merged in 2024-11, with the labels that each got.

#9947 ItemOwningCollectionUpdateRestController: fix typo in endpoint path
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestController.java
Labels: code task, 1 APPROVAL, port to dspace-8_x

#9968 Improve logging of Unit & Integration Tests. Ensure all tests log which method they are running.
  dspace-api/src/test/java/org/dspace/AbstractDSpaceIntegrationTest.java
  dspace-api/src/test/java/org/dspace/AbstractDSpaceTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractControllerIntegrationTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractWebClientIntegrationTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/LoggingTestExecutionListener.java
Labels: 1 APPROVAL, testing framework, port to dspace-7_x, port to dspace-8_x

#8868 Upgrade checkstyle
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDAO.java
  pom.xml
Labels: dependencies, testing framework

#9890 Status of DOI object should be set to TO_BE_DELETED when the related item is removed
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
Labels: quick win, identifier: DOIs, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9861 performance of claiming workflow task fix
  dspace-api/src/main/java/org/dspace/xmlworkflow/storedcomponents/PoolTaskServiceImpl.java
Labels: bug, component: workflow, 1 APPROVAL, performance / caching, port to dspace-7_x, port to dspace-8_x

#9973 [GitHub Actions] Add a job to test Docker deployment with newly built images & test Handle Server
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
  Dockerfile
  Dockerfile.test
  dspace-api/pom.xml
  dspace-iiif/pom.xml
  dspace-oai/pom.xml
  dspace-rdf/pom.xml
  dspace-server-webapp/pom.xml
  dspace-services/pom.xml
  dspace-sword/pom.xml
  dspace-swordv2/pom.xml
  pom.xml
Labels: code task, dependencies, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9993 [Port dspace-7_x] [GitHub Actions] Add a job to test Docker deployment with newly built images & test Handle Server
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
  Dockerfile
  Dockerfile.test
  dspace-api/pom.xml
  dspace-iiif/pom.xml
  dspace-oai/pom.xml
  dspace-rdf/pom.xml
  dspace-server-webapp/pom.xml
  dspace-services/pom.xml
  dspace-sword/pom.xml
  dspace-swordv2/pom.xml
  pom.xml
Labels: code task, dependencies, 1 APPROVAL

#9733 filter-media: make POI record buffer size adjustable.
  dspace-api/src/main/java/org/dspace/app/mediafilter/TikaTextExtractionFilter.java
  dspace/config/dspace.cfg
Labels: improvement, new feature, tools: media-filters, api, java

#9747 Refactoring of OpenSearchController / SyndicationFeed: remove Map dependency
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/util/SyndicationFeed.java
  dspace-api/src/main/java/org/dspace/app/util/service/OpenSearchService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OpenSearchController.java
Labels: code task, 1 APPROVAL, integration: syndication feed

#9746 Fix 9734: Check configured workflow.reviewer.file-edit to show item e…
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/ScoreReviewAction.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/state/actions/processingaction/SingleUserReviewAction.java
Labels: bug, component: workflow, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9997 Minor Dependency cleanup in POMs
  dspace-api/pom.xml
  dspace/modules/server/pom.xml
Labels: dependencies, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10000 [Port dspace-8_x] Minor Dependency cleanup in POMs
  dspace-api/pom.xml
  dspace/modules/server/pom.xml
Labels: dependencies, 1 APPROVAL

#10016 [GitHub Actions] More fixes to Docker deployment builds
  .github/workflows/docker.yml
Labels: code task, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10019 [Port dspace-8_x] Dependency cleanup for OAI-PMH and Log4j (removing log4j v1 bridge & settings which used it)
  dspace-api/pom.xml
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportSearchIT.java
  dspace-api/src/test/java/org/dspace/builder/OrcidHistoryBuilder.java
  dspace-oai/pom.xml
  dspace-oai/src/main/java/org/dspace/xoai/app/CCElementItemCompilePlugin.java
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
  dspace-oai/src/main/java/org/dspace/xoai/filter/ItemsWithBitstreamFilter.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/integration/xoai/PipelineTest.java
  dspace-rdf/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/SearchEventConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamLinksetProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamParentItemProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/bitstream/BitstreamTypeProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemAuthorProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemContentBitstreamsProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemDescribedbyProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemLicenseProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemLinksetProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/processor/item/ItemTypeProcessor.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/service/impl/LinksetServiceImpl.java
  dspace-sword/pom.xml
  dspace-swordv2/pom.xml
  dspace/bin/start-handle-server
  dspace/bin/start-handle-server.bat
  dspace/config/log4j-handle-plugin.properties
  dspace/config/log4j2-handle-plugin.xml
  pom.xml
Labels: interface: OAI-PMH, dependencies, 1 APPROVAL

#10032 Remove unused dependencies from several modules
  dspace-services/pom.xml
  dspace-sword/pom.xml
  dspace/modules/server-boot/pom.xml
  dspace/modules/server/pom.xml
  pom.xml
Labels: dependencies, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10034 [Port dspace-7_x] Remove unused dependencies from several modules
  dspace-services/pom.xml
  dspace-sword/pom.xml
  dspace/modules/server/pom.xml
  pom.xml
Labels: dependencies, 1 APPROVAL

#10035 Update docker files for the 8_x branch
  Dockerfile
  Dockerfile.cli
  Dockerfile.test
  docker-compose-cli.yml
  docker-compose.yml
Labels: backend: Docker, 1 APPROVAL

#10036 Fix "No SLF4J providers were found." issue on `main`
  dspace-api/pom.xml
  dspace-oai/pom.xml
  dspace-rdf/pom.xml
  dspace-sword/pom.xml
  dspace-swordv2/pom.xml
  pom.xml
Labels: dependencies, 1 APPROVAL

#10040 [GitHub Actions] Ensure all optional modules are enabled in our test Docker deployment
  .github/workflows/docker.yml
Labels: code task, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x
