Repository DSpace/DSpace, pull requests merged in 2024-08, with the labels that each got.

#9737 fix invalid usage of == operator
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
Labels: bug, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9742 Fix potentially invalid usages of == operator
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicyServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/EntityServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/GroupServiceImpl.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/ItemMetadataValueAddPatchOperation.java
Labels: bug, code task, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9745 README.md: v8 is the current release, not v7
  README.md
Labels: code task, 1 APPROVAL, port to dspace-8_x

#9671 DataCite DOI error fixes
  dspace-api/src/main/java/org/dspace/identifier/doi/DataCiteConnector.java
  dspace/config/crosswalks/DIM2DataCite.xsl
Labels: bug, identifier: DOIs, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9684 Crossref metadata import: change order of person name parts
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefAuthorMetadataProcessor.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
Labels: bug, 1 APPROVAL, tools: import-sources, port to dspace-7_x, port to dspace-8_x

#9765 Fix index-discovery process when using handle
  dspace-api/src/main/java/org/dspace/discovery/IndexClient.java
Labels: bug, 1 APPROVAL, tools: processes, port to dspace-7_x, port to dspace-8_x

#9497 In workflow-attached curation, separate task-list building from execution.
  dspace-api/src/main/java/org/dspace/curate/XmlWorkflowCuratorServiceImpl.java
  dspace-api/src/main/java/org/dspace/curate/package-info.java
Labels: bug, tools: curation-tasks, component: workflow, port to dspace-7_x, port to dspace-8_x

#9789 [Port dspace-7_x] In workflow-attached curation, separate task-list building from execution.
  dspace-api/src/main/java/org/dspace/curate/XmlWorkflowCuratorServiceImpl.java
  dspace-api/src/main/java/org/dspace/curate/package-info.java
Labels: bug, tools: curation-tasks, component: workflow

#9775 Make statistics autocommit much more frequently
  dspace/solr/statistics/conf/solrconfig.xml
Labels: improvement, quick win, backend: Solr, configuration, port to dspace-7_x, port to dspace-8_x
