Repository DSpace/DSpace, pull requests merged in 2024-05, with the labels that each got.

#9296 Fix resource policy type not set for bitstreams when importing items
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
Labels: bug, authorization, 1 APPROVAL, port to dspace-7_x

#9521 Install unzip util in built dspace-cli image
  Dockerfile.cli
Labels: bug, backend: Docker, 1 APPROVAL, port to dspace-7_x

#9522 Remove obsolete "version" tag from Docker Compose files
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker-compose/cli.assetstore.yml
  dspace/src/main/docker-compose/cli.ingest.yml
  dspace/src/main/docker-compose/db.entities.yml
  dspace/src/main/docker-compose/db.restore.yml
  dspace/src/main/docker-compose/docker-compose-angular.yml
  dspace/src/main/docker-compose/docker-compose-iiif.yml
  dspace/src/main/docker-compose/docker-compose-shibboleth.yml
Labels: code task, backend: Docker, 1 APPROVAL, port to dspace-7_x

#9524 [dspace-7_x] Minor update to latest Spring version
  pom.xml
Labels: code task, 1 APPROVAL

#9387 Fix #9383: Set email subject for request copy form
  dspace-api/src/main/java/org/dspace/core/Email.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
Labels: bug, port to main, 1 APPROVAL

#9358 PreloadLevel config vocabulary issue
  dspace-api/src/main/java/org/dspace/content/authority/DSpaceControlledVocabulary.java
Labels: bug, 1 APPROVAL, component: controlled vocabulary, port to dspace-7_x

#9429 Fix packager NPE if using the passwords=true option
  dspace-api/src/main/java/org/dspace/content/packager/RoleDisseminator.java
Labels: bug, tools: packager, 1 APPROVAL, port to dspace-7_x

#9478 Refactor SubmissionConfigReader to use a map for the item process configurations based on entityType
  dspace-api/src/main/java/org/dspace/app/util/SubmissionConfigReader.java
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/CollectionService.java
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/java/org/dspace/app/util/SubmissionConfigIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace/config/dspace.cfg
Labels: bug, high priority, component: submission, 1 APPROVAL

#9487 [Port dspace-7_x] Refactor SubmissionConfigReader to use a map for the item process configurations based on entityType
  dspace-api/src/main/java/org/dspace/app/util/DCInputsReader.java
  dspace-api/src/main/java/org/dspace/app/util/SubmissionConfigReader.java
  dspace-api/src/main/java/org/dspace/app/util/Util.java
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/CollectionService.java
  dspace-api/src/main/java/org/dspace/ctask/general/RequiredMetadata.java
  dspace-api/src/main/java/org/dspace/submit/service/SubmissionConfigService.java
  dspace-api/src/main/java/org/dspace/submit/service/SubmissionConfigServiceImpl.java
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/java/org/dspace/app/util/SubmissionConfigIT.java
  dspace-api/src/test/java/org/dspace/app/util/SubmissionConfigTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/AInprogressItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionDefinitionRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace/config/dspace.cfg
Labels: bug, high priority, configuration, component: submission, 1 APPROVAL

#9405 Created DOIBuilder
  dspace-api/src/main/java/org/dspace/identifier/DOIServiceImpl.java
  dspace-api/src/main/java/org/dspace/identifier/service/DOIService.java
  dspace-api/src/test/java/org/dspace/builder/AbstractBuilder.java
  dspace-api/src/test/java/org/dspace/builder/BitstreamBuilder.java
  dspace-api/src/test/java/org/dspace/builder/DOIBuilder.java
Labels: 1 APPROVAL, testing framework

#9505 Fix Runnable JAR issues & use it in all Docker images
  Dockerfile
  Dockerfile.test
  docker-compose.yml
  dspace/src/main/assembly/assembly.xml
  dspace/src/main/docker-compose/db.entities.yml
  pom.xml
Labels: bug, high priority, backend: Docker, 1 APPROVAL, testathon

#9502 Enforce resource policies to have group or eperson (DSpace 8)
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/FixDefaultPolicies.java
  dspace-api/src/main/java/org/dspace/authorize/PolicySet.java
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicyServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/ResourcePolicyService.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/METSRightsCrosswalk.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2023.09.28__enforce_group_or_eperson_for_resourcepolicy.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2023.09.28__enforce_group_or_eperson_for_resourcepolicy.sql
  dspace-api/src/test/java/org/dspace/access/status/DefaultAccessStatusHelperTest.java
  dspace-api/src/test/java/org/dspace/builder/CollectionBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ResourcePolicyBuilder.java
  dspace-api/src/test/java/org/dspace/content/BundleTest.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-api/src/test/java/org/dspace/content/packager/ITDSpaceAIP.java
  dspace-api/src/test/java/org/dspace/content/service/ItemServiceIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResourcePolicyRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BundleRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemTemplateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/StatisticsRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CCLicenseFeatureRestIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanManageBitstreamBundlesFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanManageMappingsFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanSubscribeFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/EditItemFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/GenericAuthorizationFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageAdminGroupFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageSubmitterGroupFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageTemplateItemFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageWorkflowGroupFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/SubmitFeatureIT.java
Labels: bug, authorization

#9191 [Port to dspace-7_x] Enforce resource policies to have group or eperson
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/FixDefaultPolicies.java
  dspace-api/src/main/java/org/dspace/authorize/PolicySet.java
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicyServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/ResourcePolicyService.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/METSRightsCrosswalk.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2023.09.28__enforce_group_or_eperson_for_resourcepolicy.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2023.09.28__enforce_group_or_eperson_for_resourcepolicy.sql
  dspace-api/src/test/java/org/dspace/access/status/DefaultAccessStatusHelperTest.java
  dspace-api/src/test/java/org/dspace/builder/CollectionBuilder.java
  dspace-api/src/test/java/org/dspace/builder/ResourcePolicyBuilder.java
  dspace-api/src/test/java/org/dspace/content/BundleTest.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-api/src/test/java/org/dspace/content/packager/ITDSpaceAIP.java
  dspace-api/src/test/java/org/dspace/content/service/ItemServiceIT.java
  dspace-rest/src/main/java/org/dspace/rest/BitstreamResource.java
  dspace-rest/src/main/java/org/dspace/rest/ItemsResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResourcePolicyRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BundleRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/GroupRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemOwningCollectionUpdateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemTemplateRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/StatisticsRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CCLicenseFeatureRestIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanManageBitstreamBundlesFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanManageMappingsFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/CanSubscribeFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/EditItemFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/GenericAuthorizationFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageAdminGroupFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageSubmitterGroupFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageTemplateItemFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageWorkflowGroupFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/SubmitFeatureIT.java
Labels: bug, authorization

#9436 Issue-9435
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/itemupdate/DeleteBitstreamsAction.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/CreativeCommonsRDFStreamDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/CreativeCommonsTextStreamDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/LicenseStreamDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSDisseminator.java
  dspace-api/src/main/java/org/dspace/subscriptions/ContentGenerator.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9534 Fix wrong MIME type when sending LDN Messages
  dspace-api/src/main/java/org/dspace/app/ldn/action/SendLDNMessageAction.java
Labels: bug, 1 APPROVAL, integration: COAR Notify / LDN

#9453 DS-9452: Updates query to get collections referenced in the subscribers table
  dspace-api/src/main/java/org/dspace/content/dao/impl/CollectionDAOImpl.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9386 CrossRef metadata import: improve handling of JATS markup in CrossRef JSON response
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefAbstractProcessor.java
  dspace/config/spring/api/crossref-integration.xml
Labels: bug, 1 APPROVAL, tools: import-sources, port to dspace-7_x

#9482 Fix OpenSearch NullPointerException for "scope" UUID that is not a community or collection
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/ScopeResolver.java
  dspace-server-webapp/src/test/java/org/dspace/app/opensearch/OpenSearchControllerIT.java
Labels: bug, port to main, 1 APPROVAL

#2825 [DS-2462] query.filter.spiderIp is redundant, incomplete, scales poorly
  dspace-api/src/main/java/org/dspace/statistics/HttpSolrClientFactory.java
  dspace-api/src/main/java/org/dspace/statistics/SolrClientFactory.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/SolrStatisticsCore.java
  dspace-api/src/main/java/org/dspace/statistics/service/SolrLoggerService.java
  dspace-api/src/main/java/org/dspace/statistics/util/IPTable.java
  dspace-api/src/main/java/org/dspace/statistics/util/SpiderDetector.java
  dspace-api/src/main/java/org/dspace/statistics/util/SpiderDetectorService.java
  dspace-api/src/main/java/org/dspace/statistics/util/SpiderDetectorServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/util/StatisticsClient.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/solr-services.xml
  dspace-api/src/test/java/org/dspace/solr/MockSolrServer.java
  dspace-api/src/test/java/org/dspace/statistics/EmbeddedSolrClientFactory.java
  dspace-api/src/test/java/org/dspace/statistics/SolrLoggerServiceImplIT.java
  dspace-api/src/test/java/org/dspace/statistics/export/processor/BitstreamEventProcessorIT.java
  dspace-services/src/main/java/org/dspace/utils/DSpace.java
  dspace/config/modules/solr-statistics.cfg
  dspace/config/spring/api/solr-services.xml
Labels: improvement, quick win, component: statistics, backend: Solr, interface: command-line, configuration, Difficulty: low

#9508 Submission performance
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/DeleteFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/AInprogressItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/AInprogressSubmissionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/WorkflowItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/WorkspaceItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemCollectionLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemItemLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemSubmitterLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemCollectionLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemItemLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemSubmitterLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/LoginAsEPersonIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SuggestionRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestLinkRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestLinkRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: bug, high priority, component: workflow, component: submission, performance / caching

#9507 7.x - Submission performance
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/DeleteFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/AInprogressItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/AInprogressSubmissionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/WorkflowItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/WorkspaceItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemCollectionLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemItemLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemSubmitterLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemCollectionLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemItemLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemSubmitterLinkRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/LoginAsEPersonIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestLinkRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestLinkRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: bug, component: workflow, component: submission

#9547 [Port dspace-7_x] Upgrade Tika and bcprov-jdk18on to latest versions
  pom.xml
Labels: code task, dependencies, 1 APPROVAL

#9548 Ensure potentially large Solr query uses POST, not GET
  dspace-api/src/main/java/org/dspace/content/EntityTypeServiceImpl.java
Labels: bug, high priority, authorization, component: submission, 1 APPROVAL, performance / caching, port to dspace-7_x

#9551 Ensure Process `user_id` is nullified when reference EPerson is deleted
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2024.05.07__process_eperson_constraint.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2024.05.07__process_eperson_constraint.sql
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ProcessConverter.java
Labels: bug, 1 APPROVAL, tools: processes, port to dspace-7_x

#9410 Fix OAIHarvester#extractHandle not handling config properly
  dspace-api/src/main/java/org/dspace/harvest/OAIHarvester.java
Labels: bug, 1 APPROVAL, integration: OAI Harvester, claimed: Atmire, port to dspace-7_x

#9555 Updated CheckStyle to support newer Java features while not changing anything else
  pom.xml
Labels: code task, 1 APPROVAL, port to dspace-7_x

#9432 adding Unicode filtering for sorts
  dspace/solr/search/conf/schema.xml
Labels: port to main, component: Discovery, 1 APPROVAL

#9455 Replace organisation->organization
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace/config/spring/api/discovery.xml
Labels: bug, code task, port to main, 1 APPROVAL

#9433 Restore batch templates mail
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace/config/emails/batch_import_error
  dspace/config/emails/batch_import_success
Labels: bug, backend: email-system, 1 APPROVAL, port to dspace-7_x

#9442 Added switcher to writing personal data of submitter into dc.description.provenance metadata
  dspace-api/src/main/java/org/dspace/content/InstallItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowServiceImpl.java
  dspace/config/dspace.cfg
Labels: improvement, configuration, 1 APPROVAL, privacy

#9559 COAR Notify - Fix error for Unknown Service in Notification badges
  dspace-api/src/main/java/org/dspace/app/ldn/service/impl/LDNMessageServiceImpl.java
Labels: bug, 1 APPROVAL, integration: COAR Notify / LDN

#9568 [DURACOM-260] change notifyEndorsement medatada field value
  dspace/config/spring/api/discovery.xml
Labels: bug, 1 APPROVAL, integration: COAR Notify / LDN

#9569 potential array index out of bounds access in SubscriptionDsoMetadataForEmailCompose
  dspace-api/src/main/java/org/dspace/content/crosswalk/SubscriptionDsoMetadataForEmailCompose.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9400 fix datacite import recordscount and pagination options
  dspace-api/src/main/java/org/dspace/importer/external/datacite/DataCiteImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DataCiteImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/dataCite-noResults.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/dataCite-test.json
Labels: bug, 1 APPROVAL, tools: import-sources, port to dspace-7_x

#9573 remove outdated comment on RSS feeds in dspace.cfg
  dspace/config/dspace.cfg
Labels: code task, 1 APPROVAL

#9574 [Port dspace-7_x] remove outdated comment as RSS feeds are supported in DS 7.3+
  dspace/config/dspace.cfg
Labels: code task, 1 APPROVAL

#9485 Fix person lookup on project submission #2959
  dspace/config/spring/api/virtual-metadata.xml
  dspace/config/submission-forms.xml
Labels: bug, component: submission, component: configurable entities, 1 APPROVAL, port to dspace-7_x

#9577 Fix broken ITs after merger of #9485
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipDeleteRestRepositoryIT.java
Labels: bug, 1 APPROVAL, testing framework, port to dspace-7_x

#9206 Updated bitstream patch validation
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueMovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueRemovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueReplacePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamResourcePolicyAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/PatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/UploadStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamMetadataValuePathUtils.java
Labels: improvement, configuration, component: submission

#9588 I18nUtil: reduce log level error to info or warn
  dspace-api/src/main/java/org/dspace/core/I18nUtil.java
Labels: code task, port to dspace-7_x

#9580 improve interoperability: replace hard-coded slash by File.separator
  dspace-api/src/main/java/org/dspace/content/authority/DSpaceControlledVocabulary.java
Labels: code task, 1 APPROVAL, port to dspace-7_x

#9477 Improve S3 Bitstream Storage to Lazy download object from S3
  dspace-api/src/main/java/org/dspace/storage/bitstore/S3BitStoreService.java
  dspace-api/src/test/java/org/dspace/storage/bitstore/S3BitStoreServiceIT.java
Labels: bug, high priority, backend: bitstore, port to dspace-7_x

#9484 Porting of Improve S3 Bitstream Storage to Lazy download object from S3 to 7_x
  dspace-api/src/main/java/org/dspace/storage/bitstore/S3BitStoreService.java
  dspace-api/src/test/java/org/dspace/storage/bitstore/S3BitStoreServiceIT.java
Labels: bug, high priority, backend: bitstore

#9596 Fixing issue #7464 for DSpace 7
  dspace-api/src/main/java/org/dspace/content/crosswalk/METSRightsCrosswalk.java
Labels: bug, port to main, interface: SWORD, 1 APPROVAL

#9583 Fix Item Counts (webui.strengths) by refactoring ItemCounter and ItemCountDAO to act like other Spring beans
  dspace-api/src/main/java/org/dspace/browse/ItemCountDAO.java
  dspace-api/src/main/java/org/dspace/browse/ItemCountDAOFactory.java
  dspace-api/src/main/java/org/dspace/browse/ItemCountDAOSolr.java
  dspace-api/src/main/java/org/dspace/browse/ItemCountException.java
  dspace-api/src/main/java/org/dspace/browse/ItemCounter.java
  dspace-api/src/main/java/org/dspace/content/Collection.java
  dspace-api/src/main/java/org/dspace/content/CollectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/Community.java
  dspace-api/src/main/java/org/dspace/content/CommunityServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/ItemDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/service/CollectionService.java
  dspace-api/src/main/java/org/dspace/content/service/CommunityService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/CollectionConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/CommunityConverter.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
Labels: bug, high priority, component: Discovery, 1 APPROVAL, testathon, port to dspace-7_x

#9576 Remove old UI references from OpenSearch / RSS feeds
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/util/SyndicationFeed.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OpenSearchController.java
  dspace-server-webapp/src/test/java/org/dspace/app/opensearch/OpenSearchControllerIT.java
Labels: bug, 1 APPROVAL, integration: syndication feed, port to dspace-7_x

#9617 [Port dspace-7_x] MediaFilter over large repository result in downtime
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/core/UUIDIterator.java
  dspace-api/src/test/java/org/dspace/app/mediafilter/MediaFilterIT.java
  dspace-api/src/test/java/org/dspace/builder/BitstreamBuilder.java
Labels: bug, high priority, backend: Hibernate, tools: media-filters, performance / caching
