Repository DSpace/DSpace, pull requests merged in 2024-07, with the labels that each got.

#9683 updated creative commons licenses version from 3.0 to 4.0
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/CCLicenseAddPatchOperation.java
Labels: bug, 1 APPROVAL, integration: Creative Commons

#9682 DS-9323 - part 2: Updates creative commons license to 4.0 in example patch operation and geonames.org test data
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/CCLicenseAddPatchOperation.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ror-record.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ror-records.json
Labels: bug, 1 APPROVAL, integration: Creative Commons, port to dspace-8_x

#9691 Fix random test failures in LinksetRestControllerIT and ManageGroupsFeatureIT
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageGroupsFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
Labels: bug, 1 APPROVAL, testing framework, port to dspace-7_x, port to dspace-8_x

#9693 [Port dspace-7_x] Fix random test failures in LinksetRestControllerIT and ManageGroupsFeatureIT
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/ManageGroupsFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
Labels: bug, 1 APPROVAL, testing framework

#9704 Docker build: fix FromAsCasing warnings
  Dockerfile
  Dockerfile.cli
  Dockerfile.dependencies
  Dockerfile.test
Labels: bug, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9717 Update spider list URLs to satisfy Cloudflare redirects
  dspace/config/modules/solr-statistics.cfg
Labels: quick win, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9710 [Port dspace-7_x] Fix issue where CSV Import / Export can clear metadata if there are metadata values with language "*" (Item.ANY)
  dspace-api/src/main/java/org/dspace/administer/StructBuilder.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/DSpaceCSV.java
  dspace-api/src/main/java/org/dspace/content/Collection.java
  dspace-api/src/main/java/org/dspace/content/MetadataValue.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataImportIT.java
  dspace-api/src/test/java/org/dspace/builder/AbstractDSpaceObjectBuilder.java
  dspace-api/src/test/java/org/dspace/content/ItemComparatorTest.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-api/src/test/java/org/dspace/content/dao/RelationshipDAOImplIT.java
  dspace-api/src/test/java/org/dspace/content/dao/RelationshipTypeDAOImplIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/PatchMetadataIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
Labels: bug, tools: batch-editing, 1 APPROVAL
