Repository DSpace/DSpace, pull requests merged in 2024-03, with the labels that each got.

#9265 Basic Duplicate Detection in submission and workflow
  dspace-api/src/main/java/org/dspace/content/DuplicateDetectionServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentServiceFactory.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/content/service/DuplicateDetectionService.java
  dspace-api/src/main/java/org/dspace/content/virtual/PotentialDuplicate.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceIndexComparisonPlugin.java
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/java/org/dspace/content/DuplicateDetectionTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/PotentialDuplicateConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/PotentialDuplicateRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RestModel.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/PotentialDuplicateResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/step/DataDuplicateDetection.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/DuplicateRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ItemRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/SubmissionService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/DuplicateDetectionStep.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DuplicateDetectionRestIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace/config/dspace.cfg
  dspace/config/item-submission.xml
  dspace/config/modules/duplicate-detection.cfg
  dspace/config/modules/rest.cfg
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/api/discovery.xml
Labels: new feature, high priority, component: workflow, component: submission

#9268 Coar Notify Integration - Administer/Log
  dspace-api/src/main/java/org/dspace/app/ldn/LDNMessageEntity.java
  dspace-api/src/main/java/org/dspace/app/ldn/dao/LDNMessageDao.java
  dspace-api/src/main/java/org/dspace/app/ldn/dao/impl/LDNMessageDaoImpl.java
  dspace-api/src/main/java/org/dspace/app/ldn/service/LDNMessageService.java
  dspace-api/src/main/java/org/dspace/app/ldn/service/impl/LDNMessageServiceImpl.java
  dspace-api/src/main/java/org/dspace/core/Constants.java
  dspace-api/src/main/java/org/dspace/discovery/IndexEventConsumer.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexableLDNNotification.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/LDNMessageEntityIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/event/Event.java
  dspace-api/src/test/java/org/dspace/builder/AbstractBuilder.java
  dspace-api/src/test/java/org/dspace/builder/LDNMessageBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/LDNMessageRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/LDNMessageEntityConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/LDNMessageEntityRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/LDNMessageEntityResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/LDNMessageRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/RegexUtils.java
  dspace-server-webapp/src/test/data/dspaceFolder/config/spring/api/test-discovery.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/LDNMessageRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/LDNMessageRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/FacetEntryMatcher.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/api/discovery.xml
Labels: improvement, new feature, integration: COAR Notify / LDN

#9422 dependency update: Spring Framework v5.3.32 → v5.3.33
  pom.xml
Labels: dependencies, 1 APPROVAL
