Repository DSpace/DSpace, pull requests merged in 2024-02, with the labels that each got.

#9295 Expose 'creationTime' property on Process object and add it to '/search/byProperty' sort options
  dspace-api/src/test/java/org/dspace/builder/ProcessBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ProcessConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ProcessRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ProcessRestRepositoryIT.java
Labels: new feature, 1 APPROVAL, tools: processes

#9303 Fix Docker image build issues for new versions of Docker (25.0.2) and Docker Compose (2.24.3)
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/docker-compose-angular.yml
  dspace/src/main/docker-compose/docker-compose-iiif.yml
  dspace/src/main/docker-compose/docker-compose-shibboleth.yml
  dspace/src/main/docker/dspace-solr/Dockerfile
Labels: bug, high priority, backend: Docker, 1 APPROVAL, port to dspace-7_x

#9304 [Port dspace-7_x] Fix Docker image build issues for new versions of Docker (25.0.2) and Docker Compose (2.24.3)
  .github/workflows/docker.yml
  .github/workflows/reusable-docker-build.yml
  docker-compose-cli.yml
  docker-compose.yml
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/docker-compose-angular.yml
  dspace/src/main/docker-compose/docker-compose-iiif.yml
  dspace/src/main/docker-compose/docker-compose-shibboleth.yml
  dspace/src/main/docker/dspace-solr/Dockerfile
Labels: bug, high priority, backend: Docker, 1 APPROVAL

#9305 [Port dspace-7_x] Bump dependencies
  dspace-api/pom.xml
  dspace-iiif/pom.xml
  dspace-server-webapp/pom.xml
  dspace-sword/pom.xml
  pom.xml
Labels: dependencies, 1 APPROVAL

#9225 Bump dependencies
  dspace-api/pom.xml
  dspace-oai/pom.xml
  dspace-server-webapp/pom.xml
  dspace/modules/additions/pom.xml
  pom.xml
Labels: dependencies, 1 APPROVAL, port to dspace-7_x

#9309 Improve default identifiers.cfg properties
  dspace/config/modules/identifiers.cfg
Labels: improvement, quick win, 1 APPROVAL, port to dspace-7_x

#9231 RIOXX v3 OAI profile support
  dspace-oai/src/main/java/org/dspace/xoai/app/XOAI.java
  dspace-oai/src/main/java/org/dspace/xoai/filter/ItemsWithBitstreamFilter.java
  dspace-oai/src/main/java/org/dspace/xoai/util/ItemUtils.java
  dspace-oai/src/test/java/org/dspace/xoai/tests/stylesheets/RioxxXslTest.java
  dspace-oai/src/test/resources/rioxx-test-invalid.xml
  dspace-oai/src/test/resources/rioxx-test-valid.xml
  dspace-oai/src/test/resources/xoai-rioxx-test.xml
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
  dspace/config/crosswalks/oai/metadataFormats/rioxx.xsl
  dspace/config/crosswalks/oai/transformers/rioxx.xsl
  dspace/config/crosswalks/oai/xoai.xml
  dspace/config/entities/rioxx3-relationships.xml
  dspace/config/registries/dublin-core-types.xml
  dspace/config/spring/api/virtual-metadata.xml.openaire4
  dspace/solr/oai/conf/schema.xml
Labels: new feature, interface: OAI-PMH, needs documentation

#8896 Fast fail error when creating administrator, if there is no database connection
  dspace-api/src/main/java/org/dspace/administer/CreateAdministrator.java
Labels: bug, interface: command-line, 1 APPROVAL, port to dspace-7_x

#9194 [#9192] Makes forgot-password link removable
  dspace-api/src/main/java/org/dspace/app/util/AuthorizeUtil.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/EPersonForgotPasswordFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RegistrationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/EPersonForgotPasswordFeatureIT.java
  dspace/config/modules/authentication-password.cfg
Labels: new feature, authentication: password, 1 APPROVAL, authentication: general

#9259 Configure Item submission process at community level
  dspace-api/src/main/java/org/dspace/app/util/DCInputsReader.java
  dspace-api/src/main/java/org/dspace/app/util/SubmissionConfigReader.java
  dspace-api/src/main/java/org/dspace/app/util/Util.java
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/ctask/general/RequiredMetadata.java
  dspace-api/src/main/java/org/dspace/submit/service/SubmissionConfigService.java
  dspace-api/src/main/java/org/dspace/submit/service/SubmissionConfigServiceImpl.java
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/java/org/dspace/app/util/SubmissionConfigIT.java
  dspace-api/src/test/java/org/dspace/app/util/SubmissionConfigTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/AInprogressItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/SubmissionDefinitionRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkspaceItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace/config/item-submission.dtd
  dspace/config/item-submission.xml
Labels: new feature, configuration, component: submission

#9103 Fix for dc.date.available does not take into account embargoes
  dspace-api/src/main/java/org/dspace/content/InstallItemServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
Labels: bug, authorization, 1 APPROVAL

#9263 Repository indexing fails when item tika fulltext processing fails with error
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
Labels: bug, backend: Solr, tools: media-filters, component: Discovery, 1 APPROVAL, port to dspace-7_x

#9237 ROR Integration - OAI PMH & Orcid
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RorImportMetadataSourceServiceIT.java
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
  dspace/config/modules/orcid.cfg
  dspace/config/registries/schema-organization-types.xml
  dspace/config/spring/api/ror-integration.xml
  dspace/config/spring/api/virtual-metadata.xml.openaire4
Labels: new feature, interface: OAI-PMH, 1 APPROVAL, tools: import-sources

#9346 [DS-9345] Correct the package name of the IIIF search plugin
  dspace/config/modules/iiif.cfg
Labels: configuration, 1 APPROVAL, port to dspace-7_x

#9195 Add support for the primary bitstream flag
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/step/DataUpload.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/DataProcessingStep.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/BitstreamMetadataValueAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/PrimaryBitstreamAddPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/PrimaryBitstreamRemovePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/PrimaryBitstreamReplacePatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/UploadStep.java
  dspace-server-webapp/src/main/resources/spring/spring-dspace-core-services.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkspaceItemRestRepositoryIT.java
Labels: new feature, component: submission

#9132 Multiple import source (e.g. DOI -> Crossref, DataCite)
  dspace-api/src/main/java/org/dspace/importer/external/MultipleParallelImportMetadataSourceServiceImpl.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace/config/spring/api/external-services.xml
Labels: new feature, tools: import-sources

#9348 Added community & collection discovery configurations
  dspace/config/spring/api/discovery.xml
Labels: new feature, high priority, component: Discovery, 1 APPROVAL

#9326 Avoid index virtual metadata in Solr Authority core
  dspace-api/src/main/java/org/dspace/authority/indexer/DSpaceAuthorityIndexer.java
Labels: improvement, component: configurable entities, component: authority control

#9327 Improve implementation of `getBestMatch()` of SHERPARoMEO authorities
  dspace-api/src/main/java/org/dspace/content/authority/SHERPARoMEOJournalTitle.java
  dspace-api/src/main/java/org/dspace/content/authority/SHERPARoMEOPublisher.java
Labels: improvement, 1 APPROVAL, component: authority control, integration: Sherpa Romeo

#9320 Community/Collection admins can't edit logo for communities/collections
  dspace-api/src/main/java/org/dspace/content/Bitstream.java
  dspace-api/src/main/java/org/dspace/content/Collection.java
  dspace-api/src/main/java/org/dspace/content/Community.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CollectionLogoControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CommunityLogoControllerIT.java
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9339 Update of DataCite crosswalk to metadata schema 4.5
  dspace/config/crosswalks/DIM2DataCite.xsl
  dspace/config/dspace.cfg
Labels: bug, identifier: DOIs, 1 APPROVAL, port to dspace-7_x

#9336 Add more SWORDv2 Integration Tests
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractWebClientIntegrationTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/sword2/Swordv2IT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/sword2/example.zip
  dspace/config/modules/swordv2-server.cfg
Labels: interface: SWORD, 1 APPROVAL, testing framework, port to dspace-7_x

#9334 Sword configuration old style fixes 7.x
  dspace-sword/src/main/java/org/dspace/sword/CollectionDepositor.java
  dspace-sword/src/main/java/org/dspace/sword/SWORDUrlManager.java
  dspace-swordv2/src/main/java/org/dspace/sword2/SwordUrlManager.java
Labels: bug, port to main, interface: SWORD, 1 APPROVAL

#9335 Sword configuration old style fixes main
  dspace-sword/src/main/java/org/dspace/sword/CollectionDepositor.java
  dspace-sword/src/main/java/org/dspace/sword/SWORDUrlManager.java
  dspace-swordv2/src/main/java/org/dspace/sword2/SwordUrlManager.java
Labels: bug, interface: SWORD

#8986 fix: add default HandleIdentifierProvider for disabled versioning
  dspace/config/spring/api/identifier-service.xml
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9266 S3store is always enabled
  dspace-api/src/main/java/org/dspace/storage/bitstore/S3BitStoreService.java
  dspace-api/src/test/java/org/dspace/storage/bitstore/S3BitStoreServiceIT.java
Labels: bug, backend: bitstore, 1 APPROVAL, port to dspace-7_x

#9267 Create a DSpace Users correction source with REQUEST/WITHDRAWN and REQUEST/REINSTATE topics
  dspace-api/src/main/java/org/dspace/content/QAEvent.java
  dspace-api/src/main/java/org/dspace/correctiontype/CorrectionType.java
  dspace-api/src/main/java/org/dspace/correctiontype/ReinstateCorrectionType.java
  dspace-api/src/main/java/org/dspace/correctiontype/WithdrawnCorrectionType.java
  dspace-api/src/main/java/org/dspace/correctiontype/service/CorrectionTypeService.java
  dspace-api/src/main/java/org/dspace/correctiontype/service/impl/CorrectionTypeServiceImpl.java
  dspace-api/src/main/java/org/dspace/qaevent/QANotifyPatterns.java
  dspace-api/src/main/java/org/dspace/qaevent/QASource.java
  dspace-api/src/main/java/org/dspace/qaevent/QATopic.java
  dspace-api/src/main/java/org/dspace/qaevent/action/QAOpenaireSimpleMetadataAction.java
  dspace-api/src/main/java/org/dspace/qaevent/action/QAReinstateRequestAction.java
  dspace-api/src/main/java/org/dspace/qaevent/action/QAWithdrawnRequestAction.java
  dspace-api/src/main/java/org/dspace/qaevent/script/OpenaireEventsImport.java
  dspace-api/src/main/java/org/dspace/qaevent/security/AdministratorsOnlyQASecurity.java
  dspace-api/src/main/java/org/dspace/qaevent/security/QASecurity.java
  dspace-api/src/main/java/org/dspace/qaevent/security/UserBasedFilterQASecurity.java
  dspace-api/src/main/java/org/dspace/qaevent/service/QAEventSecurityService.java
  dspace-api/src/main/java/org/dspace/qaevent/service/QAEventService.java
  dspace-api/src/main/java/org/dspace/qaevent/service/dto/CorrectionTypeMessageDTO.java
  dspace-api/src/main/java/org/dspace/qaevent/service/dto/QAMessageDTO.java
  dspace-api/src/main/java/org/dspace/qaevent/service/impl/QAEventActionServiceImpl.java
  dspace-api/src/main/java/org/dspace/qaevent/service/impl/QAEventSecurityServiceImpl.java
  dspace-api/src/main/java/org/dspace/qaevent/service/impl/QAEventServiceImpl.java
  dspace-api/src/test/java/org/dspace/qaevent/script/OpenaireEventsImportIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/QAEventRelatedRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/CanDeleteVersionFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/CorrectionTypeConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/QAEventConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/QASourceConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/QATopicConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/CorrectionTypeQAEventMessageRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/CorrectionTypeRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/QAEventRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/CorrectionTypeResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/CorrectionTypeRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/QAEventRelatedLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/QAEventRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/QAEventTargetLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/QAEventTopicLinkRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/QASourceRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/QATopicRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/handler/ExternalSourceCorrectionTypeUriListHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/QAEventRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/QASourceRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CorrectionTypeRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/QAEventRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/QASourceRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/QATopicRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/QAEventMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/QATopicMatcher.java
  dspace/config/dspace.cfg
  dspace/config/emails/qaevent_admin_notification
  dspace/config/modules/qaevents.cfg
  dspace/config/modules/rest.cfg
  dspace/config/spring/api/core-services.xml
  dspace/config/spring/api/correction-types.xml
  dspace/config/spring/api/qaevents.xml
Labels: new feature, high priority, integration: QA Notifications

#9371 Update to latest Spring 5
  pom.xml
Labels: bug, dependencies, 1 APPROVAL, port to dspace-7_x

#8598 Content reports ported from DSpace 6.x
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/ItemDAO.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/contentreport/ContentReportServiceImpl.java
  dspace-api/src/main/java/org/dspace/contentreport/Filter.java
  dspace-api/src/main/java/org/dspace/contentreport/FilterCategory.java
  dspace-api/src/main/java/org/dspace/contentreport/FilteredCollection.java
  dspace-api/src/main/java/org/dspace/contentreport/FilteredCollections.java
  dspace-api/src/main/java/org/dspace/contentreport/FilteredItems.java
  dspace-api/src/main/java/org/dspace/contentreport/FilteredItemsQuery.java
  dspace-api/src/main/java/org/dspace/contentreport/ItemFilterUtil.java
  dspace-api/src/main/java/org/dspace/contentreport/QueryOperator.java
  dspace-api/src/main/java/org/dspace/contentreport/QueryPredicate.java
  dspace-api/src/main/java/org/dspace/contentreport/service/ContentReportService.java
  dspace-api/src/main/java/org/dspace/util/DSpacePostgreSQLDialect.java
  dspace-api/src/main/java/org/dspace/util/JpaCriteriaBuilderKit.java
  dspace-api/src/test/java/org/dspace/AbstractIntegrationTestWithDatabase.java
  dspace-api/src/test/java/org/dspace/content/service/ItemServiceIT.java
  dspace-api/src/test/java/org/dspace/util/DSpaceH2Dialect.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/ContentReportRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/FilteredItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/link/contentreport/ContentReportSupportHalLinkFactory.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/ContentReportSupportRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredCollectionRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredCollectionsQuery.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredCollectionsRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredItemsQueryPredicate.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredItemsQueryRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/FilteredItemsRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RestModel.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/ContentReportSupportResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/FilteredCollectionsResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/hateoas/FilteredItemsResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ContentReportRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ContentReportRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/ContentReportMatcher.java
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
  dspace/config/modules/contentreport.cfg
  dspace/config/modules/rest.cfg
  dspace/config/spring/api/core-services.xml
Labels: new feature, interface: REST API v7+

#9273 MediaFilter over large repository result in downtime
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/MediaFilterServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/ItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/core/UUIDIterator.java
  dspace-api/src/test/java/org/dspace/app/mediafilter/MediaFilterIT.java
  dspace-api/src/test/java/org/dspace/builder/BitstreamBuilder.java
Labels: bug, high priority, backend: Hibernate, tools: media-filters, performance / caching, port to dspace-7_x
