Repository DSpace/DSpace, pull requests merged in 2024-06, with the labels that each got.

#9618 Update comments in identifier-service.xml
  dspace/config/spring/api/identifier-service.xml
Labels: bug, identifier: DOIs, 1 APPROVAL, port to dspace-7_x

#9619 Remove the is-archived_condition from the doi-filter
  dspace/config/spring/api/item-filters.xml
Labels: bug, identifier: DOIs, 1 APPROVAL, port to dspace-7_x

#9627 Cleanup doi filters
  dspace/config/modules/identifiers.cfg
Labels: code task, configuration, identifier: DOIs, 1 APPROVAL, port to dspace-7_x

#9625 DS-9323: update creativecommons.org links to use https
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/CCLicenseAddPatchOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CCLicenseAddPatchOperationIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CCLicenseRemovePatchOperationIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/cinii-second.xml
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ror-record.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ror-records.json
  dspace-server-webapp/src/test/resources/org/dspace/license/cc-license-rdf.xml
  dspace/config/dspace.cfg
  dspace/config/submission-forms.xml
Labels: bug, code task, 1 APPROVAL, integration: Creative Commons, port to dspace-7_x

#9634 [Port dspace-7_x] updates creativecommons.org links to https
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/factory/impl/CCLicenseAddPatchOperation.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CCLicenseAddPatchOperationIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CCLicenseRemovePatchOperationIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/cinii-second.xml
  dspace-server-webapp/src/test/resources/org/dspace/license/cc-license-rdf.xml
  dspace/config/dspace.cfg
  dspace/config/submission-forms.xml
Labels: bug, code task, 1 APPROVAL, integration: Creative Commons

#9539 Fixed too long classpath bug in test_databaseFixed classpath issue in test_database target
  dspace/src/main/config/build.xml
Labels: bug, 1 APPROVAL, port to dspace-7_x

#9629 Ensure work directory is cleaned up even when Zip export fails
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportServiceImpl.java
Labels: bug, high priority, tools: export, 1 APPROVAL, testathon, port to dspace-7_x

#9594 Metadata Import via Scopus API: improved handling of empty search results
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/AuthorMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/scopus/service/ScopusImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScopusImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/scopus-empty-resp.xml
Labels: bug, 1 APPROVAL, tools: import-sources, port to dspace-7_x

#9621 Fixed item edit relationships with same type name but different entities all being shown under same label
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RelationshipRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RelationshipRestRepositoryIT.java
Labels: bug, high priority, configuration, component: configurable entities, 1 APPROVAL, claimed: Atmire, port to dspace-7_x

#9396 Delete sync settings when disconnect from orcid
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidSynchronizationServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
  dspace/config/modules/orcid.cfg
Labels: improvement, integration: ORCID, 1 APPROVAL

#9645 COAR Notify impossible to send/receive message from another DSpace
  dspace-api/src/main/java/org/dspace/app/ldn/LDNMessageConsumer.java
  dspace-api/src/main/java/org/dspace/app/ldn/action/LDNRelationCorrectionAction.java
  dspace-api/src/main/java/org/dspace/app/ldn/processor/LDNMetadataProcessor.java
  dspace-api/src/main/java/org/dspace/app/ldn/service/LDNMessageService.java
  dspace-api/src/main/java/org/dspace/app/ldn/service/impl/LDNMessageServiceImpl.java
  dspace-api/src/test/java/org/dspace/builder/NotifyServiceBuilder.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/NotifyServiceRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/LDNInboxControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/NotifyRequestStatusRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/NotifyServiceRestRepositoryIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ldn_announce_release.json
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/ldn_offer_review3.json
  dspace/config/ldn/announce-relationship
  dspace/config/modules/ldn.cfg
  dspace/config/spring/api/ldn-coar-notify.xml
Labels: bug, needs documentation, integration: COAR Notify / LDN

#9509 Fix bug where empty metadata List can result in "Index 0 out of bounds for length 0" exceptions in several scenarios
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataImportIT.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
Labels: bug, high priority, tools: packager, 1 APPROVAL, testathon, port to dspace-7_x

#9638 Update configuration to always download HTML/JS/XML Bitstreams (no inline display)
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamFormatRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace/config/dspace.cfg
  dspace/config/registries/bitstream-formats.xml
Labels: bug, high priority, interface: REST API v7+, 1 APPROVAL, port to dspace-7_x

#9631 Fix OpenAIRE import from external source
  dspace-api/src/main/java/org/dspace/importer/external/openaire/service/OpenAireImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/service/components/AbstractRemoteMetadataSource.java
  dspace/config/modules/openaire-client.cfg
  dspace/config/spring/api/external-services.xml
Labels: bug, high priority, 1 APPROVAL, testathon, integration: OpenAIRE

#9655 Bump Spring Boot from 3.2.5 to 3.2.6.
  dspace-iiif/pom.xml
  dspace-server-webapp/pom.xml
  pom.xml
Labels: high priority, dependencies, 1 APPROVAL

#9672 [GitHub Config] Minor updates to Contribution docs & issue/PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: code task

#9599 [Port dspace-7_x] Add a GET `/csrf` endpoint to allow for forcing refresh of CSRF token
  dspace-server-webapp/src/main/java/org/dspace/app/rest/CsrfRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/DSpaceCsrfTokenRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CsrfRestControllerIT.java
Labels: bug, high priority, component: statistics, 1 APPROVAL
