Repository DSpace/DSpace, pull requests merged in 2025-08, with the labels that each got.

#10774 Inherit custom, non-admin policies when creating new bundles
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/authorize/service/AuthorizeService.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/test/java/org/dspace/authorize/AuthorizeServiceTest.java
Labels: bug, authorization, component: submission, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#10820 ORCID Push: Fix SELF and PART_OF external identifier handling
  dspace-api/src/main/java/org/dspace/orcid/model/OrcidWorkFieldMapping.java
  dspace-api/src/main/java/org/dspace/orcid/model/factory/impl/OrcidWorkFactory.java
  dspace-api/src/test/java/org/dspace/builder/ItemBuilder.java
  dspace-api/src/test/java/org/dspace/orcid/service/OrcidEntityFactoryServiceIT.java
  dspace/config/crosswalks/orcid/mapConverter-dspace-to-orcid-publication-type.properties
  dspace/config/modules/orcid.cfg
  dspace/config/spring/api/orcid-services.xml
Labels: bug, integration: ORCID, needs documentation, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11131 Enhance SWORDv1 Integration Tests & fix WRITE Permissions error for submitters
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSIngester.java
  dspace-server-webapp/src/test/java/org/dspace/app/sword/Swordv1IT.java
Labels: bug, interface: SWORD, 1 APPROVAL, testing framework, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11138 FIX uses dc.source for bitstream originalName tag
  dspace-oai/src/main/java/org/dspace/xoai/util/ItemUtils.java
Labels: bug, interface: OAI-PMH, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#2559 DS-4370 - Allow Structure Builder to import beneath a parent community
  dspace-api/src/main/java/org/dspace/administer/StructBuilder.java
  dspace-api/src/test/java/org/dspace/administer/StructBuilderIT.java
Labels: improvement, quick win, tools: import, 1 APPROVAL

#11150 Fix for #9589 Incorrect Export of Search Results with Double Quotation Marks in DSpace 7. Reference PR #10103
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportSearch.java
  dspace-api/src/main/java/org/dspace/scripts/DSpaceRunnable.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportSearchIT.java
Labels: bug, tools: export, component: Discovery, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11147 Upgrade pdfbox and tika
  dspace-api/src/main/java/org/dspace/app/mediafilter/ImageMagickThumbnailFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/PDFBoxThumbnail.java
  dspace-api/src/main/java/org/dspace/content/packager/PDFPackager.java
  dspace-api/src/main/java/org/dspace/disseminate/CitationDocumentServiceImpl.java
  dspace-api/src/main/java/org/dspace/disseminate/PdfGenerator.java
  dspace-api/src/main/java/org/dspace/importer/external/epo/service/EpoImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  pom.xml
Labels: code task, dependencies, 1 APPROVAL

#11156 Metadata import empty collection column check
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
Labels: bug, tools: batch-editing, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11183 [Port dspace-7_x] Fix bean initialization with citation-page.enabled_communities
  dspace-api/src/main/java/org/dspace/disseminate/CitationDocumentServiceImpl.java
Labels: bug, 1 APPROVAL

#11155 checkstyle.xml: enforce Java-style arrays
  checkstyle.xml
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/itemupdate/ItemArchive.java
  dspace-api/src/main/java/org/dspace/app/packager/Packager.java
  dspace-api/src/main/java/org/dspace/app/util/MetadataExposureServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/util/SyndicationFeed.java
  dspace-api/src/main/java/org/dspace/authenticate/LDAPAuthentication.java
  dspace-api/src/main/java/org/dspace/content/BitstreamFormatServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/authority/Choices.java
  dspace-api/src/main/java/org/dspace/content/authority/DCInputAuthority.java
  dspace-api/src/main/java/org/dspace/content/authority/DSpaceControlledVocabulary.java
  dspace-api/src/main/java/org/dspace/content/authority/SampleAuthority.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/AIPDIMCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/AIPTechMDCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/DIMDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/METSDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/METSRightsCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/MODSDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/OREDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/OREIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/PREMISCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/QDCCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/RoleCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/SimpleDCDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/XSLTDisseminationCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/crosswalk/XSLTIngestionCrosswalk.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSDisseminator.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSIngester.java
  dspace-api/src/main/java/org/dspace/content/packager/DSpaceAIPIngester.java
  dspace-api/src/main/java/org/dspace/content/packager/DSpaceMETSDisseminator.java
  dspace-api/src/main/java/org/dspace/content/packager/DSpaceMETSIngester.java
  dspace-api/src/main/java/org/dspace/content/packager/METSManifest.java
  dspace-api/src/main/java/org/dspace/content/packager/PDFPackager.java
  dspace-api/src/main/java/org/dspace/content/packager/PackageParameters.java
  dspace-api/src/main/java/org/dspace/content/packager/PackageUtils.java
  dspace-api/src/main/java/org/dspace/content/service/BundleService.java
  dspace-api/src/main/java/org/dspace/core/LegacyPluginServiceImpl.java
  dspace-api/src/main/java/org/dspace/embargo/DayTableEmbargoSetter.java
  dspace-api/src/main/java/org/dspace/embargo/EmbargoCLITool.java
  dspace-api/src/main/java/org/dspace/embargo/EmbargoServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/EPersonCLITool.java
  dspace-api/src/main/java/org/dspace/event/BasicDispatcher.java
  dspace-api/src/main/java/org/dspace/event/ConsumerProfile.java
  dspace-api/src/main/java/org/dspace/event/Event.java
  dspace-api/src/main/java/org/dspace/event/EventServiceImpl.java
  dspace-api/src/main/java/org/dspace/health/Report.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/MetadataFieldConfig.java
  dspace-api/src/main/java/org/dspace/testing/PubMedToImport.java
  dspace-oai/src/main/java/org/dspace/xoai/services/impl/xoai/DSpaceItemSolrRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/SitemapRestController.java
Labels: code task, java

#10298 Inferring URN type from values for related and alternate identifiers usage
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
Labels: improvement, interface: OAI-PMH, 1 APPROVAL, integration: OpenAIRE

#11194 Parse Solr facet range date and time with proper format
  dspace-api/src/main/java/org/dspace/util/SolrImportExport.java
Labels: bug, component: statistics, interface: command-line, 1 APPROVAL, port to dspace-9_x
