Repository DSpace/DSpace, pull requests merged in 2025-03, with the labels that each got.

#10460 Refactoring the function to retrieve the number of browse entries (fix errors using Solr 9.x)
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: backend: Solr, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9470 Add support for SAML authentication.
  .gitignore
  Dockerfile.dependencies
  dspace-api/src/main/java/org/dspace/authenticate/SamlAuthentication.java
  dspace-api/src/test/java/org/dspace/authenticate/SamlAuthenticationTest.java
  dspace-saml2/pom.xml
  dspace-saml2/src/main/java/org/dspace/app/configuration/SamlWebSecurityConfiguration.java
  dspace-saml2/src/main/java/org/dspace/saml2/DSpaceRelyingPartyRegistrationRepository.java
  dspace-saml2/src/main/java/org/dspace/saml2/DSpaceSamlAuthRequest.java
  dspace-saml2/src/main/java/org/dspace/saml2/DSpaceSamlAuthenticationFailureHandler.java
  dspace-saml2/src/main/java/org/dspace/saml2/DSpaceSamlAuthenticationSuccessHandler.java
  dspace-saml2/src/test/java/org/dspace/saml2/DSpaceRelyingPartyRegistrationRepositoryTest.java
  dspace-saml2/src/test/java/org/dspace/saml2/DSpaceSamlAuthRequestTest.java
  dspace-saml2/src/test/java/org/dspace/saml2/DSpaceSamlAuthenticationSuccessHandlerTest.java
  dspace-saml2/src/test/resources/auth0-ap-metadata.xml
  dspace-saml2/src/test/resources/auth0-ap-override-certificate.crt
  dspace-saml2/src/test/resources/auth0-rp-certificate.crt
  dspace-saml2/src/test/resources/auth0-rp-private.key
  dspace-saml2/src/test/resources/invalid.crt
  dspace-saml2/src/test/resources/invalid.key
  dspace-server-webapp/pom.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/SamlLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/WebSecurityConfiguration.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenRestAuthenticationServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SamlAuthenticationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/security/SamlLoginFilterTest.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/testrp-rp-certificate.crt
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/testrp-rp-private.key
  dspace-services/src/main/java/org/dspace/servicemanager/config/DSpaceConfigurationService.java
  dspace-services/src/main/java/org/dspace/services/ConfigurationService.java
  dspace-services/src/test/java/org/dspace/servicemanager/config/DSpaceConfigurationServiceTest.java
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
  dspace/config/modules/authentication-saml.cfg
  dspace/config/modules/authentication.cfg
  dspace/config/modules/saml-relying-party.cfg
  dspace/pom.xml
  pom.xml
Labels: new feature, authentication: general, authentication: SAML

#9823 Refactored IndexClient
  dspace-api/src/main/java/org/dspace/discovery/IndexClient.java
Labels: new feature, code task, component: Discovery

#10487 #10476: Fix debug port conflicts in Dockerfile test env
  dspace/bin/dspace
Labels: bug, quick win, backend: Docker, 1 APPROVAL, port to dspace-8_x

#10434 New solr plugin: AccessStatus to enable filtering results by item access status
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceIndexAccessStatusPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryScopeBasedRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/FacetEntryMatcher.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/SearchFilterMatcher.java
  dspace/config/spring/api/discovery.xml
Labels: new feature, component: Discovery, 1 APPROVAL

#10509 DiscoverQueryBuilder: add missing whitespace in exception message
  dspace-api/src/main/java/org/dspace/app/util/DCInputsReader.java
  dspace-api/src/main/java/org/dspace/discovery/utils/DiscoverQueryBuilder.java
Labels: bug, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10512 Add null check in SolrServiceFileInfoPlugin for index-discovery
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceFileInfoPlugin.java
Labels: bug, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10410 CSV export for Filtered Items content report
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportFilteredItemsReport.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportFilteredItemsReportCli.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportFilteredItemsReportCliScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportFilteredItemsReportScriptConfiguration.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentReportServiceFactory.java
  dspace-api/src/main/java/org/dspace/content/factory/ContentReportServiceFactoryImpl.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/scripts.xml
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportFilteredItemsReportIT.java
  dspace-api/src/test/java/org/dspace/content/DCDateTest.java
  dspace/config/dspace.cfg
  dspace/config/modules/contentreport.cfg
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/scripts.xml
  dspace/config/spring/rest/scripts.xml
Labels: new feature, tools: export

#9849 ORCID Login flow for private emails
  dspace-api/src/main/java/org/dspace/app/bulkedit/DSpaceCSV.java
  dspace-api/src/main/java/org/dspace/authenticate/OrcidAuthenticationBean.java
  dspace-api/src/main/java/org/dspace/eperson/AccountServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/RegistrationData.java
  dspace-api/src/main/java/org/dspace/eperson/RegistrationDataExpirationConfiguration.java
  dspace-api/src/main/java/org/dspace/eperson/RegistrationDataMetadata.java
  dspace-api/src/main/java/org/dspace/eperson/RegistrationDataMetadataServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/RegistrationDataServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/RegistrationTypeEnum.java
  dspace-api/src/main/java/org/dspace/eperson/dao/RegistrationDataDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/RegistrationDataMetadataDAO.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/RegistrationDataDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dao/impl/RegistrationDataMetadataDAOImpl.java
  dspace-api/src/main/java/org/dspace/eperson/dto/RegistrationDataChanges.java
  dspace-api/src/main/java/org/dspace/eperson/dto/RegistrationDataPatch.java
  dspace-api/src/main/java/org/dspace/eperson/factory/EPersonServiceFactory.java
  dspace-api/src/main/java/org/dspace/eperson/factory/EPersonServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/AccountService.java
  dspace-api/src/main/java/org/dspace/eperson/service/RegistrationDataMetadataService.java
  dspace-api/src/main/java/org/dspace/eperson/service/RegistrationDataService.java
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidSynchronizationServiceImpl.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V9.0_2025.03.12__registration_data.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V9.0_2025.03.12__registration_data.sql
  dspace-api/src/test/java/org/dspace/eperson/AccountServiceImplIT.java
  dspace-api/src/test/java/org/dspace/eperson/RegistrationDataMetadataServiceImplIT.java
  dspace-api/src/test/java/org/dspace/identifier/VersionedHandleIdentifierProviderIT.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/EPersonRegistrationRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/MetadataConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RegistrationDataConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/DSpaceObjectRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/MetadataRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RegistrationMetadataRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RegistrationRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/EPersonRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/patch/operation/RegistrationEmailPatchOperation.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/OrcidLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/ApplicationConfig.java
  dspace-server-webapp/src/main/java/org/dspace/app/scheduler/eperson/RegistrationDataScheduler.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRegistrationRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/EPersonRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/OrcidLoginFilterIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RegistrationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
  dspace/config/dspace.cfg
  dspace/config/emails/orcid
  dspace/config/emails/validation_orcid
  dspace/config/hibernate.cfg.xml
  dspace/config/spring/api/core-dao-services.xml
  dspace/config/spring/api/core-services.xml
Labels: new feature, integration: ORCID, authentication: general, needs documentation

#10407 Request-a-copy improvements: Support access via secure links
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItem.java
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemEmailNotifier.java
  dspace-api/src/main/java/org/dspace/app/requestitem/RequestItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/requestitem/dao/RequestItemDAO.java
  dspace-api/src/main/java/org/dspace/app/requestitem/dao/impl/RequestItemDAOImpl.java
  dspace-api/src/main/java/org/dspace/app/requestitem/package-info.java
  dspace-api/src/main/java/org/dspace/app/requestitem/service/RequestItemService.java
  dspace-api/src/main/java/org/dspace/core/Utils.java
  dspace-api/src/main/java/org/dspace/eperson/AltchaCaptchaServiceImpl.java
  dspace-api/src/main/java/org/dspace/eperson/factory/CaptchaServiceFactory.java
  dspace-api/src/main/java/org/dspace/eperson/factory/CaptchaServiceFactoryImpl.java
  dspace-api/src/main/java/org/dspace/eperson/service/CaptchaService.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V9.0_2025.02.13__add_access_colums_to_requestitem_table.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V9.0_2025.02.13__add_access_colums_to_requestitem_table.sql
  dspace-api/src/test/data/dspaceFolder/config/spring/api/captcha.xml
  dspace-api/src/test/java/org/dspace/app/requestitem/RequestItemEmailNotifierTest.java
  dspace-api/src/test/java/org/dspace/app/requestitem/RequestItemTest.java
  dspace-api/src/test/java/org/dspace/builder/RequestItemBuilder.java
  dspace-api/src/test/java/org/dspace/eperson/AltchaCaptchaServiceTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/AltchaCaptchaRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/WebApplication.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/authorization/impl/RequestCopyFeature.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RequestItemConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/RequestItemRest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamResource.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamResourceAccessByToken.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AltchaCaptchaRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RegistrationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RequestItemRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/authorization/RequestCopyFeatureIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/RequestCopyMatcher.java
  dspace/config/dspace.cfg
  dspace/config/emails/request_item.granted_token
  dspace/config/modules/altcha.cfg
  dspace/config/modules/requestitem.cfg
  dspace/config/modules/rest.cfg
  dspace/config/spring/api/core-factory-services.xml
  dspace/config/spring/api/core-services.xml
  dspace/modules/server/pom.xml
Labels: new feature

#9844 provide new CoverPage implementation
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/disseminate/CitationDocumentServiceImpl.java
  dspace-api/src/main/java/org/dspace/disseminate/CoverPageContributor.java
  dspace-api/src/main/java/org/dspace/disseminate/CoverPageService.java
  dspace-api/src/main/java/org/dspace/disseminate/DefaultCoverPageContributor.java
  dspace-api/src/main/java/org/dspace/disseminate/PdfGenerator.java
  dspace-api/src/main/java/org/dspace/disseminate/service/CitationDocumentService.java
  dspace-api/src/main/resources/dspace_coverpage.html
  dspace-api/src/main/resources/dspace_logo.png
  dspace-api/src/test/java/org/dspace/disseminate/CoverPageServiceTest.java
  dspace-api/src/test/java/org/dspace/disseminate/PdfGeneratorTest.java
  dspace/config/modules/citation-page.cfg
  dspace/config/spring/api/core-services.xml
Labels: new feature, needs documentation

#10435 REST Matomo Tracking integration for Bitstream views
  docker-compose.yml
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/content/BitstreamServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/BitstreamService.java
  dspace-api/src/main/java/org/dspace/google/GoogleAsyncEventListener.java
  dspace-api/src/main/java/org/dspace/matomo/MatomoAbstractHandler.java
  dspace-api/src/main/java/org/dspace/matomo/MatomoAsyncBulkRequestHandler.java
  dspace-api/src/main/java/org/dspace/matomo/MatomoEventListener.java
  dspace-api/src/main/java/org/dspace/matomo/MatomoSyncEventHandler.java
  dspace-api/src/main/java/org/dspace/matomo/MatomoUsageEventHandler.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoAbstractClient.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoAsyncClientImpl.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoBulkRequest.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoClient.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoClientImpl.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoRequestBuilder.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoResponse.java
  dspace-api/src/main/java/org/dspace/matomo/client/MatomoResponseReader.java
  dspace-api/src/main/java/org/dspace/matomo/exception/MatomoClientException.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestCookieIdentifierEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestCookieSessionEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestCountryEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestCustomCookiesEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestCustomVariablesEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestDetailsEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestDetailsEnricherFactory.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestIpAddressEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/factory/MatomoRequestTrackerIdentifierParamEnricher.java
  dspace-api/src/main/java/org/dspace/matomo/model/MatomoCookieConverter.java
  dspace-api/src/main/java/org/dspace/matomo/model/MatomoRequestDetails.java
  dspace-api/src/main/java/org/dspace/matomo/model/MatomoRequestDetailsBuilder.java
  dspace-api/src/main/java/org/dspace/matomo/model/MatomoRequestDetailsListConverter.java
  dspace-api/src/main/java/org/dspace/matomo/model/MatomoRequestDetailsSplitter.java
  dspace-api/src/test/java/org/dspace/matomo/MatomoAsyncBulkRequestHandlerTest.java
  dspace-api/src/test/java/org/dspace/matomo/MatomoEventListenerTest.java
  dspace-api/src/test/java/org/dspace/matomo/MatomoSyncEventHandlerTest.java
  dspace-api/src/test/java/org/dspace/matomo/client/MatomoAbstractClientTest.java
  dspace-api/src/test/java/org/dspace/matomo/client/MatomoClientImplTest.java
  dspace-api/src/test/java/org/dspace/matomo/client/MatomoRequestBuilderTest.java
  dspace-api/src/test/java/org/dspace/matomo/client/MatomoResponseReaderTest.java
  dspace-api/src/test/java/org/dspace/matomo/model/MatomoCookieConverterTest.java
  dspace-api/src/test/java/org/dspace/matomo/model/MatomoRequestDetailsBuilderTest.java
  dspace-api/src/test/java/org/dspace/matomo/model/MatomoRequestDetailsSplitterTest.java
  dspace/config/dspace.cfg
  dspace/config/modules/matomo.cfg
  dspace/config/modules/rest.cfg
  dspace/config/spring/rest/event-service-listeners.xml
  dspace/config/spring/rest/matomo.xml
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker-compose/docker-compose-matomo.yml
Labels: new feature, component: statistics, needs documentation

#10538 Add a null check on group in DefaultAccessStatusHelper
  dspace-api/src/main/java/org/dspace/access/status/DefaultAccessStatusHelper.java
Labels: bug, 1 APPROVAL

#9918 Discovery configuration to support geospatial search
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceGeospatialFilterPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DiscoveryRestControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/SearchFilterMatcher.java
  dspace/config/modules/discovery.cfg
  dspace/config/spring/api/discovery.xml
  dspace/solr/search/conf/schema.xml
Labels: new feature, component: Discovery

#9915 Generic External Bitstream Storage Based on Apache JClouds
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/storage/bitstore/BitstreamByteSource.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/BitstreamStorageServiceImpl.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/JCloudBitStoreService.java
  dspace-api/src/main/java/org/dspace/storage/bitstore/service/BitstreamStorageService.java
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace-api/src/test/java/org/dspace/content/BitstreamJCloudBitstoreTest.java
  dspace-api/src/test/java/org/dspace/content/BitstreamTest.java
  dspace-api/src/test/java/org/dspace/storage/bitstore/JCloudBitStoreServiceTest.java
  dspace/config/modules/assetstore.cfg
  dspace/config/spring/api/bitstore.xml
  pom.xml
Labels: new feature, backend: bitstore, performance / caching, needs documentation
