Repository DSpace/DSpace, pull requests merged in 2025-05, with the labels that each got.

#10685 Remove `jakarta.el` dependency & replace `MethodNotFoundException` with `UnsupportedOperationException`
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/importer/external/MultipleParallelImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/ads/ADSImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/service/ArXivImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/cinii/CiniiImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/datacite/DataCiteImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/openaire/service/OpenAireImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/openalex/service/OpenAlexImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmedeurope/PubmedEuropeMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/ror/service/RorImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/scielo/service/ScieloImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/scopus/service/ScopusImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/vufind/VuFindImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/wos/service/WOSImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ADSImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DataCiteImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScieloImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/VuFindImportMetadataSourceServiceIT.java
  pom.xml
Labels: code task, dependencies, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10686 [Port dspace-8_x] Remove `jakarta.el` dependency & replace `MethodNotFoundException` with `UnsupportedOperationException`
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/importer/external/MultipleParallelImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/ads/ADSImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/service/ArXivImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/cinii/CiniiImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/datacite/DataCiteImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/openaire/service/OpenAireImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmedeurope/PubmedEuropeMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/ror/service/RorImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/scielo/service/ScieloImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/scopus/service/ScopusImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/vufind/VuFindImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/wos/service/WOSImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ADSImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DataCiteImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScieloImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/VuFindImportMetadataSourceServiceIT.java
  pom.xml
Labels: code task, dependencies, 1 APPROVAL

#10687 [Port dspace-7_x] Remove `javax.el` dependency & replace `MethodNotFoundException` with `UnsupportedOperationException`
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/importer/external/ads/ADSImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/arxiv/service/ArXivImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/cinii/CiniiImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/crossref/CrossRefImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/datacite/DataCiteImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/pubmedeurope/PubmedEuropeMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/scielo/service/ScieloImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/scopus/service/ScopusImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/vufind/VuFindImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/wos/service/WOSImportMetadataSourceServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ADSImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DataCiteImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScieloImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/VuFindImportMetadataSourceServiceIT.java
  pom.xml
Labels: code task, dependencies, 1 APPROVAL

#10692 Error when using WOS import service
  dspace-api/src/main/java/org/dspace/importer/external/wos/service/WOSImportMetadataSourceServiceImpl.java
Labels: bug, 1 APPROVAL, tools: import-sources, testathon, port to dspace-7_x, port to dspace-8_x

#10697 Bulk access control fails to iterate over each item in a collection, producing duplicate policies for some items
  dspace-api/src/main/java/org/dspace/app/bulkaccesscontrol/BulkAccessControl.java
  dspace-api/src/test/java/org/dspace/app/bulkaccesscontrol/BulkAccessControlIT.java
Labels: bug, high priority, authorization, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10693 ISSN code not imported when using SHERPA import
  dspace-api/src/main/java/org/dspace/external/provider/impl/SHERPAv2JournalDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SHERPAv2JournalISSNDataProvider.java
  dspace-api/src/test/java/org/dspace/app/sherpa/SHERPADataProviderTest.java
  dspace/config/spring/api/sherpa.xml
Labels: bug, 1 APPROVAL, tools: import-sources, testathon, port to dspace-7_x, port to dspace-8_x

#10705 [Port dspace-7_x] ISSN code not imported when using SHERPA import
  dspace-api/src/main/java/org/dspace/external/provider/impl/SHERPAv2JournalDataProvider.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/SHERPAv2JournalISSNDataProvider.java
  dspace-api/src/test/java/org/dspace/app/sherpa/SHERPADataProviderTest.java
  dspace/config/spring/api/sherpa.xml
Labels: bug, 1 APPROVAL, tools: import-sources, testathon

#10556 Fix tests failing in TikaTextExtractionFilterTest
  dspace-api/src/main/java/org/dspace/app/mediafilter/TikaTextExtractionFilter.java
Labels: bug, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10454 FIX Submission patch operation weird recognition check
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/access-conditions.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/UploadStep.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
Labels: claimed: 4Science, java, port to dspace-7_x, affects: 7.x, affects: 8.x, affects: main, port to dspace-8_x

#10716 [Port dspace-7_x] FIX Submission patch operation weird recognition check
  dspace-api/src/test/data/dspaceFolder/config/item-submission.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/access-conditions.xml
  dspace-server-webapp/src/main/java/org/dspace/app/rest/submit/step/UploadStep.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/SubmissionDefinitionsControllerIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
Labels: component: submission, claimed: 4Science, java

#10688 Allow collection admins to add new policies for bitstreams
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicyServiceImpl.java
  dspace-api/src/main/java/org/dspace/core/Utils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResourcePolicyRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ResourcePolicyAdminPermissionEvalutatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ResourcePolicyRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
Labels: bug, authorization, port to dspace-7_x, port to dspace-8_x

#10719 Fix index issue and long script running for suggestion script
  dspace-api/src/main/java/org/dspace/app/suggestion/runnable/PublicationLoaderRunnable.java
Labels: bug, high priority, 1 APPROVAL, integration: QA Notifications

#10723 [Port dspace-8_x] Proxy Configuration and Connection Leak using HTTP Clients
  checkstyle-suppressions.xml
  checkstyle.xml
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/app/client/DSpaceHttpClientFactory.java
  dspace-api/src/main/java/org/dspace/app/client/DSpaceProxyRoutePlanner.java
  dspace-api/src/main/java/org/dspace/app/ldn/action/SendLDNMessageAction.java
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAService.java
  dspace-api/src/main/java/org/dspace/app/util/WebAppServiceImpl.java
  dspace-api/src/main/java/org/dspace/authenticate/oidc/impl/OidcClientImpl.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSIngester.java
  dspace-api/src/main/java/org/dspace/ctask/general/BasicLinkChecker.java
  dspace-api/src/main/java/org/dspace/ctask/general/MetadataWebService.java
  dspace-api/src/main/java/org/dspace/ctask/general/MicrosoftTranslator.java
  dspace-api/src/main/java/org/dspace/eperson/CaptchaServiceImpl.java
  dspace-api/src/main/java/org/dspace/external/OpenaireRestConnector.java
  dspace-api/src/main/java/org/dspace/external/OrcidRestConnector.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/OrcidV3AuthorDataProvider.java
  dspace-api/src/main/java/org/dspace/google/client/GoogleAnalyticsClientImpl.java
  dspace-api/src/main/java/org/dspace/identifier/doi/DataCiteConnector.java
  dspace-api/src/main/java/org/dspace/identifier/ezid/EZIDRequest.java
  dspace-api/src/main/java/org/dspace/iiif/IIIFApiQueryServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClientImpl.java
  dspace-api/src/main/java/org/dspace/license/CCLicenseConnectorServiceImpl.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClientImpl.java
  dspace-api/src/main/java/org/dspace/orcid/model/factory/OrcidFactoryUtils.java
  dspace-api/src/main/java/org/dspace/qaevent/service/impl/QAEventActionServiceImpl.java
  dspace-api/src/main/java/org/dspace/service/impl/HttpConnectionPoolService.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/export/service/OpenUrlServiceImpl.java
  dspace-api/src/test/java/org/dspace/app/client/DSpaceHttpClientFactoryTest.java
  dspace-api/src/test/java/org/dspace/statistics/export/service/OpenUrlServiceImplTest.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
  pom.xml
Labels: bug, integration: ORCID, tools: import-sources, integration: Creative Commons

#10725 Potential fix for code scanning alert no. 3549: Arbitrary file access during archive extraction ("Zip Slip")
  dspace-swordv2/src/main/java/org/dspace/sword2/SimpleZipContentIngester.java
Labels: bug, high priority, interface: SWORD, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9943 extend datacite import mapping with additional fields
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/EnhancedJsonPathAttributeConditionMetadataContributor.java
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/contributor/MappingValueProcessor.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DataCiteImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/dataCite-test1.json
  dspace/config/crosswalks/datacite/mapConverter-datacite-to-dspace-resourcetypes.properties
  dspace/config/spring/api/datacite-integration.xml
Labels: improvement, tools: import-sources

#10184 conditional rendering of metadata section in style.xsl
  dspace-oai/src/main/resources/static/style.xsl
Labels: bug, interface: OAI-PMH, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10745 Improve DSpaceObjectService string comparison tests
  dspace-api/src/main/java/org/dspace/content/DSpaceObjectServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/DSpaceObjectService.java
Labels: bug, code task, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9964 Accessibility settings metadata field
  dspace/config/registries/dspace-types.xml
Labels: bug, high priority

#10758 Bump XOAI to 3.4.1
  dspace-oai/pom.xml
Labels: interface: OAI-PMH, dependencies, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10760 [Port dspace-7_x] Bump XOAI to 3.4.1
  dspace-oai/pom.xml
Labels: interface: OAI-PMH, dependencies, 1 APPROVAL

#10765 [Port main] Fix invalid cast in DOIOrganiser exception handling
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIOrganiser.java
Labels: bug, identifier: DOIs, 1 APPROVAL

#10486 Fix invalid cast in DOIOrganiser exception handling
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIOrganiser.java
Labels: bug, identifier: DOIs, 1 APPROVAL

#10766 [Port dspace-8_x] Fix invalid cast in DOIOrganiser exception handling
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIOrganiser.java
Labels: bug, identifier: DOIs, 1 APPROVAL
