Repository DSpace/DSpace, pull requests merged in 2025-09, with the labels that each got.

#11200 Fix database connection leak on failed login attempts
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/OrcidLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/StatelessLoginFilter.java
Labels: bug, high priority, interface: REST API v7+, performance / caching, authentication: general, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11174 Fix #11074 export simple archive format when item has no collection
  dspace-api/src/main/java/org/dspace/app/itemexport/ItemExportServiceImpl.java
Labels: bug, port to main, tools: export, 1 APPROVAL, port to dspace-7_x, port to dspace-9_x

#11249 [Port dspace-8_x] Fix database connection leak on failed login attempts
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/OrcidLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/StatelessLoginFilter.java
Labels: bug, high priority, interface: REST API v7+, performance / caching, authentication: general

#11245 AIP Packager bitstream URL fix
  dspace-api/src/main/java/org/dspace/content/crosswalk/PREMISCrosswalk.java
Labels: bug, tools: packager, tools: export, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11260 fix(#11191): Align Content-Disposition with RFC 5987/6266
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/HttpHeadersInitializer.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, interface: REST API v7+, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11268 [Port dspace-8_x] fix(#11191): Align Content-Disposition with RFC 5987/6266
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/HttpHeadersInitializer.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, interface: REST API v7+, 1 APPROVAL

#11269 [Port dspace-7_x] fix(#11191): Align Content-Disposition with RFC 5987/6266
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/HttpHeadersInitializer.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, interface: REST API v7+, 1 APPROVAL

#11171 Error in file upload after security fixes
  dspace-api/src/main/java/org/dspace/storage/bitstore/DSBitStoreService.java
  dspace/config/modules/assetstore.cfg
Labels: bug, high priority, backend: bitstore, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#11263 Add familyName and givenName when creating profile author and fix EPe…
  dspace-api/src/main/java/org/dspace/eperson/EPerson.java
  dspace-api/src/main/java/org/dspace/profile/ResearcherProfileServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
Labels: bug, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x
