Repository DSpace/DSpace, pull requests merged in 2025-06, with the labels that each got.

#10821 [Port dspace-8_x] Alphabetize external source importers by service name (on MyDSpace, etc)
  dspace/config/spring/api/external-services.xml
Labels: code task, 1 APPROVAL, tools: import-sources

#10822 [Port dspace-7_x] Alphabetize external source importers by service name (on MyDSpace, etc)
  dspace/config/spring/api/external-services.xml
Labels: code task, 1 APPROVAL, tools: import-sources

#10834 .github/dependabot.yml: restrict hibernate updates
  .github/dependabot.yml
Labels: code task, 1 APPROVAL

#10537 Optimize count-only Solr queries
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, backend: Solr, 1 APPROVAL

#10528 fix Solr queries in SolrAuthority: use `OR` instead of `or` as boolean operator
  dspace-api/src/main/java/org/dspace/content/authority/SolrAuthority.java
Labels: backend: Solr, 1 APPROVAL

#10873 .github/dependabot.yml: update hibernate group
  .github/dependabot.yml
Labels: dependencies, 1 APPROVAL

#10548 Replace duplicated literals with manifest constants
  dspace-api/src/main/java/org/dspace/app/itemimport/ItemImportServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/itemupdate/AddBitstreamsAction.java
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/LicenseUtils.java
  dspace-api/src/main/java/org/dspace/contentreport/Filter.java
  dspace-api/src/test/java/org/dspace/content/ItemTest.java
  dspace-api/src/test/java/org/dspace/content/LicenseUtilsTest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
Labels: code task, quick win, 1 APPROVAL, api, java

#10872 [dspace-7_x] Remove `commons-fileupload` as it is no longer used.
  dspace-api/pom.xml
  dspace-sword/pom.xml
  pom.xml
Labels: code task, dependencies, 1 APPROVAL

#10553 Optimization of Solr Queries: Transition to Filter Queries
  dspace-api/src/main/java/org/dspace/app/sitemap/GenerateSitemaps.java
  dspace-api/src/main/java/org/dspace/app/solrdatabaseresync/SolrDatabaseResyncCli.java
  dspace-api/src/main/java/org/dspace/browse/SolrBrowseDAO.java
  dspace-api/src/main/java/org/dspace/discovery/SolrSearchCore.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
Labels: backend: Solr, 1 APPROVAL, performance / caching, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#10550 improve robustness of search in index field submit (use filter query)
  dspace-api/src/main/java/org/dspace/content/EntityTypeServiceImpl.java
Labels: code task, backend: Solr, 1 APPROVAL, performance / caching, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#10591 [Port dspace-7_x] Optimize count-only Solr queries
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: backend: Solr, 1 APPROVAL, performance / caching

#10894 [Port dspace-8_x] Optimize count-only Solr queries
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: backend: Solr, 1 APPROVAL, performance / caching

#10893 [Port dspace-9_x] Optimize count-only Solr queries
  dspace-api/src/main/java/org/dspace/authorize/AuthorizeServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: backend: Solr, 1 APPROVAL, performance / caching

#10870 Remove duplicate maxRetry bean definitions
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace/config/spring/api/ads-integration.xml
  dspace/config/spring/api/arxiv-integration.xml
  dspace/config/spring/api/cinii-integration.xml
  dspace/config/spring/api/crossref-integration.xml
  dspace/config/spring/api/epo-integration.xml
  dspace/config/spring/api/openaire-integration.xml
  dspace/config/spring/api/pubmed-integration.xml
  dspace/config/spring/api/pubmedeurope-integration.xml
  dspace/config/spring/api/scopus-integration.xml
  dspace/config/spring/api/vufind-integration.xml
Labels: bug, code task, tools: import, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x, port to dspace-9_x

#10874 dspace-api: improve date parsing for Solr sort indexes
  dspace-api/src/main/java/org/dspace/sort/OrderFormatDate.java
Labels: component: Discovery, 1 APPROVAL, port to dspace-9_x

#10951 [Port dspace-8_x] Allow collection admins to add new policies for bitstreams
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicyServiceImpl.java
  dspace-api/src/main/java/org/dspace/core/Utils.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ResourcePolicyRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ResourcePolicyAdminPermissionEvalutatorPlugin.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/ResourcePolicyRestPermissionEvaluatorPlugin.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResourcePolicyRestRepositoryIT.java
Labels: bug, authorization

#10895 [Port dspace-8_x] filter-media: make POI record buffer size adjustable.
  dspace-api/src/main/java/org/dspace/app/mediafilter/TikaTextExtractionFilter.java
  dspace/config/dspace.cfg
Labels: improvement, tools: media-filters, api, java

#10897 filter-media: also apply max-array when using temp files
  dspace-api/src/main/java/org/dspace/app/mediafilter/TikaTextExtractionFilter.java
Labels: improvement, tools: media-filters, api, java

#10898 [Port dspace-9_x] filter-media: also apply max-array when using temp files
  dspace-api/src/main/java/org/dspace/app/mediafilter/TikaTextExtractionFilter.java
Labels: improvement, tools: media-filters, api, java

#10965 [Port dspace-8_x] dspace-api: improve date parsing for Solr sort indexes
  dspace-api/src/main/java/org/dspace/sort/OrderFormatDate.java
Labels: component: Discovery, 1 APPROVAL

#10967 Update old wiki references in docs
  CONTRIBUTING.md
  README.md
  dspace-api/src/main/java/org/dspace/content/service/BitstreamService.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/README.md
  dspace-api/src/test/java/org/dspace/app/itemexport/ItemExportCLIIT.java
  dspace-api/src/test/java/org/dspace/app/itemimport/ItemImportCLIIT.java
  dspace-api/src/test/java/org/dspace/content/packager/ITDSpaceAIP.java
  dspace-server-webapp/src/test/java/org/dspace/app/itemexport/ItemExportIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/itemimport/ItemImportIT.java
  dspace-services/src/main/javadoc/overview.html
  dspace/config/dspace.cfg
  dspace/src/main/docker-compose/README.md
  dspace/src/main/docker/README.md
  dspace/src/main/docker/dspace-shibboleth/Dockerfile
Labels: 1 APPROVAL, documentation, port to dspace-9_x

#9966 [Port dspace-7_x] Accessibility settings metadata field
  dspace/config/registries/dspace-types.xml
Labels: bug, high priority
