Repository DSpace/DSpace, pull requests merged in 2025-01, with the labels that each got.

#10157 remove deprecated constructor call in org.dspace.curate.Curation
  dspace-api/src/main/java/org/dspace/curate/Curation.java
Labels: code task, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10104 style.xsl: fix missing +1 offset in result-count template
  dspace-oai/src/main/resources/static/style.xsl
Labels: bug, interface: OAI-PMH, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10182 [Port dspace-8_x] Bugfix: Enforce unique item id in workspace table (#9340)
  dspace-api/src/main/java/org/dspace/content/WorkspaceItemServiceImpl.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2024.12.17__workspaceitem_add_item_id_unique_constraint.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2024.12.17__workspaceitem_add_item_id_unique_constraint.sql
  dspace-api/src/test/java/org/dspace/content/WorkspaceItemTest.java
  dspace-api/src/test/java/org/dspace/workflow/MockWorkflowItem.java
Labels: bug, component: submission, 1 APPROVAL

#10183 [Port dspace-7_x] Bugfix: Enforce unique item id in workspace table (#9340)
  dspace-api/src/main/java/org/dspace/content/WorkspaceItemServiceImpl.java
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/h2/V7.6_2024.12.17__workspaceitem_add_item_id_unique_constraint.sql
  dspace-api/src/main/resources/org/dspace/storage/rdbms/sqlmigration/postgres/V7.6_2024.12.17__workspaceitem_add_item_id_unique_constraint.sql
  dspace-api/src/test/java/org/dspace/content/WorkspaceItemTest.java
  dspace-api/src/test/java/org/dspace/workflow/MockWorkflowItem.java
Labels: bug, component: submission, 1 APPROVAL

#10189 switch IT search core to MockSolrSearchCore
  dspace-api/src/test/java/org/dspace/content/VersioningWithRelationshipsIT.java
Labels: bug, code task, 1 APPROVAL, testing framework, port to dspace-7_x, port to dspace-8_x

#9752 Orcid revoke token feature
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClient.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClientImpl.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidConfiguration.java
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidSynchronizationServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
  dspace/config/modules/orcid.cfg
  dspace/config/spring/api/orcid-services.xml
Labels: improvement, integration: ORCID, 1 APPROVAL

#9751 [Port dspace-8_x] Orcid revoke token feature
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClient.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClientImpl.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidConfiguration.java
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidSynchronizationServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
  dspace/config/modules/orcid.cfg
  dspace/config/spring/api/orcid-services.xml
Labels: improvement, integration: ORCID

#9724 [Port dspace-7_x] Orcid revoke token feature
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClient.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClientImpl.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidConfiguration.java
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidSynchronizationServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ResearcherProfileRestRepositoryIT.java
  dspace/config/modules/orcid.cfg
  dspace/config/spring/api/orcid-services.xml
Labels: improvement, integration: ORCID, authentication: general

#10193 Refactor AbstractIntegrationTestWithDatabase to use EPersonBuilder for test users
  dspace-api/src/test/java/org/dspace/AbstractIntegrationTestWithDatabase.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/test/AbstractWebClientIntegrationTest.java
Labels: code task, 1 APPROVAL, testing framework, port to dspace-7_x, port to dspace-8_x

#9687 Scopus metadata import: put DOIs in dc.relation.hasversion
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ScopusImportMetadataSourceServiceIT.java
  dspace/config/spring/api/scopus-integration.xml
Labels: bug, identifier: DOIs, 1 APPROVAL, tools: import-sources, port to dspace-7_x, port to dspace-8_x

#9690 exclude submitter information in solr indexing
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
  dspace/config/modules/discovery.cfg
Labels: bug, improvement, high priority, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10200 [Port dspace-7_x] option to exclude the submitter being indexed to solr in archived items
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-api/src/test/java/org/dspace/discovery/DiscoveryIT.java
  dspace/config/modules/discovery.cfg
Labels: bug, improvement, high priority, 1 APPROVAL

#10205 [Port dspace-7_x] Create `dependabot.yml` to auto-update Maven dependencies
  .github/dependabot.yml
Labels: dependencies, 1 APPROVAL

#10204 [Port dspace-8_x] Create `dependabot.yml` to auto-update Maven dependencies
  .github/dependabot.yml
Labels: dependencies, 1 APPROVAL

#10215 Enable dependabot dependency updates for 8.x and 7.x
  .github/dependabot.yml
Labels: code task, dependencies, 1 APPROVAL

#10243 Update dependabot rules for 7.x to ignore incompatible dependencies
  .github/dependabot.yml
Labels: 1 APPROVAL

#10209 Avoid IllegalArgumentException thrown during creating a new version in special DSpace settings
  dspace-api/src/main/java/org/dspace/identifier/VersionedDOIIdentifierProvider.java
Labels: bug, component: versioning, identifier: DOIs, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#9718 Handles versioning for ORCID publications.
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/orcid/consumer/OrcidQueueConsumer.java
  dspace-api/src/main/java/org/dspace/orcid/dao/OrcidQueueDAO.java
  dspace-api/src/main/java/org/dspace/orcid/dao/impl/OrcidQueueDAOImpl.java
  dspace-api/src/main/java/org/dspace/orcid/service/OrcidQueueService.java
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidQueueServiceImpl.java
  dspace-api/src/main/java/org/dspace/versioning/VersioningConsumer.java
  dspace-api/src/test/java/org/dspace/content/service/ItemServiceIT.java
  dspace-api/src/test/java/org/dspace/orcid/OrcidQueueConsumerIT.java
Labels: bug, component: versioning, integration: ORCID, 1 APPROVAL

#9723 [Port dspace-8_x] Handles versioning for ORCID publications.
  dspace-api/src/main/java/org/dspace/content/ItemServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/ItemService.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/ItemIndexFactoryImpl.java
  dspace-api/src/main/java/org/dspace/orcid/consumer/OrcidQueueConsumer.java
  dspace-api/src/main/java/org/dspace/orcid/dao/OrcidQueueDAO.java
  dspace-api/src/main/java/org/dspace/orcid/dao/impl/OrcidQueueDAOImpl.java
  dspace-api/src/main/java/org/dspace/orcid/service/OrcidQueueService.java
  dspace-api/src/main/java/org/dspace/orcid/service/impl/OrcidQueueServiceImpl.java
  dspace-api/src/main/java/org/dspace/versioning/VersioningConsumer.java
  dspace-api/src/test/java/org/dspace/content/service/ItemServiceIT.java
  dspace-api/src/test/java/org/dspace/orcid/OrcidQueueConsumerIT.java
Labels: bug, high priority, integration: ORCID, 1 APPROVAL, authentication: general

#10299 Remove outdated, unused Google Analytics APIs.
  .github/dependabot.yml
  dspace-api/pom.xml
  pom.xml
Labels: dependencies, 1 APPROVAL, port to dspace-8_x

#10316 [Port dspace-8_x] Remove outdated, unused Google Analytics APIs.
  .github/dependabot.yml
  dspace-api/pom.xml
  pom.xml
Labels: dependencies, 1 APPROVAL

#10158 Processes should only be failed after a Tomcat restart
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/service/ProcessService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessRestRepository.java
Labels: bug, high priority, tools: processes, claimed: Atmire, port to dspace-7_x, port to dspace-8_x

#10319 [Port dspace-8_x] Processes should only be failed after a Tomcat restart
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/service/ProcessService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessRestRepository.java
Labels: bug, high priority, tools: processes

#10320 [Port dspace-7_x] Processes should only be failed after a Tomcat restart
  dspace-api/src/main/java/org/dspace/scripts/ProcessServiceImpl.java
  dspace-api/src/main/java/org/dspace/scripts/service/ProcessService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/ProcessRestRepository.java
Labels: bug, high priority, tools: processes

#9950 added expunge request param and enabled workflowitem delete based on it
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
Labels: bug, component: workflow, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10330 [Port dspace-7_x] added expunge request param and enabled workflowitem delete based on it
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
Labels: bug, component: workflow, 1 APPROVAL

#10329 [Port dspace-8_x] added expunge request param and enabled workflowitem delete based on it
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/WorkflowItemRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/WorkflowItemRestRepositoryIT.java
Labels: bug, component: workflow, 1 APPROVAL

#9835 On error in DOI Organiser bulk operations, continue instead of panic-stopping.
  dspace-api/src/main/java/org/dspace/identifier/doi/DOIOrganiser.java
  dspace-api/src/main/java/org/dspace/identifier/doi/package-info.java
  dspace-api/src/main/java/org/dspace/identifier/ezid/package-info.java
Labels: bug, improvement, identifier: DOIs, error handling, performance / caching, java, port to dspace-7_x, port to dspace-8_x

#10331 Remove unused configuration `csvexport.dir`
  dspace-api/src/test/data/dspaceFolder/config/local.cfg
  dspace/config/dspace.cfg
Labels: code task, configuration, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10031 Allow remote debugging (replacing CATALINA_OPTS with JAVA_TOOL_OPTIONS)
  Dockerfile.test
Labels: backend: Docker, 1 APPROVAL, port to dspace-8_x

#10117 ArXiv Live Import - Author mapping fix (8_x)
  dspace/config/spring/api/arxiv-integration.xml
Labels: bug, port to main, tools: import-sources

#10111 [Port dspace-7_x] ArXiv Live Import - Author mapping fix
  dspace/config/spring/api/arxiv-integration.xml
Labels: bug, 1 APPROVAL, tools: import-sources
