Repository DSpace/DSpace, pull requests merged in 2025-10, with the labels that each got.

#11396 [Port dspace-7_x] Fix Hibernate syntax bugs in the CollectionDAO and BitstreamDAO
  dspace-api/src/main/java/org/dspace/content/dao/impl/BitstreamDAOImpl.java
  dspace-api/src/main/java/org/dspace/content/dao/impl/CollectionDAOImpl.java
  dspace-api/src/main/java/org/dspace/core/AbstractHibernateDAO.java
Labels: bug, quick win, backend: Hibernate, 1 APPROVAL

#11321 DS-8943: adds limit to number of typed links to bitstreams in header
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/service/impl/LinksetServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
  dspace/config/modules/signposting.cfg
Labels: bug, high priority, performance / caching, port to dspace-7_x, component: Signposting, port to dspace-8_x, port to dspace-9_x

#11403 [Port dspace-7_x] DS-8943: adds limit to number of typed links to bitstreams in header
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/service/impl/LinksetServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
  dspace/config/modules/signposting.cfg
Labels: bug, high priority, performance / caching, component: Signposting

#11402 [Port dspace-8_x] DS-8943: adds limit to number of typed links to bitstreams in header
  dspace-server-webapp/src/main/java/org/dspace/app/rest/signposting/service/impl/LinksetServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/signposting/controller/LinksetRestControllerIT.java
  dspace/config/modules/signposting.cfg
Labels: bug, high priority, performance / caching, component: Signposting

#10532 Handles Rotation EXIF Metadata inside JPEGFilter
  dspace-api/src/main/java/org/dspace/app/mediafilter/BrandedPreviewJPEGFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/JPEGFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/PDFBoxThumbnail.java
  dspace-api/src/test/java/org/dspace/app/mediafilter/JPEGFilterTest.java
  dspace-api/src/test/resources/org/dspace/app/mediafilter/cat-rotated-90.jpg
  dspace-api/src/test/resources/org/dspace/app/mediafilter/cat.jpg
Labels: bug, tools: media-filters, port to dspace-9_x

#10533 [dspace-8_x] Handles Rotation EXIF Metadata inside JPEGFilter
  dspace-api/src/main/java/org/dspace/app/mediafilter/BrandedPreviewJPEGFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/JPEGFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/PDFBoxThumbnail.java
  dspace-api/src/test/java/org/dspace/app/mediafilter/JPEGFilterTest.java
  dspace-api/src/test/resources/org/dspace/app/mediafilter/cat-rotated-90.jpg
  dspace-api/src/test/resources/org/dspace/app/mediafilter/cat.jpg
Labels: bug, tools: media-filters

#10534 [dspace-7_x] Handles Rotation EXIF Metadata inside JPEGFilter
  dspace-api/src/main/java/org/dspace/app/mediafilter/BrandedPreviewJPEGFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/JPEGFilter.java
  dspace-api/src/main/java/org/dspace/app/mediafilter/PDFBoxThumbnail.java
  dspace-api/src/test/java/org/dspace/app/mediafilter/JPEGFilterTest.java
  dspace-api/src/test/resources/org/dspace/app/mediafilter/cat-rotated-90.jpg
  dspace-api/src/test/resources/org/dspace/app/mediafilter/cat.jpg
Labels: bug, tools: media-filters
