Repository DSpace/DSpace, pull requests merged in 2025-04, with the labels that each got.

#9753 Make bulk edit compatible with controlled vocabularies
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataImport.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataEditControlledVocabularyIT.java
Labels: bug, needs discussion, tools: batch-editing, 1 APPROVAL, component: controlled vocabulary, component: authority control

#9876 Fix DSpace startup failures when ORCID http connections fail
  dspace-api/src/main/java/org/dspace/authority/orcid/Orcidv3SolrAuthorityImpl.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/OrcidV3AuthorDataProvider.java
  dspace-api/src/main/java/org/dspace/orcid/model/factory/OrcidFactoryUtils.java
  dspace-api/src/test/data/dspaceFolder/config/spring/api/orcid-authority-services.xml
  dspace-api/src/test/java/org/dspace/authority/orcid/MockOrcid.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/VocabularyRestRepositoryIT.java
Labels: bug, high priority, integration: ORCID, port to dspace-7_x, port to dspace-8_x

#10565 [GitHub Actions] Update Docker scripts to use new Ubuntu ARM64 runner instead of emulation
  .github/workflows/reusable-docker-build.yml
Labels: code task, backend: Docker, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10567 [Port dspace-7_x][GitHub Actions] Update Docker scripts to use new Ubuntu ARM64 runner instead of emulation
  .github/workflows/reusable-docker-build.yml
Labels: code task, backend: Docker, 1 APPROVAL

#10568 Remove unused, unmaintained SWORD v1 client code
  dspace-sword/src/main/java/org/purl/sword/client/Client.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientConstants.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientFactory.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientOptions.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientType.java
  dspace-sword/src/main/java/org/purl/sword/client/CmdClient.java
  dspace-sword/src/main/java/org/purl/sword/client/DebugOutputStream.java
  dspace-sword/src/main/java/org/purl/sword/client/MessageOutputPanel.java
  dspace-sword/src/main/java/org/purl/sword/client/PostDestination.java
  dspace-sword/src/main/java/org/purl/sword/client/PostDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/PostMessage.java
  dspace-sword/src/main/java/org/purl/sword/client/PropertiesDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDClient.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDClientException.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDComboBox.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDFormPanel.java
  dspace-sword/src/main/java/org/purl/sword/client/ServiceDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/ServicePanel.java
  dspace-sword/src/main/java/org/purl/sword/client/ServiceSelectedListener.java
  dspace-sword/src/main/java/org/purl/sword/client/Status.java
Labels: code task, interface: SWORD, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10569 [Port dspace-8_x] Remove unused, unmaintained SWORD v1 client code
  dspace-sword/src/main/java/org/purl/sword/client/Client.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientConstants.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientFactory.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientOptions.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientType.java
  dspace-sword/src/main/java/org/purl/sword/client/CmdClient.java
  dspace-sword/src/main/java/org/purl/sword/client/DebugOutputStream.java
  dspace-sword/src/main/java/org/purl/sword/client/MessageOutputPanel.java
  dspace-sword/src/main/java/org/purl/sword/client/PostDestination.java
  dspace-sword/src/main/java/org/purl/sword/client/PostDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/PostMessage.java
  dspace-sword/src/main/java/org/purl/sword/client/PropertiesDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDClient.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDClientException.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDComboBox.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDFormPanel.java
  dspace-sword/src/main/java/org/purl/sword/client/ServiceDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/ServicePanel.java
  dspace-sword/src/main/java/org/purl/sword/client/ServiceSelectedListener.java
  dspace-sword/src/main/java/org/purl/sword/client/Status.java
Labels: code task, interface: SWORD, 1 APPROVAL

#10570 [Port dspace-7_x] Remove unused, unmaintained SWORD v1 client code
  dspace-sword/src/main/java/org/purl/sword/client/Client.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientConstants.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientFactory.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientOptions.java
  dspace-sword/src/main/java/org/purl/sword/client/ClientType.java
  dspace-sword/src/main/java/org/purl/sword/client/CmdClient.java
  dspace-sword/src/main/java/org/purl/sword/client/DebugOutputStream.java
  dspace-sword/src/main/java/org/purl/sword/client/MessageOutputPanel.java
  dspace-sword/src/main/java/org/purl/sword/client/PostDestination.java
  dspace-sword/src/main/java/org/purl/sword/client/PostDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/PostMessage.java
  dspace-sword/src/main/java/org/purl/sword/client/PropertiesDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDClient.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDClientException.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDComboBox.java
  dspace-sword/src/main/java/org/purl/sword/client/SWORDFormPanel.java
  dspace-sword/src/main/java/org/purl/sword/client/ServiceDialog.java
  dspace-sword/src/main/java/org/purl/sword/client/ServicePanel.java
  dspace-sword/src/main/java/org/purl/sword/client/ServiceSelectedListener.java
  dspace-sword/src/main/java/org/purl/sword/client/ServletClient.java
  dspace-sword/src/main/java/org/purl/sword/client/Status.java
Labels: code task, interface: SWORD, 1 APPROVAL

#10576 Set Dependabot to always run to 2am UTC
  .github/dependabot.yml
Labels: code task, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10564 Request-a-copy Captcha implementation bugfixes
  dspace-api/src/main/java/org/dspace/eperson/factory/CaptchaServiceFactory.java
  dspace-api/src/main/java/org/dspace/eperson/factory/CaptchaServiceFactoryImpl.java
  dspace-api/src/test/java/org/dspace/eperson/AltchaCaptchaServiceTest.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/AltchaCaptchaRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RequestItemRepository.java
  dspace/config/dspace.cfg
  dspace/config/modules/altcha.cfg
  dspace/config/modules/requestitem.cfg
Labels: bug

#10580 Removal of sword-client.cfg
  dspace/config/dspace.cfg
  dspace/config/modules/sword-client.cfg
Labels: 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10563 Replace OAI templating with Thymeleaf
  LICENSES_THIRD_PARTY
  dspace-oai/pom.xml
  dspace-oai/src/main/java/org/dspace/app/configuration/OAIWebConfig.java
  dspace-oai/src/main/resources/templates/index.html
  dspace-oai/src/main/resources/templates/index.twig.html
Labels: quick win, high priority, interface: OAI-PMH, port to dspace-8_x

#10587 Translate null email message parameters to "".
  dspace-api/src/main/java/org/dspace/core/Email.java
  dspace-api/src/test/java/org/dspace/core/EmailTest.java
Labels: improvement, backend: email-system, 1 APPROVAL, api, java, port to dspace-8_x

#10590 Fix: user to register several times using the same email address
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RegistrationRestRepository.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/RegistrationRestRepositoryIT.java
Labels: bug, 1 APPROVAL, authentication: general

#10519 Fix metadata browsing in descending order using a json.facet to retrieve index values
  dspace-api/src/main/java/org/dspace/browse/SolrBrowseDAO.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BrowsesResourceControllerIT.java
Labels: bug, component: Discovery, port to dspace-7_x, port to dspace-8_x

#10599 Fix login endpoints not automatically closing their Context
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/CustomLogoutHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestAuthenticationProvider.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/OidcLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenRestAuthenticationServiceImpl.java
Labels: bug, high priority, interface: REST API v7+, performance / caching, authentication: general, port to dspace-7_x, port to dspace-8_x

#10627 Update to Solr 9 compatibility
  docker-compose.yml
  dspace-api/src/main/java/org/dspace/authorize/ResourcePolicy.java
  dspace-api/src/main/java/org/dspace/discovery/indexobject/IndexFactoryImpl.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportFilteredItemsReportIT.java
  dspace/solr/qaevent/conf/solrconfig.xml
  dspace/solr/search/conf/solrconfig.xml
  dspace/solr/suggestion/conf/solrconfig.xml
  dspace/src/main/docker/dspace-solr/Dockerfile
Labels: high priority, dependencies, 1 APPROVAL, needs documentation

#10631 [Port dspace-8_x] Fix login endpoints not automatically closing their Context
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/CustomLogoutHandler.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/EPersonRestAuthenticationProvider.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/OidcLoginFilter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/security/jwt/JWTTokenRestAuthenticationServiceImpl.java
Labels: bug, high priority, interface: REST API v7+, performance / caching, authentication: general

#10633 ExternalDataServiceImpl: fix log message (add missing space)
  dspace-api/src/main/java/org/dspace/external/service/impl/ExternalDataServiceImpl.java
Labels: code task, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10505 Fix incorrect parsing of access-status metadata
  dspace/config/crosswalks/oai/metadataFormats/dim.xsl
Labels: bug, high priority, interface: OAI-PMH, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10644 [Port dspace-8_x] restrict maximum value of URL parameter `rpp` in OpenSearchController to a reasonable default
  dspace-api/src/main/java/org/dspace/app/util/OpenSearchServiceImpl.java
  dspace-api/src/main/java/org/dspace/app/util/service/OpenSearchService.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/OpenSearchController.java
  dspace/config/dspace.cfg
Labels: bug, high priority, 1 APPROVAL, performance / caching

#9924 Add `eDisMax` compatibility for filter queries
  dspace-api/src/main/java/org/dspace/app/statistics/LogAnalyser.java
  dspace-api/src/main/java/org/dspace/browse/SolrBrowseDAO.java
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
  dspace-api/src/main/java/org/dspace/search/Harvest.java
  dspace-api/src/main/java/org/dspace/statistics/StatisticsLoggingConsumer.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsBSAdapter.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataSearches.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataVisits.java
  dspace-api/src/main/java/org/dspace/statistics/content/StatisticsDataWorkflow.java
  dspace-api/src/test/java/org/dspace/app/bulkedit/MetadataExportSearchIT.java
Labels: improvement, backend: Solr

#10643 Fix NPE in RSS/Atom feeds which occurs when invalid date is encountered
  dspace-api/src/main/java/org/dspace/app/util/SyndicationFeed.java
Labels: bug, 1 APPROVAL, integration: syndication feed

#10636 Fix: import public email from ORCID person
  dspace-api/src/main/java/org/dspace/external/provider/impl/OrcidV3AuthorDataProvider.java
  dspace-api/src/test/java/org/dspace/external/provider/impl/OrcidV3AuthorDataProviderTest.java
  dspace-api/src/test/resources/org/dspace/external/provider/orcid-v3-author/person1.xml
  dspace-api/src/test/resources/org/dspace/external/provider/orcid-v3-author/person2.xml
  dspace-api/src/test/resources/org/dspace/external/provider/orcid-v3-author/person3.xml
  dspace-api/src/test/resources/org/dspace/external/provider/orcid-v3-author/search.xml
Labels: bug, integration: ORCID, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10669 Make DiscoveryConfigurationService "get all facet configs" return UNIQUE set
  dspace-api/src/main/java/org/dspace/content/authority/ChoiceAuthorityServiceImpl.java
  dspace-api/src/main/java/org/dspace/discovery/configuration/DiscoveryConfigurationService.java
Labels: quick win, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10030 support a configurable limit for exporting items as it can take a up a huge amount of resources
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportFilteredItemsReport.java
  dspace-api/src/main/java/org/dspace/app/bulkedit/MetadataExportSearch.java
  dspace-api/src/main/java/org/dspace/content/MetadataDSpaceCsvExportServiceImpl.java
  dspace-api/src/main/java/org/dspace/content/service/MetadataDSpaceCsvExportService.java
  dspace-api/src/test/java/org/dspace/content/MetadataDSpaceCsvExportServiceImplIT.java
  dspace/config/modules/bulkedit.cfg
  dspace/config/modules/rest.cfg
Labels: improvement, high priority, tools: export, 1 APPROVAL, performance / caching, claimed: Atmire, port to dspace-7_x, port to dspace-8_x

#10639 Proxy Configuration and Connection Leak using HTTP Clients
  checkstyle-suppressions.xml
  checkstyle.xml
  dspace-api/pom.xml
  dspace-api/src/main/java/org/dspace/app/client/DSpaceHttpClientFactory.java
  dspace-api/src/main/java/org/dspace/app/client/DSpaceProxyRoutePlanner.java
  dspace-api/src/main/java/org/dspace/app/ldn/action/SendLDNMessageAction.java
  dspace-api/src/main/java/org/dspace/app/sherpa/SHERPAService.java
  dspace-api/src/main/java/org/dspace/app/util/WebAppServiceImpl.java
  dspace-api/src/main/java/org/dspace/authenticate/oidc/impl/OidcClientImpl.java
  dspace-api/src/main/java/org/dspace/content/packager/AbstractMETSIngester.java
  dspace-api/src/main/java/org/dspace/ctask/general/BasicLinkChecker.java
  dspace-api/src/main/java/org/dspace/ctask/general/MetadataWebService.java
  dspace-api/src/main/java/org/dspace/ctask/general/MicrosoftTranslator.java
  dspace-api/src/main/java/org/dspace/eperson/CaptchaServiceImpl.java
  dspace-api/src/main/java/org/dspace/external/OpenaireRestConnector.java
  dspace-api/src/main/java/org/dspace/external/OrcidRestConnector.java
  dspace-api/src/main/java/org/dspace/external/provider/impl/OrcidV3AuthorDataProvider.java
  dspace-api/src/main/java/org/dspace/google/client/GoogleAnalyticsClientImpl.java
  dspace-api/src/main/java/org/dspace/identifier/doi/DataCiteConnector.java
  dspace-api/src/main/java/org/dspace/identifier/ezid/EZIDRequest.java
  dspace-api/src/main/java/org/dspace/iiif/IIIFApiQueryServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/liveimportclient/service/LiveImportClientImpl.java
  dspace-api/src/main/java/org/dspace/license/CCLicenseConnectorServiceImpl.java
  dspace-api/src/main/java/org/dspace/orcid/client/OrcidClientImpl.java
  dspace-api/src/main/java/org/dspace/orcid/model/factory/OrcidFactoryUtils.java
  dspace-api/src/main/java/org/dspace/qaevent/service/impl/QAEventActionServiceImpl.java
  dspace-api/src/main/java/org/dspace/service/impl/HttpConnectionPoolService.java
  dspace-api/src/main/java/org/dspace/statistics/SolrLoggerServiceImpl.java
  dspace-api/src/main/java/org/dspace/statistics/export/service/OpenUrlServiceImpl.java
  dspace-api/src/test/java/org/dspace/app/client/DSpaceHttpClientFactoryTest.java
  dspace-api/src/test/java/org/dspace/statistics/export/service/OpenUrlServiceImplTest.java
  dspace/config/dspace.cfg
  dspace/config/spring/api/core-services.xml
  pom.xml
Labels: bug, tools: import-sources, port to dspace-7_x, affects: 7.x, affects: 8.x, affects: main, port to dspace-8_x

#10640 Improve CLI RegistryLoader, InitializeEntities, Curation commands
  dspace-api/src/main/java/org/dspace/administer/RegistryLoader.java
  dspace-api/src/main/java/org/dspace/app/util/InitializeEntities.java
  dspace-api/src/main/java/org/dspace/curate/Curation.java
Labels: quick win, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10675 Resolving XML external entity in user-controlled data in PubMedImport
  dspace-api/src/main/java/org/dspace/importer/external/pubmed/service/PubmedImportMetadataSourceServiceImpl.java
Labels: bug, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10608 Fixes access information at file level when embargoes are expired
  dspace-oai/src/main/java/org/dspace/xoai/util/ItemUtils.java
Labels: bug, 1 APPROVAL, integration: OpenAIRE, port to dspace-8_x

#10668 Fix Collection Admin cannot see withdrawn item metadata
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/ItemConverter.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ItemRestRepositoryIT.java
Labels: bug, authorization, testathon, port to dspace-7_x, port to dspace-8_x

#10351 Index discovery speed improvement - periodically uncache entities when processing many items [main]
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, component: Discovery, 1 APPROVAL, performance / caching

#10352 [Port dspace-8_x] Index discovery speed improvement - periodically uncache entities when processing many items
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: bug, component: Discovery, 1 APPROVAL, performance / caching
