Repository DSpace/DSpace, pull requests merged in 2025-02, with the labels that each got.

#10293 Fix ClamAV curation task crashing on exceptions instead of ending gracefully
  dspace-api/src/main/java/org/dspace/ctask/general/ClamScan.java
Labels: bug, tools: curation-tasks, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10359 [Port dspace-8_x] Fix ClamAV curation task crashing on exceptions instead of ending gracefully
  dspace-api/src/main/java/org/dspace/ctask/general/ClamScan.java
Labels: bug, tools: curation-tasks, 1 APPROVAL

#9856 Provide a setting to use a different REST url during SSR execution
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RootRestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RootConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RootRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/converter/RootConverterTest.java
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
Labels: high priority, performance / caching

#10378 [Port dspace-7_x] Provide a setting to use a different REST url during SSR execution
  dspace-server-webapp/src/main/java/org/dspace/app/rest/RootRestResourceController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/RootConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/repository/RootRestRepository.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/Utils.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/AuthorizationRestRepositoryIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/converter/RootConverterTest.java
  dspace/config/dspace.cfg
  dspace/config/local.cfg.EXAMPLE
Labels: high priority, performance / caching

#10381 Remove unused/unnecessary dependencies : `byte-buddy` and `joda-time`
  dspace-api/src/main/java/org/dspace/access/status/DefaultAccessStatusHelper.java
  pom.xml
Labels: code task, dependencies, 1 APPROVAL, port to dspace-7_x, port to dspace-8_x

#10383 [Port dspace-7_x] Remove unused/unnecessary dependencies : `byte-buddy`
  pom.xml
Labels: code task, dependencies, 1 APPROVAL

#9909 [Port dspace-7_x] Fixing Crossref document type issue with new metadata mapping processor
  dspace-api/src/main/java/org/dspace/importer/external/metadatamapping/transform/StringJsonValueMappingMetadataProcessorService.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/CrossRefImportMetadataSourceServiceIT.java
  dspace/config/crosswalks/mapConverter-crossref-to-dspace-publication-type.properties
  dspace/config/spring/api/crossref-integration.xml
Labels: bug, 1 APPROVAL, tools: import-sources

#10128 OpenAIRE v4 compliance updates
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
  dspace/config/item-submission.xml
  dspace/config/submission-forms.xml
Labels: bug, interface: OAI-PMH, integration: Creative Commons, claimed: Atmire, integration: OpenAIRE

#10175 [Port dspace-8_x] OpenAIRE v4 compliance updates
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
  dspace/config/item-submission.xml
  dspace/config/submission-forms.xml
Labels: bug, interface: OAI-PMH, integration: Creative Commons, claimed: Atmire, integration: OpenAIRE

#10174 [Port dspace-7_x] OpenAIRE v4 compliance updates
  dspace/config/crosswalks/oai/metadataFormats/oai_openaire.xsl
  dspace/config/item-submission.xml
  dspace/config/submission-forms.xml
Labels: bug, interface: OAI-PMH, integration: Creative Commons, claimed: Atmire, integration: OpenAIRE

#10406 Fix #10405 bug in log4j-cli
  dspace/config/log4j2-cli.xml
Labels: bug, port to main, 1 APPROVAL, error handling, port to dspace-7_x

#10169 expose search filterfacet isOpenByDefault as rest property
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverFacetConfigurationConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverFacetResultsConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/converter/DiscoverFacetsConverter.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/model/SearchFacetEntryRest.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/matcher/FacetEntryMatcher.java
Labels: new feature, component: Discovery, 1 APPROVAL

#10354 [Port dspace-8_x] BitstreamRestController etag/content-length calculation fix when coverpages are enabled
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamResource.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, interface: REST API v7+, 1 APPROVAL

#9895 [Port dspace-7_x] BitstreamRestController etag/content-length calculation fix when coverpages are enabled
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamResource.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, interface: REST API v7+, 1 APPROVAL

#9666 Bugfix: BitstreamRestController etag/content-length calculation incorrect when coverpages are enabled
  dspace-server-webapp/src/main/java/org/dspace/app/rest/BitstreamRestController.java
  dspace-server-webapp/src/main/java/org/dspace/app/rest/utils/BitstreamResource.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/BitstreamRestControllerIT.java
Labels: bug, high priority, interface: REST API v7+, 1 APPROVAL

#10170 extend datacite import for project entities
  dspace-api/src/main/java/org/dspace/importer/external/datacite/DataCiteImportMetadataSourceServiceImpl.java
  dspace-api/src/main/java/org/dspace/importer/external/datacite/DataCiteProjectFieldMapping.java
  dspace-api/src/main/java/org/dspace/importer/external/datacite/DataCiteProjectImportMetadataSourceServiceImpl.java
  dspace-api/src/main/resources/spring/spring-dspace-addon-import-services.xml
  dspace-api/src/test/data/dspaceFolder/config/spring/api/external-services.xml
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DataCiteImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/DataCiteProjectImportMetadataSourceServiceIT.java
  dspace-server-webapp/src/test/java/org/dspace/app/rest/ExternalSourcesRestControllerIT.java
  dspace-server-webapp/src/test/resources/org/dspace/app/rest/dataCiteProject-test.json
  dspace/config/modules/external-providers.cfg
  dspace/config/spring/api/datacite-integration.xml
  dspace/config/spring/api/external-services.xml
Labels: new feature, identifier: DOIs, tools: import-sources
